@charset "utf-8";

/*****************************************************/


/* * * Import
/*****************************************************/


/* @import url(//cdn.jsdelivr.net/nanumsquare/1.0/nanumsquare.css); */


/*****************************************************/


/* * * Reset
/*****************************************************/


/* @font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */


/* @import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap"); */


/* @import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); */

@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);

/* @font-face {font-family: 'Noto Sans Korean';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}

@font-face {font-family: 'Noto Sans Korean';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}

@font-face {font-family: 'Noto Sans Korean';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}

@font-face {font-family: 'Noto Sans Korean';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}

@font-face {font-family: 'Noto Sans Korean';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}

@font-face {font-family: 'Noto Sans Korean';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');} */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Noto Sans Korean', sans-serif;
}

dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
tbody,
tfoot,
thead,
th,
td {
  margin: 0;
  padding: 0
}

td,
th {
  color: #333;
  vertical-align: middle
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%
}

table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
}

ol,
ul,
li {
  list-style: none
}

hr {
  position: absolute;
  left: -5000px;
  top: 0;
  visibility: hidden;
  overflow: hidden;
  line-height: 0.1%;
  font-size: 0.1%;
  width: 0.1%;
  height: 0.1%
}

img {
  max-width: 100%;
}

img,
fieldset {
  border: 0
}

img {
  vertical-align: top
}

table img {
  vertical-align: middle
}

button {
  overflow: visible;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 0;
  line-height: 0;
  font-size: 0px;
  letter-spacing: 0px;
  word-spacing: 0px;
  cursor: pointer;
  background: none;
  vertical-align: top;
  text-align: left;
  font: 14px/22px 'NanumSquare', sans-serif;
  outline: none;
}

input,
textarea,
select,
label {
  font: 13px/25px 'NanumSquare', sans-serif;
  color: #333;
  vertical-align: middle;
}

select::-ms-expand {
  display: none;
}

input::-ms-clear {
  display: none;
}

address {
  font-style: normal
}

a {
  text-decoration: none;
  color: #333;
}

a:hover,
a:focus {
  text-decoration: none;
}

legend,
caption {
  visibility: hidden;
  overflow: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  padding: 0;
  margin: 0;
}


/*header*/

.header {
  width: 100%;
  min-width: 1200px;
  margin: auto;
  margin-top: 2rem;
}

.wrapper {
  width: 1200px;
  position: relative;
  margin: auto;
}

.header .left img {
  float: left;
}

.header .logo {
  display: inline-block;
  margin: 30px;
  margin-left: 268px
}

.header .logo img {
  vertical-align: bottom
}

.header .right {
  float: right;
  vertical-align: middle;
}

.header .right ul {
  display: flex;
  margin-top: 10px
}

.header .right ul li {
  padding-left: 8px;
}

.join {
  background-image: url(../../images/front/join.png);
  height: 30px;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
}

.login {
  background-image: url(../../images/front/login.png);
  height: 30px;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
}

.logout {
  background-image: url(../../images/front/ico_logout.png);
  height: 30px;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
}

.mypage {
  background-image: url(../../images/front/mypage.png);
  height: 30px;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
}

.nav {
  width: 100%;
  position: relative;
  margin: auto;
  border-top: 1px solid rgb(213, 213, 213);
  border-bottom: 1px solid rgb(213, 213, 213);
  min-width: 1200px;
  box-sizing: border-box;
}

.gnb {
  display: flex;
  width: 1200px;
  margin: auto;
}

.gnb .li-header {
  padding: 8px 8px;
  width: 400px;
  text-align: center;
  font-size: 1.25rem;
  border-left: 1px solid rgb(213, 213, 213);
  box-sizing: border-box;
  z-index: 10;
}

.gnb .li-header:hover .li-header a {
  color: red;
}

.gnb .li-header:last-child {
  border-right: 1px solid rgb(213, 213, 213);
}

.gnb li a {
  text-align: center;
}

.gnb .on {
  color: red;
}

.gnb>li>a {
  width: 100%;
  height: 80px;
  color: black;
}

.gnb>li:hover>a {
  color: red;
}

.gnb.hover a {
  color: red;
}

.gnb ul {
  /* display: none; */
  /* position: absolute;
  top: 44px;
  left: 0; */
  width: 100%;
  background-color: rgb(245, 245, 245);
  min-width: 1200px;
}

.gnb-2depth {
  border-top: 1px solid #d5d5d5;
  background-color: rgb(245, 245, 245);
}

.gnb-2depth ul {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.gnb-2depth ul li {
  display: inline-block;
}

.gnb-2depth ul li a {
  display: inline-block;
  font-size: 18px;
  padding: 20px 36px;
  box-sizing: border-box;
}

.gnb-2depth ul li.on a {
  border-bottom: 3px solid red;
}

.gnb ul li:hover a {
  border-bottom: 3px solid red;
  padding-bottom: 10px;
}

.gnb ul li {
  margin: 0 25px;
  text-align: center;
  display: inline-block;
}

.gnb ul li a {
  height: 50px;
  padding: 0 7px;
  line-height: 50px;
  font-family: 'Noto Sans Korean';
}

.gnb>.on ul {
  display: inline;
  z-index: 30;
}

.gnb>.on .on {
  border-bottom: 3px solid red;
  z-index: -99993;
}

.gnb>.on .on :hover {
  border: none;
}

.gnb>.on a {
  position: relative;
}

.gnb>.on a:hover:after {
  width: 100%;
  color: red;
}

.gnb>.on>a {
  color: red;
}


/* .gnb>.on .on:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
} */

.gnb>.on.hover ul {
  display: block;
  z-index: 30;
}

.gnb>.on.hover ul {
  display: block
}


/*slide-banner*/

.slide-section {
  width: 100%;
  margin: 0 auto;
  position: relative;
  min-width: 1200px;
}

.slide-img {
  width: 100%;
  /* height: 500px; */
  margin: auto;
  /* background-image: url(../../images/front/slide-bg.png);
  text-indent: -9999px;
  background-position: bottom;
  background-repeat: no-repeat; */
  background-color: yellow;
}


/* .slide-img2 {
  width: 100%;
  height: 500px;
  margin: auto;
  background-image: url(../../images/front/slide-bg2.png);
  text-indent: -9999px;
  overflow: hidden;
  background-position: bottom;
  background-repeat: no-repeat;
} */

.checkbox-label label {
  /* font-size: 25px; */
  color: rgb(120, 120, 120);
  font-size: 16px;
  vertical-align: middle;
  font-family: 'Noto Sans Korean', sans-serif;
}

.checkbox-wrap {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.checkbox-wrap input[type=checkbox] {
  display: inline-block;
  top: 0;
  position: absolute;
}

.checkbox-wrap input[type=checkbox]+.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../../images/front/ck-icon2.png);
}

.checkbox-wrap input[type=checkbox]:checked+.icon {
  background-image: url(../../images/front/ck-icon.png);
}

.slide-section .main-dots .owl-dot {
  width: 3.125rem;
  height: 0.3125rem;
  border: 0.0625rem solid #490097;
  margin: 0 0.3125rem;
  border-radius: 0.3125rem;
}

.main-banner.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  right: 170px;
  top: 210px;
  background-image: url(../../images/front/next.png);
  width: 43px;
  height: 83px;
  text-indent: -9999px;
}

.main-banner.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  left: 170px;
  top: 210px;
  background-image: url(../../images/front/prev.png);
  width: 43px;
  height: 83px;
  text-indent: -9999px;
}

.main-banner .main-dot {
  position: absolute;
  left: 50%;
  bottom: 50px;
}

.main-banner .main-dot span {
  color: rgb(141, 159, 217);
}

.main-banner .main-dot button.owl-dot {
  border: 1px solid white;
  color: rgb(141, 159, 217);
  margin-left: 11px;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

.main-banner .main-dot .owl-dot.active {
  background-color: white;
}


/*section*/

.section {
  width: 100%;
  margin: auto;
  min-width: 1200px;
}

.sectionbg {
  background-image: url(../../images/front/section-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 650px;
  z-index: 10;
}

.sectionbg .wrapper {
  padding-top: 100px;
}

.speed-list {
  display: inline-block;
  width: 575px;
  height: 500px;
  /* float: left; */
  box-shadow: 0.9375rem 0.9375rem 1.25rem rgba(0, 0, 0, 0.15);
  vertical-align: top;
}

.speed-list ul {
  display: flex;
  border-bottom: 1px solid rgb(229, 229, 229);
}

.list-body>div:nth-last-of-type(1) {
  border-bottom: 0;
}

.speed-list .list-top {
  padding-top: 20px;
}

.speed-list .last-list {
  padding-bottom: 10px;
}

.speed-list ul {
  height: 55px;
}

.speed-list ul li {
  height: 31px;
  ;
  padding: 12px 10px;
  color: rgb(153, 153, 153);
  font-size: 0.9375rem;
}

.speed-list ul li:nth-child(2),
.speed-list ul li:nth-child(3) {
  color: #333;
}

.speed-list ul li .status {
  display: inline-block;
  color: white;
  background-color: #333;
  border-radius: 25px;
  text-align: center;
  padding: 4px 12px;
}

.list-header {
  display: block;
  background-color: red;
}

.list-header img {
  padding-left: 40px;
  margin-top: -29px;
  margin-bottom: 10px;
}

.speed-list .list-body {
  height: 402px;
}

.speed {
  /* padding-top: 10px; */
  padding: 10px;
  height: 392px;
  background-color: white;
}

.speed .list-body div>ul>li {
  flex: 1 1 10%;
  text-align: center;
}

.speed .list-body div>ul>li:last-child {
  flex: 1 1 15%;
}

.demo-video {
  display: inline-block;
  width: 575px;
  float: right;
}

.demo-video h3 {
  background-color: rgb(51, 51, 51);
  color: #ffffff;
  font-family: 'Noto Sans Korean', sans-serif;
  padding: 30px 0px;
  padding-left: 30px;
  font-size: 1.25rem;
}

.video {
  border: 1px solid gray;
  height: 410px;
}

.coin-bg {
  height: 151px;
  background-position: top;
  background-image: url(../../images/front/coin-bg.png);
  margin-top: -40px;
  background-repeat: no-repeat;
}

.step-list {
  background-color: rgb(246, 246, 246);
  height: 700px;
  position: relative;
  margin-top: -15px;
  z-index: -10;
}

.frist-list .frist-list-1 {
  position: absolute;
  top: 217px;
  left: 82px;
}

.frist-list .frist-list-2 {
  position: absolute;
  top: 217px;
  left: 320px;
}

.frist-list .frist-list-3 {
  position: absolute;
  top: 217px;
  left: 560px;
}

.frist-list .frist-list-4 {
  position: absolute;
  top: 217px;
  left: 800px;
}

.frist-list .frist-list-5 {
  position: absolute;
  top: 217px;
  left: 1040px;
}

.circle-list-1 {
  position: absolute;
  top: 251px;
  left: 108px;
}

.circle-list-2 {
  position: absolute;
  top: 251px;
  left: 349px;
}

.circle-list-3 {
  position: absolute;
  top: 251px;
  left: 590px;
}

.circle-list-4 {
  position: absolute;
  top: 251px;
  left: 830px;
}

.circle-list-5 {
  position: absolute;
  top: 251px;
  left: 1070px;
}

.circle-list-5 .out-circle {
  background-color: rgb(54, 79, 174);
  opacity: 0.7;
}

.circle-list-5 .in-circle {
  background-color: rgb(54, 79, 174);
}

.step-list h2 {
  padding-top: 80px;
  text-align: center;
  font-family: 'Noto Sans Korean', sans-serif;
  font-size: 2.5rem;
}

.step-list h2 span {
  font-weight: 600
}

.step-list ul li {
  font-weight: bold;
  color: #ff0000;
  font-size: 1.25rem;
  text-align: center;
}

.step-list ul li:last-child {
  color: rgb(54, 79, 174);
}

.circle-list li {
  background-color: #ff0000;
  opacity: 0.7;
  border-radius: 50%;
}

.line {
  width: 100%;
  border-bottom: 1px solid gray;
  padding-top: 123px;
}

.circle {
  position: relative;
}

.out-circle {
  position: absolute;
  background-color: red;
  border: 1px solid red;
  border-radius: 50%;
  opacity: 0.3;
  padding: 0.625rem 0.625rem;
}

.in-circle {
  position: absolute;
  left: 5px;
  top: 5px;
  background-color: red;
  border: 1px solid red;
  border-radius: 50%;
  padding: 5px 5px;
}

.step-01 {
  background-image: url(../../images/front/step01.png);
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  height: 128px;
  width: 128px;
  margin: auto;
  margin-bottom: 30px;
}

.step-02 {
  background-image: url(../../images/front/step02.png);
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  height: 128px;
  width: 128px;
  margin: auto;
  margin-bottom: 30px;
}

.step-03 {
  background-image: url(../../images/front/step03.png);
  display: flex;
  background-repeat: no-repeat;
  background-position: right;
  height: 128px;
  width: 128px;
  margin: auto;
  margin-bottom: 30px;
}

.step-04 {
  background-image: url(../../images/front/step04.png);
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  height: 128px;
  width: 128px;
  margin: auto;
  margin-bottom: 30px;
}

.step-05 {
  background-image: url(../../images/front/step05.png);
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  height: 128px;
  width: 128px;
  margin: auto;
  margin-bottom: 30px;
}

.step-info .step-head span {
  color: black;
  font-size: 1.5rem;
  font-family: 'Noto Sans Korean', sans-serif;
  font-weight: 900;
  vertical-align: middle;
}

.step-info .step-text span {
  font-size: 1rem;
  font-weight: 200;
  font-family: 'Noto Sans Korean', sans-serif;
  color: rgb(120, 120, 120)
}

.step-info .st5 .step-text span:last-child {
  color: rgb(54, 79, 174);
}

.st1 {
  position: absolute;
  top: 284px;
  left: 53px;
}

.st2 {
  position: absolute;
  top: 284px;
  left: 291px;
}

.st3 {
  position: absolute;
  top: 284px;
  left: 520px;
}

.st4 {
  position: absolute;
  top: 284px;
  left: 760px;
}

.st5 {
  position: absolute;
  top: 284px;
  left: 1010px;
}

.section.notice {
  height: 620px;
  background-color: #ffffff;
  margin: auto;
  width: 1200px;
  position: relative;
}

.notice-header {
  width: 700px;
  height: 59px;
  font-weight: 300;
  /* border-top: 1px solid rgb(213, 213, 213); */
  border-bottom: 1px solid rgb(213, 213, 213);
  font-size: 1.25rem;
}

.notice-header span,
.notice-header a {
  position: relative;
  float: left;
  width: 20%;
  height: 60px;
  line-height: 20px;
  padding: 20px 0;
  text-align: center;
  color: #878787;
  font-weight: 300;
  border-right: 1px solid rgb(213, 213, 213);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer;
}

.notice-header span {
  width: 30%;
  font-weight: 400;
}

.notice-header a {
  border-right: none;
  font-size: 0.9375rem;
}

.section .notice-header .on {
  color: red;
  cursor: pointer;
  background-color: white;
  border-right: 1px solid rgb(213, 213, 213);
}

.notice-header a:last-child {
  background-color: unset;
  float: right;
}

.notice-list {
  width: 700px;
  border: 1px solid rgb(213, 213, 213);
  position: absolute;
  top: -60px;
  left: 0;
}

.notice-list a {
  padding-left: 10px;
}

.notice-list .faq-list {
  display: none;
}


/* .notice-header .on {
  background-color: white;
  border-bottom: 1px solid white;
  color: red;
  z-index: 10;
} */

.notice-list ul {
  display: flex
}

.notice-list .not-list {
  height: 340px;
}

.notice-list ul li {
  position: relative;
  padding-top: 26px;
  width: auto;
  color: rgb(120, 120, 120);
  padding-left: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.notice-list ul li:first-child {
  width: calc(100% - 180px);
}


/* .new-icon {
  background-image: url(../../images/front/new.png);
  height: 20px;
  width: 20px;
  right: 0;
  display: inline-block;
  vertical-align: middle;
} */

.notice-list ul:first-child {
  padding-top: 20px;
}

.notice-list ul li:last-child {
  width: 100px;
  text-align: right;
  /* padding-right: 35px; */
  background: none;
}

.notice-list ul:last-child {
  padding-bottom: 20px;
}

.sec-list {
  display: none;
}

.sec-list .not-list ul li {
  background-image: none;
}

.dot {
  width: 300px;
  letter-spacing: -1px;
}

.notice-list ul .new::after {
  content: '';
  background: url("../../images/front/new.png");
  padding: 0px 23px;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  position: absolute;
  height: 20px;
}

.notice .dot:before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #333;
  color: unset;
  bottom: 9px;
}

.dot:before {
  content: "•";
  color: rgba(187, 187, 187, 0.8);
}

.calc {
  width: 450px;
  height: 400px;
  box-sizing: border-box;
  border: 3px solid red;
  box-shadow: 0.9375rem 0.9375rem 1.25rem rgba(0, 0, 0, 0.15);
  float: right;
  position: absolute;
  top: -60px;
  right: 0;
  background-color: white;
}

.calc .calc-bg {
  background-image: url(../../images/front/money.png);
  background-repeat: no-repeat;
  height: 33px;
  font-size: 1.25rem;
  color: red;
  margin-left: 27px;
  padding-left: 53px;
  margin-top: 16px;
  padding-top: 5px;
  display: inline-block;
}

.enter-date {
  margin: 0 27px;
  margin-top: 20px;
}

.enter-date input[type="text"] {
  width: 190px;
  padding-left: 30px;
  padding-right: 21px;
  height: 46px;
  background-color: rgb(245, 245, 245);
  border: none;
  font-size: 1.125rem;
}

.enter-date span {
  right: 206px;
  top: 85px;
  position: absolute;
}

.enter-date button {
  margin-left: 5px;
  background-color: #ff0000;
  width: calc(100% - 250px);
  height: 47px;
  text-align: center;
  color: white;
}

.date-info {
  margin: 0 27px;
}

.notice-list a {
  cursor: pointer;
}


/* .date-info .frist-date {
  padding-top: 20px;
} */

.date-info ul li {
  display: inline-block;
  font-size: 1.125rem;
  color: rgb(120, 120, 120);
  padding-top: 20px;
}

.date-info ul li:last-child {
  float: right;
  text-align: right;
}

.date-info .final-sum {
  margin-top: 40px;
  border-top: 1px solid rgb(213, 213, 213)
}

.date-info .final-sum li {
  font-size: 1.5rem;
  color: #333;
  font-weight: bold;
}

.date-info .final-sum li span {
  color: #ff0000;
}


/*banner*/

.right-banner {
  z-index: 20;
  position: fixed;
  top: 200px;
  right: 50px;
}

.coin {
  background-image: url(../../images/front/coin.png);
  width: 138px;
  height: 138px;
  display: flex;
  margin-top: -80px;
}

.service-img {
  background-image: url(../../images/front/col.png);
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 55px;
}

.kakao-img {
  background-image: url(../../images/front/kakao.png);
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 55px;
}

.naver-img {
  background-image: url(../../images/front/navertalk.png);
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 55px;
}

.right-banner .buy-ask {
  position: absolute;
  z-index: 10;
}

.right-banner .service {
  box-sizing: border-box;
  text-align: center;
  padding-top: 5px;
  width: 100px;
  height: 120px;
  font-size: 1rem;
  position: absolute;
  top: 170px;
  right: 25px;
  background-color: white;
}

.right-banner .kakao {
  background-color: rgb(255, 235, 0);
  text-align: center;
  width: 100px;
  height: 120px;
  font-size: 1rem;
  position: absolute;
  top: 299px;
  right: 25px;
}

.right-banner .naver {
  background-color: rgb(62, 183, 77);
  text-align: center;
  width: 100px;
  display: inline-block;
  height: 120px;
  position: absolute;
  top: 429px;
  right: 25px;
}

.right-banner ul .buy-ask {
  text-align: center;
  background-color: #ff0000;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  right: 0px;
  font-size: 1.25rem;
  font-weight: bold;
}

.right-banner ul .buy-ask p {
  color: white;
  letter-spacing: -2px;
}

.right-banner ul .buy-ask p:first-child {
  font-size: 0.875rem;
  font-weight: normal;
}

.right-banner .kakao p:last-child {
  font-size: 1rem;
  color: rgb(120, 120, 120)
}

.right-banner .naver p {
  color: white;
}

.right-banner ul .service p:first-child {
  color: rgb(54, 79, 174);
}

.right-banner ul .service p:last-child {
  font-size: 0.875rem;
}

.right-banner ul .buy-ask p:last-child {
  font-size: 1.125rem;
}

.arrow {
  background-image: url(../../images/front/arrow.png);
  width: 39px;
  height: 13px;
  display: flex;
  margin: auto;
  margin-top: 10px;
}

.service {
  border: 1px solid rgb(213, 213, 213);
  width: 100px;
  height: 120px;
}


/*footer*/

.footer {
  width: 100%;
  min-width: 1200px;
  max-width: 100%;
  background-color: rgb(37, 39, 44);
  color: white;
  font-size: 0px;
}

.footer .footer-width {
  width: 1200px;
  margin: auto;
  padding: 50px 0px 50px 0px;
  display: flex;
}

.footer .footer-width p {
  font-size: 14px;
  margin-top: 15px;
  color: rgba(255, 255, 255, 0.87);
}

.footer .footer-width span {
  display: inline-block;
}

.footer .footer-width span img {
  vertical-align: top;
}

.footer .footer-width .footer-nav {
  display: inline-block;
  padding-left: 20px;
}

.footer ul {
  list-style: none;
  margin-bottom: 5px;
}

.footer ul li {
  display: inline-block;
  font-size: 14px;
}

.footer ul li div {
  border: 0.5px solid rgba(255, 255, 255, 0.692);
  width: 0px;
  height: 10px;
  margin: 0px 15px 0px 10px;
  display: inline-block;
}

.footer ul li:last-child {
  border: none;
}


/*Login*/

.login-page {
  height: 700px;
}

h1.login-header {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 1px solid rgb(213, 213, 213);
  padding-top: 50px;
  padding-bottom: 50px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  display: block;
  height: 55px;
  width: 450px;
  padding: 0.9375rem 1.25rem;
  color: #333;
  box-sizing: border-box;
  border: 1px solid #d5d5d5;
  margin: auto;
  margin-bottom: 12px;
}

.login-form input[type="text"] {
  margin-top: 100px;
}

.red-btn {
  display: block;
  margin: auto;
  height: 55px;
  width: 450px;
  background-color: #ff0000;
  color: white;
  margin-top: 20px;
  text-align: center;
  font-size: 1.125rem;
}

.tab {
  margin-top: 50px;
}

.tab ul {
  display: table;
  margin: auto;
  text-align: center;
}

.tab ul li {
  display: inline-block;
  background-color: rgb(249, 249, 249);
  width: 226px;
  padding: 20px 0;
  border: 1px solid rgb(213, 213, 213);
}

.tab ul li a {
  font-size: 1rem;
  color: rgb(153, 153, 153);
  width: 220px;
  height: 60px;
}

.tab ul .on {
  background-color: #ffffff;
  border: 1px solid red;
  border-bottom: none;
  box-sizing: border-box;
  color: black;
}

.tab>ul.tab-btns>li.on a {
  color: black;
}

.login-form ul {
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}

.login-form ul li {
  display: inline-block;
  font-size: 1rem;
  border-right: 1px solid rgb(213, 213, 213);
  padding: 0px 20px
}

.login-form ul li:last-child {
  border-right: 0;
}

.id-find {
  height: 700px;
}

.id-find .tab>ul.tab-btns>li,
.pw-find .tab>ul.tab-btns>li {
  display: table-cell;
}

.id-find .id-text {
  text-align: center;
  padding-top: 55px;
}

.id-form input[type="tel"] {
  display: block;
  height: 55px;
  width: 450px;
  padding: 0.9375rem 1.25rem;
  color: #333;
  box-sizing: border-box;
  border: 1px solid #d5d5d5;
  margin: auto;
  margin-bottom: 12px;
  margin-top: 50px;
}

.id-find .findging-pw {
  border-bottom: 1px solid red;
  border-left: none;
  color: rgb(153, 153, 153);
  cursor: pointer;
}

.id-find-result {
  margin-top: 50px;
}

.id-find-result .result-id {
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  width: 450px;
  padding: 35px 0;
  text-align: center;
  margin: auto;
  font-size: 24px;
  font-weight: 700;
}

.pw-find {
  /* display: none; */
  height: 700px;
}

.pw-find .pw-text {
  text-align: center;
  padding: 55px;
}

.pw-form input[type] {
  display: block;
  height: 55px;
  width: 450px;
  padding: 0.9375rem 1.25rem;
  color: #333;
  box-sizing: border-box;
  border: 1px solid #d5d5d5;
  margin: auto;
  margin-bottom: 12px;
}

.pw-find .findging-id {
  border-bottom: 1px solid red;
  border-right: none;
  color: rgb(153, 153, 153);
  cursor: pointer;
}


/*My-My-01*/

.buy-header h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 50px 0;
  border-bottom: 1px solid #d5d5d5;
}

.section .mypage-tab {
  display: flex;
  display: -ms-flexbox;
  font-size: 0px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid rgb(229, 229, 229);
  border-left: none;
  border-right: none;
}

.section .mypage-tab li {
  flex: 1 1 auto;
  -ms-flex: 1;
  /* IE 10 */
  display: inline-block;
  font-size: 18px;
  text-align: center;
  border-right: 1px solid rgb(229, 229, 229);
  color: black;
}

.section .mypage-tab li:first-child {
  border-left: 1px solid rgb(229, 229, 229);
}

.section .mypage-tab li a {
  display: block;
  padding: 17px 0px;
}

.date-join .date-sele input[type="text"] {
  background: url(../../images/front/date.png) no-repeat right 20px top 50%;
  border: 1px solid rgb(229, 229, 229);
  box-sizing: border-box;
  padding: 13px;
  /* margin-top: -5px; */
  height: 52px;
  background-color: white;
  appearance: none;
  -webkit-appearance: none;
  width: 360px;
}

.date-join {
  background-color: rgb(249, 249, 249);
  margin: auto;
  margin-top: 10px;
  padding: 25px 50px;
}

.date-join ul {
  /* margin: 25px 60px; */
  display: inline-block;
}

.date-join ul li {
  display: inline-block;
  border: 1px solid rgb(229, 229, 229);
  padding: 15px 0;
  background-color: #ffffff;
  width: 100px;
  height: 52px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}

.topper-btn-wrap {
  margin-top: 30px;
  text-align: right;
}

.topper-btn-wrap .line-btn {
  height: 40px;
  padding: 0 18px;
  font-size: 14px;
  text-align: center;
  color: #333333;
  border: 1px solid #d5d5d5;
  background-color: #ffffff;
}

.date-join ul li:first-child {
  border: none;
  background-color: transparent;
}

.date-join .date-sele input[type="button"] {
  border: none;
  background-color: #ff0000;
  color: #ffffff;
  width: 100px;
  height: 52px;
  /* padding: 15px; */
  cursor: pointer;
  /* margin-top: -5px; */
}

.date-sele {
  display: inline-block;
  height: 52px;
  /* margin-left: -55px; */
}

.buy-list {
  margin-top: 50px;
  border-top: 1px solid #333333;
}

.buy-list tr th {
  border-bottom: 1px solid rgb(229, 229, 229);
  height: 70px;
  font-weight: 200;
}

.buy-list .thead th {
  background-color: rgb(249, 249, 249);
  font-size: 1.125rem;
}

.buy-list tr th {
  color: #333333;
  font-weight: 400;
}

.buy-list .red {
  color: #df0000;
}

.buy-list .line-btn-sm {
  width: 60px;
  height: 30px;
  text-align: center;
  border: 1px solid #c5c5c5;
}

.paging {
  width: 481px;
  margin: auto;
  padding: 50px 10px 115px 10px;
  font-size: 0px;
}

.paging .page-number .on {
  background-color: rgb(223, 0, 0);
  ;
}

.paging .page-number .on a {
  color: white;
}

.paging div {
  display: inline-block;
  vertical-align: middle;
}

.paging p {
  display: inline-block;
  border: 1px solid rgb(229, 229, 229);
}

.paging .fiste img,
.paging .last img {
  margin: 21.5px 20.5px
}

.paging .prev img,
.paging .next img {
  margin: 21.5px 23px;
}

.paging p:last-child {
  border-left: white;
}

.paging .page-number {
  margin: 0 10px;
}

.paging .page-number ul {
  font-size: 0px;
}

.paging .page-number ul li {
  display: inline-block;
  height: 52px;
  padding: 14px 0px;
  vertical-align: top;
  border: 1px solid rgb(229, 229, 229);
  border-right: none;
  font-size: 14px;
  box-sizing: border-box;
}

.paging .page-number ul li:last-child {
  border-right: 1px solid rgb(229, 229, 229);
}

.paging .page-number ul li a {
  margin: 0px 21px;
}

.tab .on {
  background-color: rgb(223, 0, 0);
  border: 1px solid rgb(223, 0, 0);
  color: white;
}


/* .tab .on a {
  color: white;
} */


/*MY-MY-02*/

.change-info {
  height: 850px;
}

.change-info>p {
  margin: 30px 0;
}

.change-info .pw-info {
  padding: 35px 0;
  background-color: rgb(249, 249, 249)
}

.change-info .pw-info input[type="password"] {
  margin-top: 35px;
  display: block;
  height: 55px;
  width: 450px;
  padding: 0.9375rem 1.25rem;
  color: #333;
  box-sizing: border-box;
  border: 1px solid #d5d5d5;
  margin: auto;
  margin-bottom: 12px;
}

.certify-info {
  border-top: 1px solid black;
  margin-top: 49px;
  padding: 20px 0;
  border-bottom: 1px solid rgb(213, 213, 213);
  height: 850px;
}

.certify-info table tr td {
  padding: 5px;
}

.certify-info select {
  width: 250px;
  border: 1px solid rgb(229, 229, 229);
  color: rgb(153, 153, 153);
  padding: 17px 0;
  /* margin-top: 30px; */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('../../images/front/down.png') no-repeat 90% 50%;
  padding: 0.9375rem 1.25rem;
}

.certify-info input[type="text"] {
  width: 1080px;
  border: 1px solid rgb(229, 229, 229);
  height: 53px;
  padding: 10px;
  box-sizing: border-box;
  /* margin: 10px 0; */
}

.certify-info .certify-btn {
  text-align: center;
  margin-top: 50px;
}

.certify-info .certify-btn button {
  border: 1px solid rgb(153, 153, 153);
  width: 250px;
  padding: 25px 0px;
  text-align: center;
  background-color: unset;
  font-size: 1.125rem;
  cursor: pointer;
}

.certify-info .certify-btn button:last-child {
  border: 1px solid red;
  background-color: red;
  color: white;
  margin-left: 10px;
}


/*MY-MY-03*/

.limit-info {
  height: 850px;
}

.limit-info p {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1rem;
}

.limit-info ul {
  padding-left: 30px;
  border: 1px solid #d5d5d5;
  display: flex;
  padding: 45px 55px;
}

.limit-info ul li {
  position: relative;
  display: inline-block;
  width: 400px;
  padding: 0 20px;
}

.limit-info ul li:after {
  content: '';
  position: absolute;
  display: inline-block;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  height: 60px;
  width: 1px;
  border-right: 1px solid #e5e5e5;
}

.limit-info ul li:last-child:after {
  content: none;
}

.limit-info ul li dl dt {
  font-size: 1.625rem;
  color: rgb(233, 0, 0);
  background-color: rgb(245, 245, 245);
  border-radius: 50%;
  width: 100px;
  padding: 30px 0;
  text-align: center;
  float: left;
}

.limit-info ul li dl dd {
  /* border-right: 1px solid rgb(229, 229, 229); */
  padding-left: 30px;
  /* margin-right: 60px; */
  display: flex;
}

.limit-info ul li dl dd:last-child {
  font-size: 1.25rem;
  font-weight: 500;
}

.limit-info .one-count dl dd:first-child {
  border-right: none;
}

.limit-info .one-count .none {
  border: none;
  padding-top: 5px;
  padding-bottom: 10px;
}

.limit-info .one-count dd {
  line-height: 1.3;
  padding-left: 10px;
}

.limit-info .one-day dd :first-child {
  padding-top: 10px;
}

.limit-info .one-day dd {
  padding-top: 5px;
  /* margin-top: -10px; */
  padding-bottom: 5px;
}

.limit-info .one-day dd:fi.limit-info .one-day .nonerst-child {
  padding-top: 15px;
}

.limit-info .one-day .none {
  padding-top: 5px;
  border: none;
  /* margin-top: unset; */
}

.limit-info .one-month dd :first-child {
  padding-top: 10px;
}

.limit-info .one-month dd {
  padding-top: 5px;
  /* margin-top: -10px; */
  padding-bottom: 5px;
  border: none;
}

.limit-info .one-month .none {
  padding-top: 5px;
  border: none;
  margin-top: unset;
}


/*MY-MY-04*/

.safety-text {
  margin-top: 80px;
  color: rgb(153, 153, 153);
}


/*MY-MY-04-p2*/

.user-info {
  height: 1300px;
}

.user-info h2 {
  font-size: 20px;
  padding-top: 50px;
  border-bottom: 1px solid black;
  padding-bottom: 12px;
}

.user-info input[type="password"],
.user-info input[type="text"] {
  height: 52px;
  width: 450px;
  color: #333;
  box-sizing: border-box;
  border: 1px solid #d5d5d5;
  margin: auto;
  padding: 10px;
}

.user-info table tr td {
  vertical-align: middle;
  padding: 5px 0;
  height: 52px;
}

.user-info table tr td:first-child {
  font-size: 1.125rem;
  text-align: left;
  vertical-align: middle;
}

.user-info table tr td p {
  font-size: 0.875rem;
  padding: -15px 0;
}

.user-info table .text-td td {
  padding-bottom: 48px;
  border-bottom: 1px solid rgb(213, 213, 213);
}

.user-info table tr td button {
  border: 1px solid rgb(153, 153, 153);
  width: 130px;
  height: 55px;
  text-align: center;
  margin-left: 10px;
}

.agree-select div {
  display: inline-block;
}

.agree-select .radio-wrap label {
  color: rgb(125, 125, 125);
  font-size: 1rem;
}

.user-info .radio-wrap input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
}

.user-info .thead td {
  padding-top: 40px;
}

.user-info .agree-select td {
  border-bottom: 1px solid rgb(213, 213, 213);
  padding: 26px 0px;
}

.user-info-btn {
  text-align: center;
  margin-top: 50px;
}

.user-info-btn button {
  border: 1px solid rgb(153, 153, 153);
  width: 250px;
  padding: 20px 0;
  font-size: 1.125rem;
  text-align: center;
}

.user-info-btn button:last-child {
  margin-left: 10px;
  color: white;
  background-color: red;
  border: 0;
}

.icon-radio {
  width: 30px;
  height: 30px;
  background-image: url(../../images/front/radio-icon.png);
  background-position: 0 0;
  display: inline-block;
  vertical-align: middle;
}

input:checked+.icon-radio {
  background-position: -140px 0;
}

.radio-wrap input[type="radio"] {
  display: none;
}

.radio-wrap label,
.radio-wrap .icon-chk {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.3125rem;
  cursor: pointer;
}

.radio-wrap label {
  display: inline;
}


/*MU-MU-01*/

.back-color {
  background-color: rgb(249, 249, 249);
  width: 100%;
  margin: auto;
}

.back-color2 {
  background-color: rgb(10, 57, 145);
  width: 100%;
  margin: auto;
}

.section01 {
  background-image: url(../../images/front/20secbg.png);
  height: 350px;
  background-repeat: no-repeat;
  background-position: 80%;
  margin-bottom: -9px;
  border-top: 1px solid #d5d5d5;
}

.section01 .wrapper .img-wrap {
  padding-top: 83px;
}

.section02 {
  background-image: url(../../images/front/coin-bg3.png);
  height: 450px;
  width: 100%;
  color: white;
  background-repeat: no-repeat;
  background-position: 20%;
}

.section02 .wrapper .img-wrap {
  padding-right: 88px;
}

.section03 {
  background-image: url(../../images/front/col-center.png);
  height: 350px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: right 20% bottom 0;
}

.section03 .wrapper .img-wrap {
  padding-top: 88px;
}

.red-text {
  color: red;
  padding-top: 80px;
}

.text-header {
  display: inline-block;
  font-family: 'Noto Sans Korean', sans-serif;
  font-size: 2.375rem;
}

.numbers {
  font-family: 'Noto Sans Korean', sans-serif;
  font-size: 1.5rem;
  display: inline-block;
}

.lines {
  width: 100px;
  padding: unset;
  display: inline-block;
  vertical-align: 10px;
  margin: 0px 18px;
  border: 1px solid black;
}

.section01 .text {
  font-size: 1.75rem;
  font-weight: 100;
  letter-spacing: -2px;
}

.section01 .text span {
  font-weight: 500;
}

.text-box {
  border: 1px solid red;
  display: inline-block;
  color: red;
  font-size: 1.125rem;
  width: 400px;
  box-sizing: border-box;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 26px;
  letter-spacing: -2px;
}

.section02 .wrapper {
  padding-top: 150px;
  text-align: right;
}

.section02 .lines {
  border-bottom: 1px solid white;
}

.section02 .numbers {
  padding-right: 225px;
}

.section02 .text {
  font-size: 1.75rem;
  letter-spacing: -2px;
  font-weight: 100;
  padding-right: 52px;
}

.section02 .text span {
  font-weight: 500;
}

.section02 .sub-text {
  color: rgb(255, 235, 0);
  margin-top: 16px;
  font-size: 1.125rem;
  padding-right: 172px;
}

.section02 .text-box {
  border: 1px solid white;
  color: white;
  margin-right: 230px;
}

.section03 .text-header {
  color: rgb(13, 75, 187);
  padding-top: 87px;
}

.section03 .text {
  font-size: 1.75rem;
  font-weight: 100;
  letter-spacing: -3px;
}

.section03 .text span {
  font-weight: 500;
}

.section03 .text-box {
  color: rgb(13, 75, 187);
  border: 1px solid rgb(13, 75, 187);
}

.ch-header {
  width: 100%;
}

.ch-header h1 {
  padding-top: 50px;
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 58px;
  /* border-bottom: 1px solid #d5d5d5; */
  text-align: center;
}

.cash-button {
  background-color: red;
  border-radius: 50px;
  width: 800px;
  position: absolute;
  bottom: 100px;
  left: 200px;
  box-shadow: 0.9375rem 0.9375rem 1.25rem rgba(0, 0, 0, 0.15)
}

.cash-button a {
  background-image: url(../../images/front/won.png);
  background-repeat: no-repeat;
  background-position: 80px;
  color: white;
  padding: 30px 0;
  text-align: center;
  display: block;
  font-size: 1.75rem;
  padding-left: 40px;
  font-weight: 100;
}

.cash-button a span {
  font-weight: 500;
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 30px;
  font-weight: 500;
  background-image: url(../../images/front/next-arrow.png);
}


/* 200122?? */

button.question-btn {
  background-color: #df0000;
  color: #ffffff;
  width: 140px;
  height: 50px;
  text-align: center;
  font-size: 14px;
}

.question-btn-wrap {
  padding-top: 30px;
  text-align: right;
}

.section .question-list.service-list .list {
  margin-top: 10px;
}

.section .question-list.service-list .list ul li.title {
  width: 665px;
}

.section .question-list.service-list .list ul li.state {
  width: 100px;
  text-align: center;
}

.section .question-list.service-list .list ul li.state.waiting {
  color: #df0000;
}

.section .question-list.service-list .list .th {
  background-color: #f9f9f9;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #e5e5e5;
}

.section .question-list.service-list .list .th li {
  text-align: center;
}

.section .question-list.service-list .list .th .divide {
  width: 220px;
}

.section .question-list.service-list .list .th .title {
  width: 665px;
}

.section .question-list.service-list .list .th .date {
  width: 215px;
}

.section .question-list.service-list .list .th .state {
  width: 100px;
}

.section .service-list.question-list .list .aco {
  padding: 45px 55px;
  font-size: 18px;
  color: #787878;
  background-color: #f9f9f9;
}

.section .service-list.question-list .list .aco .write-date {
  display: block;
  margin-bottom: 15px;
  font-size: 16px;
}

.bottom-btn-wrap {
  text-align: center;
  padding: 50px 0px 100px 0px;
}

.btn-line-lg {
  border: 1px solid rgb(153, 153, 153);
  width: 250px;
  padding: 25px 0px;
  text-align: center;
  font-size: 18px;
}


/* sub */

.section {
  width: 100%;
  font-family: 'Noto Sans Korean', sans-serif;
}

.section .section-main {
  width: 1200px;
  margin: auto;
}

.section .section-main h2 {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  padding: 50px 0px;
  border-bottom: 1px solid #d5d5d5;
}


/*???? ???*/

.section .section-main .matters-text {
  border: 1px solid rgb(249, 249, 249);
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: rgb(249, 249, 249);
  color: dimgray;
}

.section .section-main .matters-text div {
  display: inline-block;
}

.section .section-main .matters-text .matters-img {
  vertical-align: top;
}

.section .section-main .matters-text .matters-img img {
  padding-right: 45px;
  margin: 35px;
  border-right: 1px solid rgb(229, 229, 229);
}

.section .section-main .matters-text h4 {
  font-size: 18px;
  color: rgb(225, 33, 23);
  font-weight: 800;
  margin-bottom: 20px;
  margin-top: 30px;
}

.section .section-main .matters-text ol {
  padding-left: 20px;
  font-size: 16px;
}

.section .section-main .matters-text ol li {
  list-style-type: decimal;
}

.section .join_pg .join-form {
  border-bottom: 1px solid rgb(229, 229, 229);
}

.section .join_pg .join-form h3 {
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-bottom: 1px solid rgb(229, 229, 229);
}

.section .join_pg .join-form table {
  width: 630px;
  margin-top: 20px;
  font-size: 0px;
  border-spacing: 10px;
  padding-bottom: 15px;
  color: rgb(51, 51, 51);
}

.section .join_pg .join-form tr td:first-child {
  width: 165px;
}

.section .join_pg .join-form tr td:last-child {
  width: 450px;
}

.section .join_pg .join-form tr td {
  font-size: 18px;
  font-weight: 600;
}

.section .join_pg .join-form input {
  width: 450px;
  height: 45px;
  padding-left: 10px;
  outline: none;
}

.section .join_pg .join-form td p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
}

.section .join_pg .join-form #id,
.section .join_pg .join-form #pwd,
.section .join_pg .join-form #pwd2,
.section .join_pg .join-form #name,
.section .join_pg .join-form #phone {
  color: rgb(225, 23, 33);
  font-size: 12px;
}

.section .join_pg .join-check input[type="checkbox"],
.section .join_pg .join-sns input[type="checkbox"] {
  display: none;
}

.section .join_pg .join-check {
  padding: 20px 0px;
}

.section .join_pg .join-check p,
.section .join_pg .join-sns p {
  width: 165px;
  font-weight: 600;
  font-size: 18px;
  display: inline-block;
  color: rgb(51, 51, 51);
}

.section .join_pg .join-check ul,
.section .join_pg .join-sns ul {
  display: inline-block;
  padding-left: 15px;
  font-size: 16px;
  color: rgb(120, 120, 120);
}

.section .join_pg .join-sns ul li:first-child {
  width: 380px;
}

.section .join_pg .join-sns ul li {
  display: inline-block;
}

.section .join_pg .join-check ul li:first-child {
  margin-bottom: 20px;
}

.section .join_pg .join-check ul li .check:first-child {
  width: 380px;
}

.section .join_pg .join-check ul li .check {
  display: inline-block;
  vertical-align: sub;
}

.section .join_pg .join-sns {
  border-top: 1px solid rgb(229, 229, 229);
  border-bottom: 1px solid rgb(229, 229, 229);
  padding: 20px 0px;
}

.section .join_pg .join-btn {
  width: 250px;
  margin: auto
}

.section .join_pg .join-btn button {
  background-color: rgb(225, 33, 23);
  border: rgb(225, 33, 23);
  color: white;
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin: 50px 0px 100px 0px;
}


/*???? ??*/

.section .agree {
  border: 1px solid rgb(189, 189, 189);
  padding: 3px 15px;
  font-size: 14px;
  margin: 0px 7px;
  color: gray;
}

.popup,
.popup2 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 500;
  display: none;
  background-color: #ffffff;
  border: 1px solid gray;
  border-radius: 10px;
  font-size: 16px;
}

.pop_title,
.pop_title2 {
  font-size: 20px;
  margin: 15px;
  color: black;
  vertical-align: text-bottom;
}

.pop_title button,
.pop_title2 button {
  float: right;
  margin: 0px 5px;
}

.pop_text,
.pop_text2 {
  width: 900px;
  height: 700px;
  overflow-y: auto;
  background-color: #ffffff;
  padding: 20px;
  /* border: 1px solid gray; */
  margin: 10px;
}

.type11 tr th {
  border-bottom: 1px solid #d5d5d5;
  height: 50px;
  line-height: 1.4;
}

.type11 tr td {
  border-bottom: 1px solid #d5d5d5;
  height: 70px;
}

[class*=pop_text]::-webkit-scrollbar {
  width: 5px;
  /* ??? ???? ?? */
  height: 20px;
  /* ??? ???? ?? */
}

[class*=pop_text]::-webkit-scrollbar-track {
  background-color: white;
}

[class*=pop_text]::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: gray;
}

.popback {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5) repeat;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}


/*???? ???*/

.section .service-list .search-type {
  font-size: 0px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid rgb(229, 229, 229);
  border-left: none;
  border-right: none;
}

.section .service-list .search-type li {
  display: inline-block;
  font-size: 18px;
  width: 238.8px;
  text-align: center;
  border-right: 1px solid rgb(229, 229, 229);
  color: black;
}

.section .service-list .search-type li:first-child {
  border-left: 1px solid rgb(229, 229, 229);
}

.section .service-list .search-type li a {
  display: block;
  padding: 17px 0px;
}

.section .service-list .search-box {
  font-size: 0px;
  width: 457px;
  height: 52px;
  margin: 0px 0px 0px auto;
}

.section .service-list .search-box select {
  width: 150px;
  height: 51px;
  border: 1px solid rgb(229, 229, 229);
  margin-right: 5px;
  outline: none;
  font-size: 14px;
  vertical-align: bottom;
  padding-left: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.section .service-list .search-box {
  position: relative;
}

.section .service-list .search-box .select_arrow {
  position: absolute;
  left: 130px;
  bottom: 52%;
  top: 48%;
}

.section .service-list .search-box .search {
  border: 1px solid rgb(229, 229, 229);
  display: inline-block;
}

.section .service-list .search-box .search input {
  border: none;
  padding: 12px 0px 12px 5px;
  font-size: 18px;
  outline: none;
  width: 245px;
  /* vertical-align: bottom; */
}

.section .service-list .search-box .search img {
  margin: 13.5px;
}

.section .service-list .list-title {
  border-top: 1px solid black;
  background-color: rgb(249, 249, 249);
  font-size: 0px;
  margin-top: 20px;
  border-bottom: 1px solid rgb(229, 229, 229);
}

.section .service-list .list-title li {
  color: black;
  display: inline-block;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.section .service-list .list-title .number {
  width: 70px;
  text-align: center;
}

.section .service-list .list-title .class {
  width: 220px;
  text-align: center;
}

.section .service-list .list-title .title {
  width: 695px;
  text-align: center;
}

.section .service-list .list-title .date {
  width: 215px;
  text-align: center;
}

.section .service-list .list2-con,
.section .service-list .list3-con,
.section .service-list .list4-con,
.section .service-list .list5-con {
  display: none;
}

.section .service-list .list ul {
  font-size: 0;
  border-bottom: 1px solid rgb(229, 229, 229);
}

.section .service-list .list ul li {
  display: inline-block;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
  vertical-align: middle;
}


/* .section .service-list .list ul .title {
  padding: 0;
} */

.section .service-list .list ul .title a {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.section .service-list .list ul .number {
  width: 70px;
  color: rgb(120, 120, 120);
  text-align: center;
}

.section .service-list .list ul .class {
  width: 220px;
  text-align: center;
}

.section .service-list .list ul .title {
  width: 695px;
}

.section .service-list .list ul .title img {
  vertical-align: middle;
  margin-left: 10px;
}

.section .service-list .list ul .date {
  width: 215px;
  color: rgb(120, 120, 120);
  text-align: center;
}


/*???? ?? ???*/

.section .notice-view .view-table {
  margin-top: 50px;
  border-top: 1px solid black;
}

.section .notice-view .view-table tr {
  border-bottom: 1px solid rgb(213, 213, 213);
  display: block;
}

.section .notice-view .view-table .list-title td {
  padding: 35px 0px;
  display: inline-block;
}

.section .notice-view table .list-title .number {
  font-size: 20px;
  font-weight: 500;
  width: 94px;
  text-align: center;
  color: rgb(120, 120, 120);
}

.section .notice-view table .list-title .title {
  font-size: 20px;
  font-weight: 500;
  width: 895px;
}

.section .notice-view table .list-title .sub p {
  display: inline-block;
  color: rgb(120, 120, 120);
}

.section .notice-view table .list-title .sub div {
  border-right: 1px solid rgb(120, 120, 120);
  display: inline-block;
  height: 10px;
  margin: 0px 10px;
}

.section .notice-view .view-table .file {
  background-color: rgb(249, 249, 249);
}

.section .notice-view .view-table .file td {
  padding: 20px 0px 20px 35px;
}

.section .notice-view .view-table .file img {
  margin-right: 10px;
}

.section .notice-view .view-table .contents {
  height: 570px;
  font-size: 16px;
}

.section .notice-view .view-table .contents td {
  padding: 50px 30px;
}

.section .notice-view .list-mv .re-list {
  background-color: rgb(225, 33, 23);
  width: 250px;
  margin: 50px auto;
  padding: 16.7px 0px;
}

.section .notice-view .list-mv .re-list a {
  font-size: 18px;
  color: white;
  padding: 17px 107px;
}

.section .notice-view .list-mv .link {
  border-top: 1px solid rgb(213, 213, 213);
  border-bottom: 1px solid rgb(213, 213, 213);
  margin-bottom: 65px;
}

.section .notice-view .list-mv .link li ul:first-child {
  border-bottom: 1px solid rgb(213, 213, 213);
}

.section .notice-view .list-mv .link li ul li {
  display: inline-block;
  font-size: 16px;
}

.section .notice-view .list-mv .link li ul li img {
  margin: 30px;
  vertical-align: middle;
}

.section .notice-view .list-mv .link li ul .prev a {
  color: rgb(153, 153, 153);
}

.section .notice-view .list-mv .link li ul .border {
  border-right: 1px solid rgb(153, 153, 153);
  height: 14px;
  margin: 0px 25px;
}


/*faq*/

.section .faq .list {
  border-top: 1px solid black;
  margin-top: 20px;
}

.section .faq .list ul .class {
  width: 150px;
}

.section .faq .list ul .title {
  width: 865px;
}

.section .faq .list ul .butt {
  width: 115px;
}

.section .faq .list ul .butt img {
  vertical-align: middle;
  margin: 0px 48.5px;
}

.section .faq .list .aco {
  background-color: rgb(249, 249, 249);
  color: rgb(120, 120, 120);
}

.section .faq .list .aco .number {
  width: 70px;
  vertical-align: top;
  padding-top: 30px;
  color: rgb(225, 23, 33);
}

.section .faq .list .aco .contents {
  width: 1115px;
  padding-left: 15px;
  /* height: 240px; */
  max-height: 700px;
  padding-top: 30px;
  line-height: 2.3rem;
}


/*1:1 ??*/

.section .question-view {
  /* height: 80vh; */
}

.section .question-view button {
  width: 130px;
  text-align: center;
  border: 1px solid rgb(213, 213, 213);
  padding: 10px 0px;
  margin-top: 30px;
  margin-bottom: 10px;
  background: none;
  float: right;
}

.section .question-view table {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid rgb(213, 213, 213);
}

.section .question-view table tr {
  display: block;
  margin: 12px 0px;
}

.section .question-view table tr td {
  font-size: 18px;
}

.section .question-view table tr td:first-child {
  padding: 10px 22px;
  margin-right: 44px;
  outline: none;
  font-weight: bold;
}

.section .question-view table tr:last-child td:first-child {
  vertical-align: top;
}

.section .question-view table select {
  width: 226px;
  font-size: 16px;
  padding: 15px 12px;
  margin-left: 44px;
  border: 1px solid rgb(229, 229, 229);
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.section .question-view table .select {
  position: relative;
}

.section .question-view table .select_arrow {
  position: absolute;
  left: 240px;
  top: 25%;
}

.section .question-view table input {
  width: 1044px;
  padding: 14.6px 15px;
  margin-left: 44px;
  border: 1px solid rgb(229, 229, 229);
  font-size: 18px;
  outline: none;
}

.section .question-view table textarea {
  resize: none;
  outline: none;
  margin-left: 44px;
  width: 1044px;
  height: 350px;
  padding: 10px 15px;
  border: 1px solid rgb(229, 229, 229);
  font-size: 16px;
}

.section .question-view .ok {
  width: 250px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 415px;
}

.section .question-view .ok button {
  background-color: rgb(225, 23, 33);
  color: white;
  width: 250px;
  height: 60px;
  text-align: center;
  font-size: 18px;
}


/*??? ????*/

.section .apply01 {
  font-size: 0;
}

.section .apply01 .apply-order li {
  display: inline-block;
}

.section .apply01 .apply-order .step {
  padding: 50px 91.6px
}

.section .apply01 .apply-order li img {
  vertical-align: middle;
}

.section .apply01 .apply-order li p {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  margin-left: 20px;
  font-weight: bold;
}

.section .apply01 .apply-order li strong {
  font-size: 16px;
  color: rgb(223, 0, 0);
}

.section .apply01 .matters-text {
  margin-top: 0;
}

.section .apply01>.btn-wrap {
  /* border-top: 1px solid rgb(213, 213, 213); */
  padding: 30px 0 20px;
  text-align: right;
}

.section .apply01>.btn-wrap button.btn-black {
  font-size: 18px;
  color: #ffffff;
  background-color: #333333;
  height: 60px;
  padding: 0 35px;
}

.section .apply01 h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 10px;
  display: inline-block;
  text-align: left;
  width: 40%;
}

.section .apply01 .ref {
  display: inline-block;
  text-align: right;
  width: 60%;
  font-size: 14px;
  color: rgb(223, 0, 0);
  margin-bottom: 10px;
}

.section .apply01 .info tr {
  display: block;
  border-bottom: 1px solid rgb(229, 229, 229);
}

.section .apply01 .info tr:first-child {
  border-top: 1px solid black;
}

.section .apply01 .info td {
  border-right: 1px solid rgb(229, 229, 229);
  font-size: 16px;
  padding: 10px 0px 10px 30px;
  color: rgb(120, 120, 120);
}

.section .apply01 .info td:first-child {
  width: 300px;
  background-color: rgb(249, 249, 249);
  text-align: center;
  padding: 10px 0px;
  color: rgb(51, 51, 51);
  font-weight: bold;
}

.section .apply01 .info td:last-child {
  border-right: none;
}

.section .apply01 .choice .radio:first-child {
  margin-bottom: 12px;
}

.section .apply01 .choice {
  border-top: 1px solid black;
  border-bottom: 1px solid rgb(229, 229, 229);
}

.section .apply01 .choice .input-file-wrap {
  display: inline-block;
  position: relative;
  width: 300px;
}

.section .apply01 .choice .input-file-wrap input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  background-color: #ffffff;
  overflow: hidden;
}

.section .apply01 .choice .input-file-wrap .upload-file-filename {
  width: 100%;
  border: 1px solid #d5d5d5;
  padding: 0.9375rem 1.25rem;
  height: 55px;
  box-sizing: border-box;
  font-size: 18px;
}

.section .apply01 .choice .input-file-wrap .upload-file-filename .placeholder {
  font-size: 14px;
  color: #999999;
  vertical-align: top;
}

.section .apply01 .choice.big {
  padding: 25px 0;
}

.section .apply01 .choice p {
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  padding: 35px 0px;
  margin-right: 95px;
}

.section .apply01 .choice ul li {
  padding: 5px 0;
}

.section .apply01 .choice ul li .th {
  display: inline-block;
  width: 180px;
  font-size: 18px;
  color: #333333;
  vertical-align: middle;
}

.section .apply01 .choice ul li .td {
  display: inline-block;
  height: 100%;
  width: calc(100% - 180px);
  vertical-align: middle;
}

.section .apply01 .choice ul li .td span {
  display: inline-block;
}

.section .apply01 .choice ul li .td button.gray {
  height: 55px;
  background-color: #666666;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  padding: 0 35px;
}

.section .apply01 .choice ul li .td input[type="text"] {
  height: 55px;
  width: 450px;
  padding: 0.9375rem 1.25rem;
  color: #333;
  box-sizing: border-box;
  border: 1px solid #d5d5d5;
}

.section .apply01 .choice ul li .td button.line-type {
  height: 55px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 300;
  padding: 0 35px;
  border: 1px solid rgb(153, 153, 153);
}

.section .apply01 .choice .container {
  display: inline-block;
}

.section .apply01 .notice-gray-bg {
  padding: 40px 0;
  margin-top: 50px;
  border: 1px solid #d5d5d5;
  background-color: #f9f9f9;
  text-align: center;
}

.section .apply01 .notice-gray-bg p {
  font-size: 18px;
}

.section .apply01 .notice-gray-bg p.red-font {
  color: #e12117;
}

.section .apply01 .use {
  font-size: 16px;
  border-top: 1px solid black;
  border-bottom: 1px solid rgb(229, 229, 229);
}

.section .apply01 .use input[type="checkbox"] {
  display: none;
}

.section .apply01 .use li {
  display: inline-block;
  color: rgb(120, 120, 120);
}

.section .apply01 .use li:first-child {
  padding: 25px 145px 25px 0px;
}

.section .apply01 .use .check button {
  vertical-align: baseline;
}

.section .apply01 .table-add2 {
  display: none;
}

.section .apply01 .table-add,
.section .apply01 .table-add2 {
  margin: auto;
  width: 400px;
  padding: 50px 0px;
}

.section .apply01 .table-add button,
.section .apply01 .table-add2 button {
  border: 1px solid rgb(223, 0, 0);
  padding: 18px 0px;
  text-align: center;
  font-size: 18px;
  color: rgb(223, 0, 0);
  width: 100%;
}

.section .apply01 .request {
  padding: 50px 0px 100px 0px;
  border-top: 1px solid rgb(213, 213, 213);
}

.section .apply01 .request.big {
  padding: 50px 0px 100px 0px;
  border-top: 0;
}

.section .apply01 .request div {
  margin: auto;
  width: 510px;
}

.section .apply01 .request div.single-btn {
  width: auto;
  text-align: center;
}

.section .apply01 .request button {
  width: 250px;
  text-align: center;
  font-size: 18px;
  padding: 18px 0px;
  border: 1px solid black;
}

.section .apply01 .request .reset {
  border: 1px solid rgb(153, 153, 153);
  margin-right: 10px;
}

.section .apply01 .request .request {
  border: 1px solid rgb(223, 0, 0);
  color: white;
  background-color: rgb(223, 0, 0);
}

.section .apply01 .pin-table {
  font-size: 16px;
  border-top: 1px solid black;
  border-bottom: 1px solid rgb(229, 229, 229);
}

.section .apply01 .pin-table tr {
  display: block;
  margin: 22px 0px;
}

.section .apply01 .pin-table td {
  border: none;
  margin: 10px 0px;
}

.section .apply01 .pin-table td:first-child {
  width: 70px;
  height: 55px;
  text-align: center;
}

.section .apply01 .pin-table td:last-child {
  border: 1px solid rgb(229, 229, 229);
  padding: 0px 0px 8px 19px;
  color: rgb(153, 153, 153);
  width: 450px;
}

.section .apply01 .pin-table td input {
  border: none;
  border-bottom: 1px solid rgb(153, 153, 153);
  width: 32px;
  padding-left: 3px;
  outline: none;
  ime-mode: disabled
}

.section .apply01 .radio1 td input:last-child {
  width: 50px;
}

.section .apply01 .radio2 {
  display: none;
}


/*??? ????2*/

.section .apply02 table {
  font-size: 16px;
  border-top: 1px solid black;
}

.section .apply02 table tr {
  /* display: block; */
  text-align: center;
}

.section .apply02 .bank td,
.section .apply02 .check td,
.section .apply02 .amount td {
  width: 300px;
}

.section .apply02 table tr td {
  border-right: 1px solid rgb(229, 229, 229);
  border-bottom: 1px solid rgb(229, 229, 229);
  height: 50px;
  color: rgb(120, 120, 120);
}

.section .apply02 table tr:first-child td {
  background-color: rgb(249, 249, 249);
  font-weight: 600;
  color: rgb(51, 51, 51);
}

.section .apply02 table tr td:last-child {
  border-right: none;
}

.section .apply02 table tr .no-center {
  text-align: left;
  width: 270px;
  padding-left: 30px;
}

.section .apply02 .ntic {
  font-size: 14px;
  margin-top: 10px;
}

.section .apply02 .amount,
.section .apply02 .bank {
  margin-top: 50px;
}

.section .apply02 .request {
  border-top: none;
}

.section .apply02 .no-buy {
  color: rgb(223, 0, 0);
  font-weight: 500;
}


/*??? ????3*/

.section .apply03 .apply-order {
  border-bottom: 1px solid rgb(213, 213, 213);
}

.section .apply03 .amount,
.section .apply03 .bank {
  margin-top: 50px;
}

.section .apply03 .check-btn {
  margin: 50px auto 230px auto;
}

.section .apply03 .check-btn div {
  margin: auto;
  width: 250px;
}

.section .apply03 .check-btn div button {
  background-color: rgb(225, 23, 33);
  color: white;
  width: 100%;
  text-align: center;
  height: 60px;
  font-size: 16px;
}


/*???? ???*/

.radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.radio input[type="radio"]+.radio-label:before {
  content: '';
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid darken(#f4f4f4, 25%);
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: -0.2em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}

.radio input[type="radio"]:checked+.radio-label:before {
  background-color: rgb(223, 0, 0);
  box-shadow: inset 0 0 0 4px #f4f4f4;
}

.radio-label:focus,
.radio-label:before {
  outline: none;
  border: 1px solid rgb(172, 172, 172);
}

.radio-label:disabled,
.radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: darken("#f4f4f4", 25%);
  background: darken("#f4f4f4", 25%);
}

.radio-label:empty,
.radio-label:before {
  margin-right: 0;
}


/*????*/

.section .service-list .list .urgent .number {
  color: rgb(223, 0, 0);
  font-weight: bold;
}

.section .service-list .list .urgent .class {
  font-weight: bold;
}

.section .service-list .list .urgent .title {
  font-weight: bold;
}

.section .notice-view table .urgent .number {
  font-size: 20px;
  color: rgb(223, 0, 0);
  font-weight: bold;
  width: 94px;
  text-align: center;
}

.section .notice-view table .urgent .title {
  font-size: 20px;
  font-weight: bold;
}


/*???*/

.service-list .paging {
  width: 481px;
  margin: auto;
  font-size: 0px;
  text-align: center;
}

.service-list .paging div {
  display: inline-block;
}

.service-list .paging p {
  display: inline-block;
  border: 1px solid rgb(229, 229, 229);
}

.service-list .paging .fiste img,
.service-list .paging .last img {
  padding: 21.5px 20.5px;
  margin: 0;
}

.service-list .paging .prev img,
.service-list .paging .next img {
  padding: 21.5px 23px;
  margin: 0;
}

.service-list .paging p:last-child {
  border-left: white;
}


/* .service-list .paging .page-number {
  margin: 50px 10px 115px 10px;
}

.service-list .paging .page-number ul {
  font-size: 0px;
}

.service-list .paging .page-number ul li {
  display: inline-block;
  padding: 14px 0px;
  vertical-align: top;
  border: 1px solid rgb(229, 229, 229);
  border-right: none;
  font-size: 14px;
}

.service-list .paging .page-number ul li:last-child {
  border-right: 1px solid rgb(229, 229, 229);
}

.service-list .paging .page-number ul li a {
  padding: 14px 21px;
  margin: 0;
} */

.section .on {
  background-color: rgb(223, 0, 0);
  border: none;
  color: white;
}

.section .on a {
  color: white;
}

.btn.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5625rem;
  font-size: 0.75rem;
  font-weight: 300;
  border: 0.0625rem solid #d5d5d5;
  border-radius: 0.1875rem;
}

.daterangepicker td.in-range {
  background-color: #ffdfdf;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #ff0000;
}

.daterangepicker.show-calendar .drp-buttons .btn {
  display: inline-block;
  padding: 0.625rem 0.78125rem;
}

.daterangepicker.show-calendar .drp-buttons .btn.cancel {
  color: #333333;
  background-color: #ffffff;
  border: 0.0625rem solid #999999;
}

.daterangepicker.show-calendar .drp-buttons .btn.apply {
  color: #ffffff;
  background-color: #df0000;
  border: 0;
}

.daterangepicker.opensright:before {
  left: 90px;
}

.daterangepicker.opensright:after {
  left: 91px;
}

.popup .pop_text h4,
.popup2 .pop_text2 h4 {
  color: #000000;
}

.popup table th,
.popup2 table th {
  background-color: #efefef;
  padding: 10px;
}

.popup table td,
.popup2 table td {
  padding: 10px;
}

.popup2 .pop_text2 .dot-lists {
  margin-left: 20px;
  margin-top: 20px;
}

.popup2 .pop_text2 .dot-lists li:first-child {
  padding: 0;
}

.popup2 .pop_text2 .dot-lists li {
  text-indent: -13px;
  margin-top: 5px;
}

.modal-wrap.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-wrap {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
}

.modal-wrap .modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 350px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 4px;
  overflow-y: auto;
  border: 1px solid gray;
  border-collapse: collapse;
}

.modal-wrap ul {
  padding-top: 50px;
  text-align: center;
}

.modal-wrap ul li label {
  display: inline-block;
  width: 100px;
  text-align: left;
}

.modal-wrap ul li {
  padding-top: 25px;
}

.modal-wrap ul li .name_input,
.modal-wrap ul li .account-number_input {
  border-collapse: collapse;
  width: 300px;
  border: 1px solid rgb(229, 229, 229);
  height: 40px;
  appearance: none;
  margin: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  padding-left: 20px;
}

.modal-wrap ul li .account-number_input::-webkit-outer-spin-button,
.modal-wrap ul li .account-number_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal-wrap ul li .bank_selbox {
  width: 300px;
  border: 1px solid rgb(229, 229, 229);
  color: rgb(153, 153, 153);
  height: 40px;
  padding-left: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../../images/front/down.png) no-repeat 90% 50%;
}

.mypopup .modal-btn {
  padding-top: 20px;
  text-align: center;
}

.mypopup .modal-btn button {
  border: 1px solid rgb(229, 229, 229);
  . box-sizing: border-box;
  padding: 10px 59px;
}

.mypopup .modal-btn .sucess-btn {
  color: #ffffff;
  background-color: #ff0000;
}