*{
    margin:0px;
    padding:0px;
}
header{
    padding:10px;
}
table{
    width: 100%;
    border-collapse: collapse;
    border-left:none; 
    border-top:none;
}
th, td {
    border-top:none;
    border-right:none; 
    padding: 10px;
    border: 1px solid orange;
    border-left:none; 
    border-top:none;
  }
hr{
    border:solid 2px;
}
.line{
    background-color: mediumspringgreen;
}