* {
    padding: 0px;
    margin: 0px;
}

.mi{
    width: 30px;
}

.st{
    text-align: left;
}
.mo{
    text-align: center;
}

table{
    height: 700px;
    width: 700px;
    text-align: right;
    border-collapse: collapse;
}

th,td{
    border:1px solid black;
}
.bor{
    border-top: none;
}
.col{
    background-color: darkgrey;
}

hr{
    text-align: center;
    width: 700px;
    height: 2px;
    background: black;
    

}

h3{
    margin-top: 10px;
    margin-bottom: 10px;
}