.box-center{
  display: inline-block;
  width: 300px;
  height: 100px;
}
.bg-blue{
  background-color: blue;
}
.bg-skyblue{
  background-color: skyblue;
}
.bg-orange{
  background-color: orange;
}
.bg-green{
  background-color: green;
}


/* 선호 */
/* *{
  margin: 0px;
  padding:0xp;
 
} */
.first-box{
  position: relative;
  margin: 0px;
  padding: 0px;
}
.first-box .small-box{
  position: absolute;
  width: 20px;
  height: 20px;
  top: 5px;
  right: 5px;
}
.first-box .center-button{
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: orange;
  top: 35px;
  left: 100px;
}
.first-box .bg-skyblue{
  position: absolute;
  width: 100%;
  height: 700px;
  background-color: skyblue;
  margin-right: 50px;
  
  
}
.first-box .bottom-bar{
  position: absolute;
  width: 290px;
  height: 30px;
  background-color: green;
  left: 5px;
  bottom: 5px;
}


/* 선호끝 */


/* 민주 */

.back{
  position: relative;
  width: 900px;
  height: 400px;
  text-align: center;
}
.first{
  position: absolute;
  width: 50px;
  right: 20px;
  top: 17px;
}
.cen{
  position: absolute;
  top: 150px;
  left: 300;
}
.foot{
  position: absolute;
    width: 850;
    height: 50px;
    bottom: 25px;
    right: 27px;
  /* margin: 185 25 25 25; */
}


/* 민주끝 */


/* 호근 */
.wrapper{
  position: relative;
}
.small-squre{
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 5px;
  top: 5px;
}
.center-rectangle{
  display: inline-block;
  position: absolute;
  width: 100px;
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bottom-wide-bar{
  position: absolute;
  width: calc(100% - 10px);
  height: 20px;
  bottom : 5px;
  left: 5px;
}