/* 공통 */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* 공통끝 */


/* 선호 */

.kt-header {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
  padding-bottom: 15px;
}

.kt-header a {
  text-decoration: none;
}

.kt-header nav {
  width: calc( 100% - 500px);
  min-width: 1200px;
  margin: auto;
  position: relative;
}

.kt-header .nav-list {
  display: inline-block;
  position: absolute;
  top: 26px;
  width: 1080px;
}

.kt-header .nav-list ul {
  display: flex;
}

.kt-header .nav-list ul li {
  padding-left: 30px;
}

.kt-header .sp-logo {
  position: absolute;
  display: inline-block;
  left: 0px;
  top: 0px;
}

.kt-header .nav-list {
  width: calc( 100% - 500px);
  min-width: 400px;
  position: absolute;
  top: 17px;
  margin: 0 auto;
  left: 100px;
}

.kt-header .nav-list ul {
  display: flex;
  margin: 0 auto;
}

.kt-header .nav-list ul li {
  border-radius: 3px;
  flex: auto;
  text-align: right;
}

.kt-header .sp-login {
  float: right;
}

.kt-header .sub-list {
  display: inline-block;
  position: relative;
  width: 100%;
  min-width: 400px;
}

.kt-header .sub-list ul {
  position: absolute;
  top: -32px;
  right: 63px;
}

.kt-header .sub-list:first-child {
  display: block;
}

.kt-header .sub-list ul li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.kt-header .sub-list li:nth-child(2) {
  border-right: 1px solid gray;
  padding-right: 10px;
}

.notice {
  width: 100%;
  min-width: 1200px;
  margin: auto;
  background: url(../images/images/banner_02.jpg);
  height: 210px;
  margin-top: 25px;
  align-content: center;
  margin-bottom: 55px;
}

.notice a {
  text-decoration: none;
  color: white;
}

.notice p {
  text-align: center;
  padding-top: 55px;
  color: white;
}

.notice p:first-child {
  font-size: 35px;
  padding-bottom: 15px;
}

.notice p:nth-child(2) {
  padding-bottom: 25px;
}

.kt-border {
  width: calc( 100% - 500px);
  min-width: 1200px;
  margin: 0 auto;
  background-color: beige;
  height: 150px;
  border-bottom: 1px solid gray;
  border-top: 2px solid gray;
  margin-bottom: 25px;
}

.kt-border ul li:first-child {
  padding-top: 25px;
  font-size: 20px;
  display: block;
  padding-left: 25px;
  border-right: none;
}

.kt-border ul li:nth-child(2) {
  margin-left: 21px;
  margin-top: 15px;
}

.kt-border ul {
  padding-top: 25px;
  padding-left: 25px;
}

.kt-border ul li {
  border-right: 1px solid gray;
  display: inline-block;
  padding-right: 5px;
}

.kt-border ul li:nth-child(2) {
  padding-left: 5px;
}

.kt-border ul li:last-child {
  border-right: none;
  padding-left: 5px;
}

.kt-content {
  min-width: 1200px;
  width: calc( 100% - 500px);
  margin: 0 auto;
  font-size: 12px;
  height: 450px;
  border-bottom: 1px solid gray;
}

.kt-content p {
  padding-bottom: 15px;
  padding-left: 10px;
}

.comment-insert {
  width: calc( 100% - 500px);
  min-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding-left: 25px;
  padding-bottom: 35px;
}

.comment-insert input[type="text"] {
  margin-left: -12px;
  margin-top: 6px;
  min-width: 85%;
  border: 1px solid gary;
  height: 146px;
  background-color: antiquewhite;
  width: 85px;
  border: 1px solid gray;
  padding-left: 15px;
  padding-bottom: 65px;
  vertical-align: middle;
}

#comment-box {
  min-width: 12%;
  margin-top: 5px;
  width: 176px;
  height: 146px;
  border: 1px solid gray;
  border-radius: 2px;
  background-color: skyblue;
  color: white;
  vertical-align: middle;
}

.comment-list {
  width: calc( 100% - 500px);
  min-width: 1200px;
  padding-top: 15px;
  text-align: left;
  margin: auto;
  padding-top: 35px;
  padding-bottom: 150px;
}

.comment-list li {
  padding-bottom: 15px;
  padding-left: 15px;
}

.comment-list li:first-child {
  border-bottom: 1px solid gray;
}

.comment-list li:nth-child(2) {
  padding-top: 25px;
  font-weight: bold;
}

.comment-list li:nth-child(4) {
  border-bottom: 1px solid gray;
  padding-bottom: 25px;
}

.comment-list li:nth-child(5) {
  padding-top: 25px;
  font-weight: bold;
}

.comment-list li:last-child {
  border-bottom: 1px solid gray;
  padding-bottom: 25px;
}

.move-page {
  border-top: 2px solid black;
  width: calc( 100% - 500px);
  min-width: 1200px;
  margin: 0 auto;
}

.move-page a {
  text-decoration: none;
}

.move-page ul li {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  border-bottom: 1px solid gray;
}

.move-page ul li p {
  padding-left: 15px;
}

.list-button {
  padding-top: 50px;
  width: calc( 100% - 500px);
  min-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 100px;
}

.list-button input[type="button"] {
  height: 50px;
  width: 200px;
  background-color: black;
  color: white;
}

.kt-footer {
  background-color: rgba(0, 0, 0, 0.7);
  height: 150px;
  width: 100%;
  min-width: 1200px;
}

.kt-footer a {
  text-decoration: none;
  color: white;
}

.kt-footer .kt-footer-list {
  width: calc( 100% - 500px);
  min-width: 1200px;
  color: white;
  margin: 0 auto;
  position: relative;
}

.kt-footer .kt-footer-list .kt-footer-img {
  display: inline-block;
  position: absolute;
  top: 15px;
  padding-right: 25px;
}

.kt-footer .kt-footer-list .kt-footer-info-list {
  display: inline-block;
  position: absolute;
  top: 26px;
  width: calc( 100% - 500px);
  min-width: 1200px;
}

.kt-footer .kt-footer-list .kt-footer-info-list ul {
  display: flex;
  position: absolute;
  top: 0;
  left: 400px;
}

.kt-footer .kt-footer-list .kt-footer-info-list ul li {
  display: inline-block;
  padding-left: 30px;
  border-right: 1px soild gray;
}

.kt-footer .innker {
  margin-top: 50px;
  padding: 10px 10px;
  float: right;
  display: inline-block;
  border: 1px solid gray;
  border-radius: 1px;
}

.kt-footer .kt-footer-info-list p {
  padding-top: 50px;
  margin-left: 428px
}


/* 선호끝 */


/* 민주 */

.top {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}

.top .list {
  width: 1050px;
  text-align: center;
  position: relative;
  margin: auto;
}

.top .list .main-list {
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: 0px;
  text-align: left;
}

.top .list .main-list .first {
  height: 50px;
}

.top .list li {
  display: inline-block;
  vertical-align: middle;
}

.top .list li a {
  text-decoration: none;
  color: black;
}

.top .list .main-list .first .info {
  margin-right: 145px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
}

.top .list .main-list .first .sub {
  font-size: 12px;
}

.top .list li img {
  vertical-align: middle;
}

.bann>div {
  background-image: url(../images/images/banner_02.jpg);
  height: 240px;
  color: white;
  font-size: 11px;
  text-align: center;
  min-width: 1050px;
  height: 240px;
  margin: auto;
  align-content: center;
}

.bann .bann-txt div div {
  padding-top: 90px;
}

.bann .bann-txt div div h3 {
  font-size: 30px;
}

.bann div li {
  display: inline-block;
  vertical-align: middle;
}

.bann div img {
  vertical-align: middle;
  margin: 0px;
}

.mid {
  position: relative;
  border-top: 1px solid gray;
  width: 1050px;
  margin: 50 auto;
  height: 1500px;
}

.mid>.title {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  background-color: rgb(235, 235, 235);
  height: 80px;
}

.mid .title .tit {
  position: absolute;
  left: 20px;
  top: 20;
}

.mid .title h3 {
  font-size: 20px;
  font-weight: 700px;
}

.mid .board-sel {
  height: 500px;
  border-bottom: 1px solid gray;
  font-size: 15px;
}

.mid .board-sel ul {
  margin-top: 25px;
  margin-left: 10px;
}

.mid .board-sel li {
  margin: 10px;
}

.mid .first li {
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 12px;
}

.mid .comment {
  height: 595px;
  position: relative;
  width: 1050px;
}

.mid .comment .main-list {
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}

.mid .comment .title h4 {
  margin-top: 15px;
}

.mid .comment .title {
  border-bottom: 1px solid gray;
  margin-top: 20px;
  padding-bottom: 10px;
  height: 150px;
}

.mid .title .tit h3 {
  font-weight: 700;
}

.mid .comment .main-list .ins .input-txt {
  margin-top: 10px;
  height: 100px;
  width: 900px;
  line-height: 10px;
}

.mid .comment .main-list .ins .input-button {
  height: 100px;
  background-color: rgb(118, 186, 180);
  border: 1px solid rgb(118, 186, 180);
  color: white;
  font-size: 20px;
  line-height: 10px;
  padding-bottom: 5px;
}

.mid .comment .comm {
  margin-bottom: 50px;
}

.mid .comment .comm ul {
  border-bottom: 1px solid rgb(206, 206, 206);
}

.mid .comment .comm li {
  margin: 10px;
  font-size: 12px;
}

.mid .comment .comm .str {
  font-size: 15px;
  font-weight: bold;
}

.mid .comment .comm .bir {
  font-size: 8px;
}

.mid .comment .paging {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.mid .comment .list-butt {
  text-align: center;
  width: 1050px;
  height: 100px;
  margin-top: 30px;
}

.mid .comment .list-butt button {
  height: 30;
  width: 100px;
  color: white;
  background-color: black;
  border: 1px solid black;
}

.mid .comment .paging .board-line {
  border-bottom: 1px solid rgb(206, 206, 206);
}

.mid .comment .paging ul a {
  text-decoration: none;
  color: black;
}

.mid .comment .paging li {
  display: inline-block;
  padding: 20px;
}

.bottom {
  background-color: rgb(51, 51, 51);
  color: white;
  height: 80px;
  margin: auto;
  min-width: 1050px;
}

.bottom div {
  width: 1050px;
  margin: auto;
  height: 80px;
}

.bottom .line {
  display: inline-block;
}

.bottom div ul {
  width: 525px;
  display: inline-block;
  text-align: center;
}

.bottom div .foot {
  margin-right: 100px;
  margin-top: 25px;
}

.bottom div span {
  margin-right: 100px;
}

.bottom .op {
  border: 1px solid white;
  width: 130px;
}


/* 민주끝 */