.hello{}
/* 선호 */

*{
<<<<<<< Updated upstream
  padding:0px;
  margin: 0px;

}
header{
  width:100%;
  padding:20px 0px;
}
.imges{
  display: inline-block;
}
<<<<<<< HEAD
=======

.main{
  width: 1200px;
  border-collapse: collapse;
  height: 300px;
  padding:20px 0px;
  margin-left: 500px;
  
}
.main table tr:first-child{
  background-color: aqua;
  border-top: 2px solid black;
}
.main table tr td {
  border-top: 1px solid blueviolet;
  padding:15px;
}

>>>>>>> master
/* 민주 */
hr{
  margin-bottom: 30px;
}
img{
  text-align: right;
}
.tbl1{
  margin: 0 auto;
  width: 1200px;
  margin-top: 50px;
  border: 1px solid #E0E0F8;
  background-color: #EFEFFB;
  height: 100px;
}
.col1{
  color: brown;
}
.jul{
  margin-bottom: 0 auto;
}


.tbl2{
  margin:0 auto;
  border-collapse: collapse;
  width: 1200px;
  margin-top: 50px;
  height: 300px;
}
.line{
  border-left: 1px solid #E0E0F8;
}

input{
  background-color: white;
  border: 1px solid black;
  width: 70px;
}

.but{
  color: brown;
}

.tbl2 tr{
  border-bottom: 1px solid  #E0E0F8;
}

.col2{
  border-top:2px solid brown;
  background-color:   #EFEFFB;
}

.list-sample2{
  width: 900px;
  height: 100px;
  margin: 0 auto;
  padding: 10px;
  background-color: #E0E0F8;
}
.list-sample2 ul{
  display: flex;
  height: 100%;
}
.list-sample2 ul li{
  display: flex;
  list-style: none;
  flex: 1 1 auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-right: 1px solid gray;
}
.list-sample2 ul li:last-child{
  border-right: 0;
}
.list-sample2 ul li .content div{
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.list-sample2 ul li .content div dt{
  font-size: 14px;
}
.list-sample2 ul li .content div dd{
  font-size: 20px;
  font-weight: 700;
  color: #922525;
}
.list-sample2 ul li img{
  vertical-align: middle;
}

.test{
  width: 900px;
  height: 100px;
  margin: 0 auto;
  padding: 10px;
  background-color: #E0E0F8;
}
.test ul{
  display: flex;
  height: 100%;
}
.test ul li{
  display: flex;
  list-style: none;
  flex: 1 1 auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgb(185, 185, 245);
}
.test ul li:last-child{
  border-right: 0;
}
.test ul li .one div{
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.test ul li .one div dt{
  font-size: 14px;
}
.test ul li .one div dd{
  font-size: 20px;
  font-weight: 700;
  color: #922525;
}
.test ul li img{
  vertical-align: middle;
}
<<<<<<< HEAD
=======
>>>>>>> master
.pad{
  padding-left: 20px;
}

/* 호근 */
.list-sample{
  margin: 30px auto;
  width: 500px;
}
.list-sample h2{
  font-size: 20px;
  color: #333333;
}
.list-sample ul {
  width: 100%;
  padding: 0;
}
.list-sample ul li{
  padding: 25px;
  list-style: none;
  border-bottom: 1px solid #efefef;
}
.list-sample ul li a{
  text-decoration: none;
}
.emphas{
  color: red;
}
.disabled{
  color: #e3e3e3;
}

.list-sample2{
  width: 900px;
  height: 100px;
  margin: 0 auto;
  padding: 10px;
  background-color: #E0E0F8;
}
.list-sample2 ul{
  display: flex;
  height: 100%;
}
.list-sample2 ul li{
  display: flex;
  list-style: none;
  flex: 1 1 auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-right: 1px solid gray;
}
.list-sample2 ul li:last-child{
  border-right: 0;
}
.list-sample2 ul li .content div{
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.list-sample2 ul li .content div dt{
  font-size: 14px;
}
.list-sample2 ul li .content div dd{
  font-size: 20px;
  font-weight: 700;
  color: #922525;
}
.list-sample2 ul li img{
  vertical-align: middle;
}
=======
  margin: 0px;
  padding:0px;

}
.img{
  float: left;
}
.img2{
  float: right;
}
header{
  padding:15px;
}
nav{
  padding: 15px 0px;
}
/* 민주 */
>>>>>>> Stashed changes
