html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*리셋*/

.section {
  position: relative;
  padding-top: 5px;
  width: 1200px;
  min-width: 1200px;
  max-width: 100%;
  font-family: 'Noto Sans KR', sans-serif;
}

.section h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

.section .menu-list .name {
  display: inline-block;
  padding: 10px 0px 10px 0px;
}

.section .menu-list .name div {
  display: none;
  position: absolute;
  left: 0;
}

.section .menu-list .name a {
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 1px solid gray;
  border-radius: 10px 10px 0px 0px;
}

.section .menu-list .name:focus a {
  background-color: gray;
  color: white;
}

.section .menu-list .name {
  display: inline-block;
}

.section .menu-list .name .menu {
  text-decoration: none;
  color: black;
}

.section .paging .pagenation {
  margin: auto;
  display: table;
}

.section .paging .pagenation span {
  display: inline-block;
  margin: 5px;
}

.section .paging .pagenation ul {
  display: inline-block;
  margin: 5px;
}

.section .writing a {
  background-color: gray;
  color: white;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 5px;
}

.section .section-main {
  position: relative;
}

.section .section-main .section-in table .title {
  width: 500px;
}

.section .writing {
  position: absolute;
  right: 0px;
  bottom: -10px;
}

.header .header-nav .on {
  background-color: white;
  color: black;
}


/*section 공지사항*/

.section table .color {
  background-color: cadetblue;
  font-weight: 400;
}

.section table .color td {
  color: white;
}


/*section 공지사항 상세*/

.section .notice-detail {
  width: 1000px;
  font-size: 17px;
  border: 2px solid gray;
  font-size: 17px;
  margin-top: 2px;
  width: 100%;
}

.section .notice-detail td {
  border: 2px solid gray;
  padding: 10px 0px 10px 10px;
}

.section .notice-detail tr .title {
  background-color: cadetblue;
  color: white;
  text-align: center;
  font-weight: 400;
  padding: 10px 0px;
}

.section .notice-detail tr .contents {
  height: 500px;
  padding: 25px;
}

.section .notice-detail tr td input {
  border: 1px solid gray;
  width: 98%;
}

.section .notice-detail tr:last-child td:first-child {
  padding: 15px 0px;
}

.section .notice-detail tr:last-child td:last-child input {
  width: 300px;
}

.section .notice-detail tr:last-child td:last-child button {
  background-color: gray;
  border: gray;
  color: white;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 5px;
}

.section .notice-detail .flex {
  color: white;
  background-color: cadetblue;
  text-align: center;
  padding: 0;
}

.section .notice-detail .check {
  padding: 0;
  text-align: center;
  width: 50px;
}

.section .notice-detail .check input {
  width: 18px;
  height: 18px;
  border: 1px solid gray;
  -webkit-appearance: checkbox;
}

.section .section-main .delete,
.section .section-main .update {
  background-color: gray;
  border: 1px solid gray;
  color: white;
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 5px;
  position: absolute;
  right: 0;
  margin-top: 10px;
}


/*공지사항 글쓰기*/

.section .section-main .notice-writing {
  border: 2px solid gray;
  margin-top: 2px;
  width: 100%;
}

.section .section-main .notice-writing input {
  border: 1px solid gray;
}

.section .section-main .notice-writing {
  border-bottom: 2px solid gray;
}

.section .section-main .notice-writing td {
  border: 2px solid gray;
  padding-left: 5px;
}

.section .section-main .notice-writing .title-name {
  padding: 0px;
  width: 500px;
}

.section .section-main .notice-writing .list-title {
  background-color: cadetblue;
  border-right: 2px solid gray;
  padding: 10px 0px;
  width: 200px;
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 19px;
}

.section .section-main .notice-writing .flex {
  padding: 10px 48px;
}

.section .section-main .notice-writing .check input {
  width: 18px;
  height: 18px;
  -webkit-appearance: checkbox;
  vertical-align: text-bottom;
  border: 1px solid gray;
}

.section .section-main .notice-writing .title-name input {
  width: 96%;
  margin-left: 9px;
}

.section .section-main .notice-writing input {
  outline: none;
}

.section .section-main .notice-writing .name {
  padding: 0px 0px 0px 10px;
  width: 330px;
}

.section .section-main .notice-writing .name input {
  margin-left: 9px;
}

.section .section-main .notice-writing .writer {
  border-left: 2px solid gray;
}

.section .section-main .notice-writing .content {
  margin: 10px;
  padding: 0px;
}

.section .section-main .notice-writing .content textarea {
  width: 1180px;
  height: 500px;
  border: 1px solid gray;
  outline: none;
  resize: none;
  margin: 5px;
}

.section .section-main .notice-writing .board-footer td:first-child {
  border-right: 2px solid gray;
  padding: 10px 30px;
  font-size: 19px;
  font-weight: 400;
  background-color: cadetblue;
  color: white;
}

.section .section-main .notice-writing .board-footer td:last-child {
  padding: 5px;
}

.section .section-main .notice-writing .board-footer button {
  background-color: gray;
  color: white;
  padding: 5px 20px;
  font-size: 17px;
  margin-left: 10px;
}

.section .section-main .del {
  background-color: gray;
  border: 1px solid gray;
  color: white;
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 5px;
  position: absolute;
  right: 100px;
  margin-top: 10px;
}

.section .section-main .back {
  background-color: gray;
  border: 1px solid gray;
  color: white;
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 5px;
  margin-top: 10px;
}


/*공지사항 끝*/


/*section 1:1문의*/

.section .menu-list {
  font-size: 0;
}

.section .menu-list .name {
  font-size: 14px;
}

.section .menu-list .name:focus {
  background-color: white;
}

.section .section-in .option-box {
  border: 1px solid gray;
  padding: 12px 0px 8px 85px;
  margin-top: 30px;
  border-radius: 5px;
}

.section .section-in .option-box input {
  outline: none;
}

.section .section-in .option-box .check {
  width: 18px;
  height: 18px;
  -webkit-appearance: checkbox;
  vertical-align: text-bottom;
  border: 1px solid gray;
}

.section .section-in .option-box select {
  outline: none;
}

.section .section-in .option-box .option {
  display: inline-block;
}

.section .section-in .option-box .option li {
  display: inline-block;
}

.section .section-in .option-box .option .answer {
  padding-right: 50px;
  vertical-align: middle;
}

.section .section-in .option-box .option .date {
  padding-right: 40px;
}

.section .section-in .option-box .option .date .text {
  width: 150px;
  height: 22px;
  background-color: #e6e7ef;
  border: none;
}

.section .section-in .option-box .option .select {
  margin-right: 20px;
}

.section .section-in .option-box .option .select select {
  width: 80px;
  height: 25px;
}

.section .section-in .option-box .option .title {
  margin-right: 20px;
}

.section .section-in .option-box .option .title input {
  height: 22px;
}

.section .section-in .option-box button {
  background-color: gray;
  border: 1px solid gray;
  color: white;
  width: 80px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  vertical-align: middle;
}

.section .section-in table {
  margin: 10px auto;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.section .section-in table tr {
  height: 35px;
}

.section .section-in table tr td:first-child {
  border-left: none;
}

.section .section-in table tr td:last-child {
  border-right: none;
}

.section .section-in table td {
  border: 2px solid gray;
  padding-top: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.section .section-in table a {
  display: block;
  color: black;
  text-decoration: none;
}


/*section 1:1문의 상세*/

.section .section-main .inquiry-table {
  width: 100%;
  margin: 50px auto 20px auto;
  font-size: 18px;
}

.section .section-main .inquiry-table td {
  border: 2px solid gray;
  padding: 10px;
}

.section .section-main .inquiry-table .title {
  text-align: center;
  background-color: cadetblue;
  color: white;
  font-weight: 400;
}

.section .section-main .inquiry-table .content {
  height: 200px;
}

.section .section-main .inquiry-table .content td {
  padding: 15px;
}

.section .section-main .inquiry-answer {
  width: 99.6%;
  margin: 20px auto;
  border: 2px solid gray;
}

.section .section-main .inquiry-answer textarea {
  outline: none;
  resize: none;
  width: 1150px;
  padding: 15px;
}


/* .section .section-main .inquiry-answer p {
  font-size: 18px;
  border: 1px solid gray;
  margin: 8px;
  padding: 8px;
  text-align: left;
  height: 150px;
} */

.section .section-main .inquiry-button {
  width: 100%;
  margin: auto;
  text-align: right;
}

.section .section-main .inquiry-button button {
  background-color: gray;
  color: white;
  border: 1px solid gray;
  padding: 10px 30px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.section .section-main .inquiry-button button:first-child {
  float: left;
}


/*문의 끝*/


/*section FAQ*/

.section .sec-question {
  margin-top: 60px;
  position: relative;
}

.section .sec-question button {
  background-color: gray;
  border: 1px solid gray;
  color: white;
  padding: 5px;
}

.section .section-in .sub-menu {
  display: inline-block;
  width: 995px;
}

.section .section-in .sub-menu .sub-list {
  display: inline-block;
  padding: 11px 0px 11px 0px;
  border-radius: 10px 10px 0px 0px;
  border: 1px solid gray;
}

.section .section-in .sub-menu .sub-list a {
  /* border: 1px solid gray; */
  padding: 10px 15px 10px 15px;
  /* border-radius: 10px 10px 0px 0px; */
}

.section .section-in .purchase-list {
  border-top: 2px solid gray;
  font-size: 0;
}

.section .section-in .purchase-list .sub-list {
  display: none;
}

.section .section-in .sub-list .purchase-list {
  position: absolute;
  left: 0;
  margin-top: 12px;
  width: 100%;
}

.section .section-in .purchase-list li ul li {
  display: inline-block;
}

.section .section-in .purchase-list .list {
  border-bottom: 2px solid gray;
  font-size: 16px;
}

.section .section-in .purchase-list .list-title {
  background-color: cadetblue;
  color: white;
  font-weight: 400;
  font-size: 16px;
}

.section .section-in .purchase-list .list ul li {
  padding: 8px 5px 8px 5px;
  vertical-align: middle;
}

.section .section-in .purchase-list .number {
  width: 90px;
  text-align: center;
}

.section .section-in .purchase-list .q {
  width: 900px;
}

.section .section-in .purchase-list .day {
  text-align: center;
  width: 120px;
}

.section .section-in .purchase-list .center {
  text-align: center;
}

.section .section-in .purchase-list .list .sub-list {
  border-top: 2px solid gray;
}

.section .section-in .purchase-list .list .sub-list .answer {
  padding: 40px 0px 40px 50px;
  width: 990px;
}

.section .section-in .purchase-list .list .sub-list button {
  width: 70px;
  padding: 8px 0px 8px 0px;
  margin-right: 20px;
  text-align: center;
}

.section .section-in .button {
  display: inline-block;
  margin: 2px;
  float: right;
}

.section .section-in .button button {
  padding: 5px 10px;
  border-radius: 5px;
}

.section .section-in .purchase-list .list .down-arrow {
  border: solid gray;
  border-width: 0 2px 2px 0;
  display: inline-block;
  width: 11px;
  height: 11px;
  padding: 0px;
}

.section .section-in .purchase-list .list .down-arrow {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.section .section-in .purchase-list .list .up-arrow {
  border: solid gray;
  border-width: 0 2px 2px 0;
  display: inline-block;
  width: 11px;
  height: 11px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  padding: 0px;
}

.section .section-main .category-box {
  border: 1px solid gray;
  display: inline-block;
  padding: 5px;
  margin: 10px 20px;
  float: right;
}

.section .section-main .faq-table table {
  width: 100%;
  font-size: 18px;
  border: 2px solid gray;
  margin-bottom: 30px;
}

.section .section-main .faq-table table textarea {
  outline: none;
  resize: none;
  width: 100%;
}

.section .section-main .faq-table table tr:first-child {
  text-align: center;
  border-bottom: 2px solid gray;
  background-color: rgba(95, 158, 160);
  color: white;
  font-weight: 400;
  font-size: 19px;
}

.section .section-main .faq-table table td {
  padding: 8px;
}

.section .section-main .faq-table table tr:last-child td {
  padding: 25px;
}

.section .section-main .faq-table table .quertion-title {
  padding: 5px;
}

.section .section-main .faq-table table .quertion-title td {
  border: 1px solid gray;
  height: 200px;
  padding: 25px;
}

.section .section-main .faq-table table input {
  width: 100%;
  height: 200px;
  font-size: 18px;
}

.section .section-main .faq-button1 {
  padding: 10px 30px;
  background-color: gray;
  color: white;
  border: solid gray;
  border-radius: 5px;
  margin-bottom: 20px;
}

.section .section-main .faq-button2 {
  padding: 10px 30px;
  background-color: gray;
  color: white;
  border: solid gray;
  float: right;
  border-radius: 5px;
  margin-bottom: 20px;
}

.section .section-main .sec-question .sub88 {
  display: none;
}


/*FAQ 끝*/

.section .menu-list .on {
  background-color: gray;
  color: white;
}

.section .sub-menu .on1 {
  background-color: gray;
  color: white;
}


/*통계관리*/

.section .graph {
  margin-top: 30px;
  font-size: 0px;
}

.section .graph form {
  width: 100%;
}

.section .graph form div {
  display: inline-block;
  border: 1px solid gray;
  padding: 5px;
  margin-right: 185px;
  font-size: 15px;
}

.section .graph form div:first-child {
  margin-left: 50px;
}


/* .section .graph select {
  padding: 0px 40px;
} */

.section .graph select {
  display: inline-block;
  height: 25px;
}

.section .graph select {
  width: 120px;
  height: 25px;
}

.section .graph {
  border: none;
}

.section .graph button {
  padding: 7px 25px;
  background-color: gray;
  color: white;
  border: solid gray;
  border-radius: 5px;
  margin-right: 50px;
  font-size: 15px;
}

.section .graph .main-graph {
  border: 1px solid gray;
  height: 500px;
  width: 100%;
  margin-top: 20px;
}


/*통계관리 회원가입 통계*/


/*카테고리*/

.sec-question form {
  all: unset;
}

form #popup_wrap,
form #wrap {
  background: #fff;
  border: solid 1px #666666;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -250px;
  z-index: 9999;
  display: none;
}

form #mask,
form #mask2 {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.7) repeat;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
}

form .popup-cont01,
form .cont {
  width: 478px;
  margin: 40px auto;
  text-align: center;
}

form .cont ul li input {
  width: 18px;
  height: 18px;
  border: 1px solid gray;
  -webkit-appearance: checkbox;
}

form .cont p {
  display: inline-block;
  font-size: 18px;
}

form .cont ul li {
  display: inline-block;
  margin: 0px 5px;
}

form .cont .kategorie {
  font-size: 17px;
  background-color: gray;
  color: white;
  padding: 10px 25px;
  border-radius: 8px;
}

form .cont input {
  vertical-align: top;
  margin-top: 15px;
}

form .popup-cont01 h3,
form .cont h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
}

form .popup-cont01 textarea {
  width: 90%;
  outline: none;
  height: 70px;
}

form .popup-cont01 button,
form .cont button {
  width: 100px;
  height: 36px;
  background: #9f2f60;
  color: #ffffff;
  text-align: center;
  border: none;
  font-size: 16px;
  margin: 30px 20px;
}

.sec-question .cont button {
  float: right;
}

.sec-question .cont .delt {
  float: left;
}