html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  border: 0;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.sk_header {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
}

.sk_header .main-paging button {
  border: none;
  width: 64px;
  height: 122px;
  background-color: unset;
  cursor: pointer;
}

.sk_header .main-paging .owl-prev {
  background-image: url(../img/prev.png);
  position: absolute;
  top: 405px;
  left: 154px;
}

.sk_header .main-paging .owl-prev span {
  display: none;
}

.sk_header .main-paging .owl-next {
  background-image: url(../img/next.png);
  position: absolute;
  width: 64px;
  height: 122px;
  top: 405px;
  right: 154px;
}

.sk_header .main-paging .owl-next span {
  display: none;
}

.owl-dots {
  display: none;
}

.pos {
  position: absolute;
  top: 0px;
}

.sk_bg {
  width: 100%;
  height: 710px;
  margin: 0 auto;
  background-image: url(../img/backgroundimg.png);
  background-size: cover;
}

.sk_header .sk_nav {
  width: 1180px;
  height: 87px;
  margin: 0 auto;
  padding-top: 20px;
}

.sk_header .sk_nav a {
  text-decoration: none;
  color: black;
}

.sk_header .sk_nav ul {
  display: flex;
  background-color: white;
  position: relative;
}

.sk_header .sk_nav ul li {
  flex: 1 1 auto;
}

.sk_header .sk_nav ul .nav-list {
  padding-top: 36px;
}

.sk_header .sk_nav ul .nav-list .sub-list {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  bottom: -200px;
  width: 1180px;
  left: 0px;
  height: 200px;
  margin-top: 25px;
  border: 1px solid rgb(176, 176, 176);
  border-left: none;
  border-right: none;
  box-sizing: border-box;
}

.sk_header .sk_nav ul .nav-list .sub-list .sub-list-item {
  line-height: 30px;
  text-align: center;
  margin-left: 200px;
  width: 250px;
  border-left: 1px solid rgba(176, 176, 176, 0.8);
  border-right: 1px solid rgba(176, 176, 176, 0.8);
  font-size: 14px;
  font-family: "malgun", "Nanum Gothic", "????", "??", Dotum, "??", Gulim, Arial, sans-serif;
}

.sk_header .sk_nav ul .nav-list .sub-list .sub-list-item a {
  padding: 0 5px;
}

.sk_header .sk_nav ul .nav-list .sub-list li:first-child {
  margin-top: 15px;
}

.sk_header .sk_nav ul .nav-list a:hover {
  border-bottom: 1px solid black;
}

.sk_header .sk_nav ul .nav-list:hover .sub-list {
  display: block;
}

.sub-list-img a img {
  position: absolute;
  bottom: 25px;
  right: 30px;
  width: 400px;
  height: 150px;
}

.dot:before {
  content: "• ";
  color: rgba(187, 187, 187, 0.8);
  padding-right: 17px;
}

.bg-paging {
  position: absolute;
  top: 0px;
  border: none;
}

.bg-paging button {
  border: none;
  color: white;
  font-size: 250px;
  font-weight: normal;
  background-color: unset;
}

.sk_header .sk_nav ul li select {
  width: 100%;
  height: 100%;
  color: white;
  border: none;
  padding: 21px;
  background: url(../img/underbar.png) no-repeat 80% 50%;
  -webkit-appearance: none;
  background-color: rgb(176, 176, 176);
}

.sk_header .header-text {
  width: 1180px;
  text-align: center;
  padding-top: 149px;
  margin: 0 auto;
  font-family: 'Noto Sans KR';
  font-weight: 100;
}

.sk_header .header-text h1 {
  font-size: 60px;
  padding-bottom: 36px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: inline-block;
}

.sk_header .header-text h1 .text-color {
  color: rgb(239, 128, 9);
}

.sk_header .header-text h1 .underlined {
  border-bottom: 1px solid black;
  padding-bottom: 26px;
}

.sk_header .header-text .description {
  line-height: 25px;
  padding-top: 32px;
}

.ad {
  border: 1px solid rgb(255, 98, 7);
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 138px;
  left: 369px;
  width: 480px;
}

.ad .ad-header {
  width: 100%;
  background: rgb(255, 98, 7);
  color: white;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
}

.ad .ad-list {
  background-color: rgb(249, 249, 249);
  padding: 20px 30px;
}

.ad .ad-list ul {
  display: inline-block;
  border: 1px solid rgb(213, 213, 213);
  background-color: rgb(249, 249, 249);
}

.ad .ad-list ul li {
  padding: 0 16px;
}

.ad .ad-list ul li:first-child {
  padding-top: 30px;
  padding-bottom: 16px;
}

.ad .ad-list ul li:nth-child(2) {
  padding-bottom: 13px;
}

.ad .ad-list ul li:last-child {
  padding-bottom: 30px;
}

.check {
  border-top: 1px solid rgb(213, 213, 213);
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 18px;
}

.check span {
  float: right;
  padding-right: 29px;
}

.sk_section {
  margin: 0 auto;
  width: 100%;
  position: relative;
  max-width: 1920px;
}

.section_header {
  padding-top: 99px;
  width: 1180px;
  margin: 0 auto;
}

.section_header h2 {
  font-size: 24px;
  padding-bottom: 33px;
  font-family: 'Noto Sans KR';
  font-weight: 300;
}

.section_header h2 span {
  font-weight: bold;
}

.section_paging {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.section_list {
  width: 1180px;
  margin: 0 auto;
  padding-bottom: 101px;
  font-family: 'Noto Sans KR';
  position: relative;
}

.section_list .list-content {
  display: flex;
  justify-content: space-between;
}

.section_list .list-content .frist_list {
  position: relative;
}

.section_list .list-content .frist_list .list_text a {
  position: absolute;
  bottom: 66px;
  left: 137px;
  text-decoration: none;
  color: white;
  font-size: 28px;
  text-align: center;
  line-height: 35px;
}

.section_list .list-content .frist_list .list_link {
  position: absolute;
  bottom: 23px;
  right: 49px;
}

.section_list .list-content .second_list {
  position: relative;
}

.section_list .list-content .second_list .list_text a {
  position: absolute;
  bottom: 66px;
  left: 118px;
  text-decoration: none;
  color: white;
  font-size: 28px;
  text-align: center;
  line-height: 35px;
}

.section_list .list-content .second_list .list_link {
  position: absolute;
  bottom: 23px;
  right: 49px;
}

.section_list .list-content .thrid_list {
  position: relative;
}

.section_list .list-content .thrid_list .list_text a {
  position: absolute;
  bottom: 66px;
  left: 71px;
  font-size: 28px;
  text-decoration: none;
  color: white;
  line-height: 35px;
  text-align: center;
}

.section_list .list-content .thrid_list .list_link {
  position: absolute;
  bottom: 23px;
  right: 49px;
}

.event_banner {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgb(230, 230, 230);
  max-width: 1920px;
  margin: 0 auto;
  background-color: rgb(251, 251, 251);
  display: flex;
}

.event_banner .event_info {
  width: 1180px;
  margin: 0 auto;
}

.event_banner .event_info img {
  float: left;
}

.event_banner .event_info .event_text {
  font-family: 'Noto Sans KR';
  font-weight: 200;
  /* padding-left: 91px; */
  vertical-align: 79px;
  text-align: left;
  padding-top: 107px;
  margin: 0 auto;
}

.event_banner .event_info .event_text .text-header {
  color: rgb(85, 85, 85);
  font-weight: 500;
  padding-bottom: 24px;
}

.event_banner .event_info .event_text .text-info {
  font-size: 28px;
  font-weight: bold;
  color: rgb(51, 51, 51);
}

.event_banner .event_info .event_text .text-footer {
  font-size: 28px;
  padding-top: 17px;
}

.event_banner .event_info .event_text .text-footer span {
  color: rgb(255, 120, 24);
  font-weight: bold;
}

.iot-online {
  width: 100%;
  background-color: rgb(255, 248, 233);
  max-width: 1920px;
  margin: 0 auto;
  height: 587px;
  position: relative;
  border: 1px solid rgb(230, 230, 230);
  box-sizing: border-box;
}

.iot-online .consulting {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}

.iot-online .consulting .info-list {
  padding-top: 160px;
  padding-bottom: 40px;
}

.iot-online .consulting .info-list li:first-child {
  font-family: 'Noto Sans KR';
  font-weight: 400;
  font-size: 47px;
}

.iot-online .consulting .info-list li:last-child {
  padding-top: 30px;
  line-height: 25px;
  font-family: 'Noto Sans KR';
  font-weight: 400;
  font-size: 17px;
  color: rgb(119, 119, 119);
}

.iot-online .consulting .iot_link-list a {
  text-decoration: none;
  color: white;
}

.iot-online .consulting .iot_link-list .orange-box {
  background-color: rgb(255, 120, 24);
  border-radius: 50px;
  width: 290px;
  height: 89px;
  margin-bottom: 10px;
}

.iot-online .consulting .iot_link-list .orange-box a {
  display: flex;
  padding-top: 36px;
  padding-left: 41px;
}

.iot-online .consulting .iot_link-list .orange-box img {
  padding-left: 87px;
}

.iot-online .consulting .iot_link-list .red-box {
  background-color: rgb(225, 42, 45);
  border-radius: 50px;
  width: 290px;
  position: relative;
  height: 89px;
}

.iot-online .consulting .iot_link-list .red-box a {
  display: flex;
  padding-top: 36px;
  padding-left: 41px;
}

.iot-online .consulting .iot_link-list .red-box .youtube {
  width: 75px;
  height: 40px;
  right: 126px;
  top: 26px;
  position: absolute;
}

.iot-online .consulting .iot_link-list .red-box span {
  padding-left: 125px;
}

.iot_img {
  position: absolute;
  right: 73px;
  top: 71px;
}

.max-width-footer {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.sk_footer {
  width: 1180px;
  margin: 0 auto;
  margin-bottom: 72px;
  margin-top: 71px;
  display: flex;
}

.sk_footer .notice .notice-header {
  font-family: 'Noto Sans KR';
  font-size: 21px;
  color: rgb(255, 98, 7);
  padding-bottom: 40px;
  border: none;
}

.sk_footer .notice .notice-header button {
  float: right;
  background-color: white;
  border: 1px solid rgba(173, 173, 173, 0.8);
  color: black;
  padding: 0 5px;
}

.sk_footer .notice a {
  text-decoration: none;
  color: black;
  font-family: 'Noto Sans KR';
}

.sk_footer .notice ul li {
  border-bottom: 1px solid rgba(173, 173, 173, 0.8);
  padding: 20px 0;
  width: 450px;
}

.sk_footer .notice ul li a {
  width: 100%;
}

.sk_footer .notice ul li em {
  font-size: 17px;
  font-family: 'Noto Sans KR';
  padding-bottom: 5px;
}

.sk_footer .notice p {
  color: #888;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 5px;
  font-family: 'Noto Sans KR';
  overflow: hidden;
}

.support {
  border: 1px solid rgba(173, 173, 173, 0.8);
  box-sizing: border-box;
  display: flex;
}

.support .call-sup {
  padding: 0 80px;
  text-align: center;
  background-color: rgb(248, 248, 248);
  border-right: 1px solid rgba(173, 173, 173, 0.8);
  box-sizing: border-box;
}

.support .call-sup div:first-child {
  padding-top: 50px;
}

.support .call-sup .sub-head {
  font-family: 'Noto Sans KR';
  font-size: 20px;
  color: rgb(255, 98, 7);
  padding-top: 25px;
  padding-bottom: 15px;
}

.support .call-sup .number {
  font-size: 30px;
  font-weight: bold;
  border-bottom: 1px solid rgba(173, 173, 173, 0.8);
  padding-bottom: 10px;
  display: inline-block;
}

.support .call-sup div:nth-child(4) {
  font-family: 'Noto Sans KR';
  font-size: 15px;
  font-weight: 400;
  padding-top: 14px;
  color: rgb(0, 0, 51);
}

.support .call-sup div:last-child {
  font-family: 'Noto Sans KR';
  font-size: 14px;
  color: rgb(145, 145, 145);
  font-weight: 300;
  padding-top: 5px;
  padding-bottom: 43px;
}

.support .menu {
  text-align: center;
  padding: 0 62px;
}

.support .menu div:first-child {
  padding-top: 31px;
}

.support .menu .sub-head {
  font-family: 'Noto Sans KR';
  font-size: 20px;
  color: rgb(255, 98, 7);
  padding-top: 10px;
  padding-bottom: 15px;
}

.support .menu div:nth-child(3) {
  line-height: 20px;
  font-family: 'Noto Sans KR';
  font-size: 15px;
  padding-bottom: 17px;
}

.support .menu button {
  border: 2px solid rgb(255, 98, 7);
  border-radius: 50px;
  background-color: white;
  color: rgb(255, 98, 7);
  padding: 12px 55px;
}

.sk_info_footer {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.footer_bg {
  background-color: rgb(75, 75, 75);
}

.sk_info_footer .wrapper {
  width: 1180px;
  margin: 0 auto;
}

.sk_info_footer .wrapper a {
  text-decoration: none;
  color: white;
  font-family: 15px "malgun", "Nanum Gothic", "????", "??", Dotum, "??", Gulim, Arial, sans-serif;
}

.sk_info_footer .wrapper ul {
  padding-top: 20px;
  padding-bottom: 17px;
  position: relative;
  display: flex;
}

.sk_info_footer .wrapper ul li {
  font-size: 15px;
  font-weight: 100;
  padding: 0 44px;
  border-left: 1px solid rgb(111, 111, 111);
}

.sk_info_footer .wrapper ul li:last-child {
  border: none;
}

.sk_info_footer .wrapper ul li select {
  position: absolute;
  background-color: rgb(75, 75, 75);
  color: white;
  padding: .8em .5em;
  height: 49px;
  width: 169px;
  bottom: 2px;
  border-top: none;
  border-bottom: none;
  background: url(../img/underbar.png) no-repeat 95% 50%;
  -webkit-appearance: none;
  box-sizing: border-box;
}

.sk_info_footer .info {
  width: 100%;
  margin: 0 auto;
  max-width: 1920px;
  text-align: left;
  margin-top: 27px;
  margin-bottom: 27px;
}

.sk_info_footer .info ul {
  display: flex;
  width: 1180px;
  margin: 0 auto;
}

.sk_info_footer .info ul li {
  padding: 0 9px;
  color: rgb(153, 153, 153);
  font-family: "??", Gulim;
  font-size: 10px;
  border-right: 1px solid rgb(153, 153, 153);
}

.sk_info_footer .info ul li:last-child {
  border: none;
}

.list-banner .list-paging {
  position: absolute;
  top: -54px;
  right: 20px;
}

.list-banner .list-paging button {
  border: none;
  border: 1px solid rgb(233, 233, 233);
  border-radius: 50%;
  background-color: white;
  margin-right: 5px;
  width: 30px;
  height: 30px;
}

.sk_footer .notice {
  margin: 0 auto;
}

#myBtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}