/* 공통 */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* 공통끝 */


/*선호*/

.spc-header {
  width: 100%;
  background-color: #313337;
  min-width: 1920px;
}

.header-ad {
  width: 1080px;
  height: 120px;
  color: white;
  margin: 0 auto;
  position: relative;
  min-width: 1080px;
  padding-top: 10px;
}

.header-ad a {
  text-decoration: none;
  color: white;
}

.header-ad strong {
  font-family: NanumSquareB;
  font-size: 26px;
  letter-spacing: -1.3px;
  color: #ffc41c;
}

header .header-ad ul {
  display: inline-block;
}

header .header-ad ul li {
  list-style: none;
  color: white;
}

header .header-ad ul li:first-child {
  font-family: NanumSquareB;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.8;
  letter-spacing: -1.5px;
  text-align: left;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 15px;
}

.header-ad-img {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 270px;
}

.header-ad-img img {
  width: 134px;
  height: 85px;
}

.header-ad a {
  vertical-align: 10px;
  margin-left: 176px;
  width: 130px;
  height: 45px;
  background-color: #16bbee;
  border: 1px solid gray;
  border-radius: 5px;
  font-family: NanumSquareB;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 3.22;
  letter-spacing: -0.9px;
  text-align: center;
  padding: 13px 34px;
  margin-right: 75px;
}

.header-ad span {
  position: absolute;
  bottom: 41px;
  right: 0px;
}

.header-ad p {
  display: inline-block;
  font-family: NanumSquareR;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: -0.6px;
  position: absolute;
  top: 93px;
  right: 0px;
}

header .spc-nav {
  width: 1921px;
}

header .spc-nav span img {
  padding-top: 15px;
  float: left;
}

.spc-nav .spc-list {
  width: 1080px;
  height: 100px;
  margin: auto;
}

.spc-nav .spc-list ul {
  display: flex;
}

.spc-nav .spc-list ul li {
  list-style: none;
  flex: 1 1 auto;
  font-family: NanumBarunGothic;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: -0.45px;
  text-align: right;
  color: #333333;
  margin-top: 35px;
  margin-bottom: 36px;
}

.spc-section {
  width: 1920px;
  height: 861px;
  background-image: url(..//img/section-background1.png);
  margin: 0 auto;
  min-width: 1920px;
  position: relative;
}

.spc-section a {
  text-decoration: none;
  color: white;
}

.spc-section>ul li {
  list-style: none;
  margin-left: 422px;
  color: white;
}

.spc-section>ul li:first-child {
  font-family: Roboto;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: -1.1px;
  padding-top: 155px;
}

.spc-section>ul li:nth-child(2) {
  font-family: Roboto;
  font-size: 70px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: -3.5px;
  text-align: left;
}

.spc-section>ul li:nth-child(3) {
  width: 60px;
  height: 1px;
  padding-top: 28px;
  padding-bottom: 29px;
}

.spc-section>ul li:nth-child(4) {
  font-family: NanumSquareR;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: -1.5px;
  text-align: left;
}

.spc-section>ul li:nth-child(5) {
  font-family: NanumSquareR;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: -1.5px;
  text-align: left;
}

.spc-section .Circle-link {
  position: absolute;
  left: 423px;
  top: 481px;
}

.spc-section .Circle-link ul li {
  color: white;
  display: inline-block;
  font-weight: 700;
  font-size: 19px;
  border-radius: 50%;
  font-family: NanumSquareB;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 3.88;
  letter-spacing: -0.8px;
  text-align: center;
  padding: 19px 17px;
}

.spc-section .Circle-link ul li:first-child {
  background-color: rgba( 239, 185, 44, 0.8);
  padding-right: 19px;
}

.spc-section .Circle-link ul li:nth-child(2) {
  background-color: rgba(14, 136, 174, 0.8);
}

.spc-section .Circle-link ul li:last-child {
  background-color: rgba(24, 24, 24, 0.8);
}

.spc-section .Circle-link ul li a {
  padding-top: 15px;
}

.spc-section .img-banner {
  position: absolute;
  top: 109px;
  right: 421px;
  width: 490px;
  height: 590px;
}

.spc-section .section-nav {
  position: absolute;
  bottom: 111px;
  left: 888px;
}

.spc-section .section-nav ul {
  display: inline-block;
}

.spc-section .section-nav ul li {
  display: inline-block;
  padding-right: 5px;
}

.spc-section .section-mouse {
  position: absolute;
  bottom: 39px;
  right: 938px;
}

.spc-section .aside-list {
  position: absolute;
  right: 246px;
  top: 118px;
}

.spc-section .aside-list ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.spc-section .aside-list ul li {
  width: 85px;
  height: 83px;
  background-color: white;
  border-bottom: 1px solid #d1d1d1;
  user-select: none;
}

.spc-section .aside-list ul li:last-child {
  height: 32px;
  background-color: #24222f;
  padding-top: 11px;
  border-bottom: none;
}

.spc-section .aside-list ul li:last-child a {
  padding-left: 25px;
}


}
.spc-section .aside-list ul li img {
  flex: 0 0 auto;
}
.spc-section .aside-list ul li:first-child img {
  padding: 13px 24px;
}
.spc-section .aside-list ul li:nth-child(2) img {
  padding: 13px 24px;
}
.spc-section .aside-list ul li:nth-child(3) img {
  padding: 13px 24px;
}
.spc-section-info {
  width: 1920px;
  height: 820px;
  background-image: url(..//img/section-background2.png);
  min-width: 1920px;
  margin: 0 auto;
  padding-top: 140px;
  position: relative;
}
.spc-section-info ul {
  margin: 0 auto;
  text-align: center;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  width: 1081px;
}
.spc-section-info>ul li {
  padding-bottom: 13px;
}
.spc-section-info>ul li:first-child {
  font-family: NanumSquareB;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: -1px;
  text-align: center;
  padding-top: 26px;
  padding-bottom: 16px;
}
.spc-section-info>ul li strong {
  font-family: NanumSquareB;
  font-size: 34px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: -1.7px;
  text-align: center;
  color: #ffc41c;
}
.spc-section-info>ul li:nth-child(3) {
  font-family: NanumSquareL;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: -1.2px;
}
.spc-section-info>ul li:last-child {
  padding-bottom: 20px;
  font-family: NanumSquareL;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.64;
  letter-spacing: -0.7px;
}
.spc-section-info .section-imgs .sct-img {
  position: absolute;
  top: 409px;
  left: 879px;
}
.spc-section-info>span {
  position: absolute;
  top: 139px;
  right: 475px;
}
.spc-section-info .section-imgs {
  margin-left: 419px;
  margin-top: 40px;
}
.spc-section-info .section-imgs a:nth-child(1) {
  position: absolute;
  top: 386px;
}
.spc-section-info .section-imgs img {
  display: inline-block;
}
.spc-section-info .section-imgs span {
  position: absolute;
  bottom: 53px;
  right: 935px;
}
.spc-section-info .section-prebtn a {
  position: absolute;
  top: 675px;
  left: 878px;
  height: 56px;
  width: 36px;
  opacity: 0.6;
  font-size: 35px;
  margin-top: 269px;
  display: inline-block;
  color: black;
  text-align: center;
}
.spc-section-info .section-prebtn a:hover {
  background-color: black;
  user-select: none;
  -webkit-user-select: none;
  color: white;
}
.spc-section-info .section-nextbtn a {
  position: absolute;
  top: 675px;
  right: 421px;
  height: 56px;
  width: 36px;
  opacity: 0.6;
  font-size: 35px;
  margin-top: 269px;
  display: inline-block;
  color: black;
  text-align: center;
}
.spc-section-info .section-nextbtn a:hover {
  background-color: black;
  user-select: none;
  -webkit-user-select: none;
  height: 56px;
  width: 36px;
  color: white;
}
.spc-section-info .section-link-box {
  position: absolute;
  top: 442px;
  right: 445px;
  width: 74px;
  opacity: 0.85;
  background-color: #fa4629;
  padding: 0 5px;
  padding: 5px 5px;
}
.spc-section-info .section-link {
  margin: auto;
  border: solid 1px white;
  padding: 25px 6px;
}
.spc-section-info a {
  text-decoration: none;
  font-family: NanumSquareB;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.47;
  letter-spacing: -0.75px;
  text-align: left;
  color: white;
}
.spc-curriculum {
  width: 1080px;
  height: 1186px;
  margin: 0 auto;
  display: block-inline;
  position: relative;
}
.spc-curriculum .spc-gallery-list p {
  margin: 0 auto;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 990;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.21;
  letter-spacing: -1.4px;
  color: #333333;
  margin-top: 80px;
  margin-bottom: 15px;
}
.spc-curriculum .spc-gallery-list p a {
  font-family: NanumSquareR;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 4.43;
  letter-spacing: -0.7px;
  text-align: right;
  color: #999999;
  user-select: none;
  float: right;
}
.spc-curriculum .spc-gallery-list ul {
  width: 1080px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
}
.spc-curriculum .spc-gallery-list ul li {
  flex: 0 0 auto;
}
.spc-curriculum .spc-gallery-list ul li img {
  width: 211px;
  height: 300px;
}
.spc-curriculum .spc-gallery-list ul li:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.spc-gallery {
  display: block;
  width: 535px;
}
.spc-gallery p {
  margin: 0 auto;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 990;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.21;
  letter-spacing: -1.4px;
  color: #333333;
  margin-top: 80px;
  margin-bottom: 15px;
}
.spc-gallery p a {
  text-decoration: none;
  font-family: NanumSquareR;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 4.43;
  letter-spacing: -0.7px;
  text-align: right;
  color: #999999;
  float: right;
}
.spc-socialNetwork {
  display: block;
  position: absolute;
  right: 0px;
  top: 377px;
}
.spc-socialNetwork>ul {
  border-radius: 3px;
  background-color: rgb(246, 243, 241);
  width: 535px;
  height: 295px;
  position: relative;
}
.spc-socialNetwork .instarlink {
  text-align: right;
  padding-right: 47px;
  padding-top: 35px;
}
.spc-socialNetwork>ul .sns-img {
  position: absolute;
  top: 28px;
  left: 20px;
}
.spc-socialNetwork>ul .sns-img2 {
  position: absolute;
  top: 159px;
  left: 20px;
}
.spc-socialNetwork ul li a {
  display: inline;
  font-family: NanumSquareB;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.69;
  letter-spacing: -0.65px;
  text-align: center;
  color: #666666;
  user-select: none;
  -webkit-user-select: none;
}
.spc-socialNetwork .dl-list {
  padding-left: 164px;
  padding-top: 14px;
  margin: auto;
  display: flex;
}
.spc-socialNetwork .dl-list dl dt {
  padding-top: 21px;
  padding-right: 15px;
  width: 88px;
  height: 35px;
  font-family: NanumSquareB;
  font-size: 15px;
  font-weight: 990;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: -0.75px;
  text-align: left;
  color: #333333;
  padding-bottom: 15px;
}
.spc-socialNetwork .dl-list dd {
  font-family: NanumSquareR;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: -0.7px;
  text-align: left;
  color: #666666;
}
.spc-socialNetwork p {
  margin: 0 auto;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 990;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.21;
  letter-spacing: -1.4px;
  color: #333333;
  margin-top: 80px;
  margin-bottom: 15px;
}
.spc-socialNetwork .spc-pre {
  position: absolute;
  top: 157px;
  left: 136px;
  user-select: none;
  -webkit-user-select: none;
}
.spc-socialNetwork .spc-next {
  position: absolute;
  top: 157px;
  user-select: none;
  -webkit-user-select: none;
  right: 20px;
}
.spc-img-list {
  width: 1080px;
  margin: 0 auto;
}
.spc-img -list a {
  user-select: none;
  -webkit-user-select: none;
}
.spc-img-list p {
  margin: 0 auto;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 990;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.21;
  letter-spacing: -1.4px;
  color: #333333;
  margin-top: 80px;
  margin-bottom: 15px;
  display: block;
}
.spc-img-list p a img {
  border-right: 1px solid #cecece;
  margin: 0 auto;
  padding-right: 9px;
  margin: 0 auto;
  float: right;
  margin-top: 30px;
}
.spc-img-list p a:nth-child(2) img {
  border-right: none;
  padding-left: 10px;
}
.spc- .spc-img-list p a {
  float: right;
  width: 7x;
  height: 20;
  font-size: 5px;
}
.spc-img-list p strong {
  color: #16bbee;
}
.spc-img-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 60px;
}
.img-footer {
  width: 100%;
  height: 133px;
  background-color: rgb(246, 243, 241);
  min-width: 1920px;
}
.img-footer .spc-store-list {
  width: 1080px;
  margin: 0 auto;
  position: relative;
}
.img-footer .spc-store-list ul li {
  display: inline-block;
  padding: 36px 0;
}
.img-footer .spc-store-list ul li:first-child {
  padding-right: 90px;
}
.img-footer .spc-store-list ul li:nth-child(2) {
  padding-right: 90px;
}
.img-footer .spc-store-list ul li:nth-child(3) {
  padding-right: 94px;
}
.img-footer .spc-store-list ul li:nth-child(4) {
  padding-right: 90px;
}
.img-footer .spc-store-list ul li:nth-child(5) {
  padding-right: 101px;
}
.img-footer .spc-store-list ul li:last-child {
  position: absolute;
  right: 0px;
  top: -20px;
}
.spc-footer {
  padding: 20px 0;
}
.spc-footer .wrapper {
  position: relative;
  width: 1090px;
  margin: 0 auto;
  font-size: 12px;
  color: grey;
}
.spc-footer .wrapper .links {
  padding: 15px 0;
}
.spc-footer .wrapper .links li {
  display: inline-block;
  margin-right: 10px;
}
.spc-footer .wrapper .links li a {
  text-decoration: none;
  border-right: 1px solid grey;
  padding-right: 15px;
  font-family: NanumSquareR;
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: -0.65px;
  text-align: left;
  color: #888888;
}
.strong-txt {
  font-weight: 600;
  font-family: NanumSquareB;
  color: #666666;
}
.spc-footer .wrapper .links li:last-child a {
  border-right: 0;
}
.spc-footer .wrapper .another-academy .title {
  margin-right: 5px;
  font-size: 14px;
  font-weight: 600;
  font-family: NanumSquareB;
  color: #666666;
}
.spc-footer .wrapper .another-academy>li {
  margin-bottom: 5px;
  margin-right: 3px;
}
.spc-footer .wrapper .another-academy .info-txt {
  display: inline-block;
}
.spc-footer .wrapper .another-academy .info-txt li {
  display: inline-block;
  border-right: 1px solid grey;
  padding-right: 7px;
  font-family: NanumSquareR;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.65px;
  text-align: left;
  color: #888888;
}
.spc-footer .wrapper .another-academy .info-txt li:last-child {
  border-right: 0;
}
.spc-footer .wrapper .footer-spc-logo {
  position: absolute;
  width: 78px;
  height: 72px;
  right: 0;
  opacity: 0.8;
  top: 30px;
}
.copyrights {
  margin-top: 26px;
  font-family: Roboto;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.55;
  letter-spacing: -0.55px;
  text-align: left;
  color: #888888;
}
a#next {
  left: -35px;
  transition: all ease 0.5s;
}
a#previous {
  right: -35px;
  transition: all ease 0.5s;
}
.swiper-slide img {
  max-width: 100%;
}

/*선호 끝*/

/*민주*/
.header-publicize {
  background-color: #383838;
  height: 120px;
  width: 1920px;
  color: white;
}
.header-publicize .text {
  text-align: center;
  vertical-align: bottom;
}
.header-publicize .text ul {
  margin: 5px;
  margin-top: 28px;
}
.header-publicize .header-publicize-all {
  width: 1080px;
  margin-left: 22.5%;
}
.header-publicize .header-publicize-all .section-nav {
  text-align: center;
  margin-top: 25px;
}
.header-publicize li {
  color: white;
  font-size: 30px;
  display: inline-block;
}
.header-publicize p {
  color: white;
  font-size: 20px;
  margin: 7px;
}
.header-publicize p strong {
  font-size: 25px;
  color: #ffc41c;
}
.header-publicize div {
  display: inline-block;
}
.header-publicize .check {
  width: 364px;
  vertical-align: top;
  margin-top: 20px;
}
.header-publicize .check img {
  vertical-align: middle;
}
.header-publicize .check .percent {
  margin-left: 25px;
  margin-right: 20px;
}
.header-publicize .check .x-mark {
  margin-left: 87px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.header-publicize .box {
  display: block;
  text-align: right;
  font-size: 13px;
}
.header-publicize .support {
  background-color: #16bbee;
  color: white;
  border: 1px solid #16bbee;
  border-radius: 3px;
  height: 45px;
  width: 130px;
  font-size: 17px;
}
.header-publicize span {
  display: inline-block;
}
.header-nav {
  width: 1921px;
  height: 100px;
  margin: auto;
}
.header-nav div {
  width: 1059px;
  margin: auto;
}
.header-nav div ul {
  padding-left: 0px;
  height: 100px;
}
.header-nav li {
  display: inline-block;
  padding-top: 15px;
  font-weight: 700;
  vertical-align: middle;
  padding-bottom: 15px;
}
.header-nav li:hover {
  background-color: #45cbdd;
  color: white;
}
.header-nav div ul .nav-margin-right {
  margin-right: 73px;
}
.section-all {
  margin-bottom: 60px;
}
.section-all .application {
  background-image: url(../img/section-background1.png);
  width: 1921px;
  height: 860px;
  position: relative;
}
.section-all .application div {
  width: 1059px;
  height: 590px;
  display: inline-block;
  margin-left: 22.5%;
}
.section-all .application .sub {
  margin-top: 109px;
}
.section-all .application .part1 {
  width: 490px;
  height: 590px;
  margin-left: 0px;
  margin-right: 70px;
}
.section-all .application .part1 hr {
  width: 60px;
}
.section-all .application .part1 p {
  color: white;
  width: 270px;
  height: 63px;
  font-size: 25px;
}
.section-all .application .part1 ul {
  padding-left: 0px;
}
.section-all .application .part1 button {
  color: white;
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  text-align: center;
}

/* .section-all .application .part1 li a {
  text-decoration: none;
  color: white;
} */
.section-all .application .part1 .curriculum {
  background-color: rgba( 239, 185, 44, 0.8);
  border: 1px solid rgba( 239, 185, 44, 0.8);
}
.section-all .application .part1 .enrolment {
  background-color: rgba(14, 136, 174, 0.8);
  border: 1px solid rgba(14, 136, 174, 0.8);
}
.section-all .application .part1 .question {
  background-color: rgba(24, 24, 24, 0.8);
  border: 1px solid rgba(24, 24, 24, 0.8);
}
.section-all .application .france {
  width: 490px;
  height: 590px;
  vertical-align: middle;
  margin-left: 0px;
}
.section-all .application .paging .paging-button {
  display: inline-block;
}
.section-all .application .paging {
  width: 1080px;
  height: 90px;
  text-align: center;
  margin: auto;
  margin-top: 50px;
}
.section-all .application .paging li {
  vertical-align: middle;
  margin: 2px;
}
.section-all .application .paging .i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.section-all .application .paging .left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.section-all .application .paging .right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.section-all .application .paging li a {
  text-decoration: none;
  color: white;
}
.section-all .application .aside {
  display: inline-block;
  width: 83px;
  position: absolute;
  right: 247px;
  top: 118px;
}
.section-all .application .aside .back-color {
  background-color: #383838;
}
.section-all .application .aside .back-color img {
  width: 83px;
  height: 83px;
}
.section-all .application .aside li {
  list-style: none;
  background-color: #ffffff;
  width: 83px;
  height: 83px;
}
.section-all .application .aside .sns img {
  width: 83px;
  height: 83px;
}
.section-all .application .aside .aside-nav {
  border-bottom: 1px solid #383838;
  width: 83px;
  height: 83px;
}
.section-all .application .aside .aside-nav img {
  margin-left: 15px;
  margin-top: 12px;
}
.section-all .application .aside .first img {
  margin-left: 20px;
}
.section-all .application .aside .seconde img {
  margin-left: 20px;
  margin-top: 13px;
}
.section-all .application .aside .third img {
  margin-left: 22px;
  margin-top: 15px;
}
.section-all .application .aside .nav-top {
  height: 32px;
  color: white;
  background-color: #383838;
  text-align: center;
}
.section-all .Information {
  background-image: url(../img/section-background2.png);
  width: 1921px;
  height: 960px;
}
.section-all .Information .Information-all {
  padding-top: 166px;
}
.section-all .Information .Information-all .text-div {
  border: 1px solid white;
  color: white;
  width: 1081px;
  height: 180px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.section-all .Information .Information-all .text-div span img {
  position: absolute;
  right: 37px;
  top: -2px;
}
.section-all .Information .Information-all .text-div p {
  margin-top: 15px;
  margin-bottom: 15px;
}
.section-all .Information .Information-all .text-div .education {
  font-size: 20px;
  font-weight: 700;
}
.section-all .Information .Information-all .text-div .open {
  color: #ffc41c;
  font-size: 35px;
  font-weight: 600;
}
.section-all .Information .Information-all .text-div .date {
  font-size: 30px;
  font-weight: 300;
}
.section-all .Information .Information-all .cook {
  margin-top: 40px;
}

/* .section-all .Information .Information-all .cook img {
  margin: 0px;
  padding: 0px;
  width: 462px;
  height: 440px;
  margin-left: 3.5px;
} */
.section-all .Information .Information-all .cook .cooking {
  background-image: url(../img/cooking.png);
}
.section-all .Information .Information-all .cook ul {
  width: 1090px;
  height: 440px;
  margin: auto;
}
.section-all .Information .Information-all .cook li {
  display: inline-block;
  width: 460px;
  height: 440px;
}
.section-all .Information .Information-all .cook .appli-img-li {
  width: 620px;
  height: 440px;
  background-image: url(../img/application.png);
  position: relative;
}
.section-all .Information .Information-all .cook .appli-img-li img {
  margin-left: 0px;
  width: 621px;
  height: 440px;
}
.section-all .Information .Information-all .cook .appli-img-li .apply {
  width: 74px;
  height: 74px;
  position: absolute;
  right: 29px;
  top: 31px;
}
.section-all .Information .Information-all .cook .appli-img-li .apply img {
  width: 74px;
  height: 74px;
}
.section-all .Information .Information-all .cook .appli-img-li .left-button img {
  width: 36px;
  height: 50px;
}
.section-all .Information .Information-all .cook .appli-img-li .left-button {
  width: 36px;
  height: 50px;
  position: absolute;
  left: 0px;
  bottom: 121px;
}
.section-all .Information .Information-all .cook .appli-img-li .right-button img {
  width: 36px;
  height: 50px;
}
.section-all .Information .Information-all .cook .appli-img-li .right-button {
  width: 36px;
  height: 50px;
  position: absolute;
  right: 0px;
  bottom: 121px;
}
.section-all .section-curriculum {
  width: 1921px;
}
.section-all .section-curriculum .section-curriculum-all .curriculum {
  margin-left: auto;
  margin-right: auto;
  width: 1080px;
}
.section-all .section-curriculum .section-curriculum-all .curriculum li {
  display: inline-block;
}
.section-all .section-curriculum .section-curriculum-all .curriculum .curriculum-text {
  margin-top: 80px;
  width: 1080px;
}
.section-all .section-curriculum .section-curriculum-all .curriculum p {
  height: 21px;
  width: 158px;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
  display: inline-block;
  margin-right: 851px;
}
.section-all .section-curriculum .section-curriculum-all .curriculum h4 {
  width: 65px;
  height: 14px;
  display: inline-block;
}
.section-all .section-curriculum .section-curriculum-all .gallery-social {
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}
.section-all .section-curriculum .section-curriculum-all .gallery-social .gallery {
  width: 535px;
  height: 334px;
  display: inline-block;
}
.section-all .section-curriculum .section-curriculum-all .gallery-social .gallery div {
  width: 535px;
  height: 295px;
}
.section-all .section-curriculum .section-curriculum-all .gallery-social .gallery p,
.network p {
  font-size: 25px;
  font-weight: 700;
  display: inline-block;
  margin-right: 251px;
  width: 222px;
  margin-bottom: 15px;
}
.section-all .section-curriculum .section-curriculum-all .gallery-social .gallery h4 {
  width: 48px;
  height: 14px;
  display: inline-block;
  font-size: 13px;
  font-weight: 300;
}
.section-all .section-curriculum .section-curriculum-all .gallery-social .gallery div img {
  width: 535px;
  height: 295px;
}
.section-all .section-curriculum .section-curriculum-all .gallery-social .network {
  display: inline-block;
  width: 535px;
  height: 334px;
  vertical-align: top;
}
.section-all .section-curriculum .section-curriculum-all .gallery-social .social {
  display: inline-block;
  width: 535px;
  height: 295px;
  background-color: rgb(246, 243, 241);
}
.section-all .section-curriculum .section-curriculum-all .gallery-social .social .sns {
  width: 105px;
  height: 237px;
  margin-top: 3px;
  margin-left: 20px;
}
.section-all .section-curriculum .section-curriculum-all .gallery-social .social .sns li {
  vertical-align: middle;
  margin-top: 25px;
}
.section-all .section-curriculum .section-curriculum-all .gallery-social .social ul {
  display: inline-block;
  text-align: right;
}
.section-all .section-curriculum .section-curriculum-all .gallery-social .social .list-img {
  width: 88px;
  font-size: 14px;
  font-weight: 700;
}
.section-all .section-curriculum .section-curriculum-all .gallery-social .social .list .array {
  margin-right: 30px;
}
.section-all .section-curriculum .section-curriculum-all .gallery-social .social .list-img img {
  margin-bottom: 21px;
}
.section-all .section-curriculum .section-curriculum-all .gallery-social .social a {
  text-decoration: none;
  color: black;
  height: 35px;
  width: 88px;
}
.section-all .section-curriculum .section-curriculum-all .gallery-social .social .list {
  width: 400px;
  vertical-align: top;
  margin-top: 63px;
}
.section-all .section-curriculum .section-curriculum-all .gallery-social .social .list .previous-button,
.list-img,
.next-button {
  display: inline-block;
  vertical-align: middle;
}
.section-all .section-curriculum .section-curriculum-all .gallery-social .social .list .previous-button {
  margin-right: 12px;
}
.section-all .section-curriculum .section-curriculum-all .gallery-social .social .list .next-button {
  margin-left: 12px;
}
.section-all .section-curriculum .section-curriculum-all .gallery-social .social .list .instagram-link {
  text-decoration: underline;
  font-size: 13px;
  margin-bottom: 14px;
  text-align: right;
  margin-right: 35px;
}
.section-all .section-curriculum .section-curriculum-all .academy-img p {
  font-size: 20px;
  font-weight: 700;
  width: 209px;
  display: inline-block;
}
.section-all .section-curriculum .section-curriculum-all .academy-img strong {
  color: #16bbee;
}
.section-all .section-curriculum .section-curriculum-all .academy-img ul {
  display: inline-block;
}
.section-all .section-curriculum .section-curriculum-all .academy-img li {
  display: inline-block;
}
.section-all .section-curriculum .section-curriculum-all .academy-img {
  margin-bottom: 14px;
  margin-top: 60px;
  position: relative;
}
.section-all .section-curriculum .section-curriculum-all .academy-img .button-div {
  display: inline-block;
  float: right;
}
.section-all .section-curriculum .section-curriculum-all .academy-img .button-div #prev {
  border-right: 2px solid rgb(226, 226, 226);
  padding-right: 4px;
}
.section-all .section-curriculum .section-curriculum-all .academy-img .swiper-wrapper .swiper-slide {
  width: 175px;
  height: 175px;
}
.section-all .section-curriculum .section-curriculum-all .academy-img .swiper-wrapper {
  height: auto;
}
.section-foot {
  width: 1920px;
  height: 133px;
  background-color: #f0f0f0;
}
.section-foot .section-nav {
  width: 1080px;
  margin: auto;
  padding-top: 30px;
}
.section-foot .section-nav li {
  display: inline-block;
  vertical-align: middle;
}
.section-foot .section-nav li:hover {
  background-color: #45cbdd;
  color: white;
}
.section-foot .section-nav .margin-right {
  margin-right: 93px;
}
.footer-info {
  margin-top: 20px;
  width: 1920px;
}
.footer-all {
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
}
.footer-info li {
  display: inline-block;
  margin-bottom: 25px;
  color: #999999;
  font-size: 13px;
}
.footer-info .store p {
  margin-bottom: 7px;
  color: #999999;
  font-size: 13px;
}
.footer-info strong {
  font-weight: 700;
  font-size: 14px;
  color: #666666;
}
.footer-info .copy {
  font-size: 12px;
  color: #999999;
  margin-top: 26px;
  margin-bottom: 48px;
}

/*민주 끝*


/