  /* 공통 */
  
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  
  body {
    line-height: 1;
  }
  
  ol,
  ul {
    list-style: none;
  }
  
  blockquote,
  q {
    quotes: none;
  }
  
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  /* 공통끝 */
  /* 선호 */
  
  .box-header {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
  }
  
  .box-header a {
    text-decoration: none;
    font-family: LGSmHaSB;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.38px;
    text-align: left;
    color: #2b2e30;
    border-right: 1px solid black;
    padding-right: 16px;
  }
  
  .box-nav {
    width: 1280px;
    min-width: 1280px;
    margin: auto;
    padding-bottom: 6px;
  }
  
  .box-nav .box-navimg {
    text-align: center;
    text-transform: uppercase;
  }
  
  .box-nav .box-navimg span a {
    background-color: rgb(224, 43, 101);
    width: 65px;
    height: 65px;
    padding: 10px 10px;
    border-right: none;
  }
  
  .box-nav ul li:nth-child(12) a {
    border-right: none;
  }
  
  .box-nav ul {
    display: flex;
    height: 9px;
    margin-top: 20px;
  }
  
  .box-nav ul li {
    display: inline-block;
    padding: 0px 5px;
  }
  
  .box-nav ul li:nth-child(2) {
    color: #df2f65;
    border-left: none;
  }
  
  .box-nav .nav-info a {
    text-align: right;
    width: 80px;
    height: 20px;
    border: solid 1px #2b2e30;
    border-radius: 25px;
    font-family: LGSmHaSB;
    font-size: 9px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
    letter-spacing: 0.33px;
    color: #2b2e30;
    padding: 9px 15px;
  }
  
  .box-nav .nav-info a:first-child {
    margin-left: 90px;
  }
  
  .box-header-second {
    width: 100%;
    min-width: 1280px;
    background-color: black;
    padding-top: 10px;
    height: 55px;
    margin: auto;
  }
  
  .box-header-second a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .box-header-second .box-nav-second {
    width: 1280px;
    min-width: 1280px;
    margin: auto;
  }
  
  .box-header-second .box-nav-second ul {
    padding-top: 15px;
    display: flex;
  }
  
  .box-header-second .box-nav-second ul li {
    display: inline-block;
    padding-left: 15px;
    font-family: LGSmHaR;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
    letter-spacing: 0.33px;
    text-align: left;
    color: #ffffff;
  }
  
  .box-header-second .box-nav-second ul li:first-child {
    font-family: LGSmHaR;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.5px;
    text-align: left;
    border-right: 1px solid white;
    padding-right: 5px;
  }
  
  .box-header-second .box-nav-second ul li:nth-child(2) a {
    color: red;
  }
  
  .box-section {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
  }
  
  .box-section .box-section-tb {
    border: solid 1px #c7c7c7;
    width: 1280px;
    min-width: 1280px;
    margin: auto;
    background-color: #e4e4e4;
  }
  
  .box-section .box-section-tb tr th {
    font-family: LGSmHaB;
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.27;
    letter-spacing: -0.15px;
    text-align: left;
    color: #2b2e30;
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 15px;
  }
  
  .box-section .box-section-tb input[type="button"] {
    width: 94px;
    height: 34px;
    border: solid 1px #c7c7c7;
    font-family: LGSmHaR;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
    letter-spacing: 0.33px;
    text-align: center;
    color: #df2f65;
    background-color: #ffffff;
  }
  
  .box-section .box-section-tb tr:nth-child(2) td:last-child input[type="button"] {
    background-color: #cb2558;
    color: #ffffff;
  }
  
  .box-section .box-section-tb input[type="date"] {
    border: solid 1px #c7c7c7;
    background-color: #ffffff;
    width: 165px;
    height: 34px;
  }
  
  .box-section .box-section-tb #select-box {
    width: 94px;
    height: 34px;
    border: solid 1px #c7c7c7;
    background-color: #ffffff;
  }
  
  .box-section .box-section-tb input[type="text"] {
    width: 194px;
    height: 34px;
    border: solid 1px #c7c7c7;
    background-color: #ffffff;
  }
  
  .border-section {
    width: 100%;
    padding-top: 15px;
    margin: auto;
  }
  
  .border-section .border-section-header {
    width: 1280px;
    margin: 0 auto;
    padding-bottom: 15px;
    position: relative;
  }
  
  .border-section .border-section-header h3 {
    display: inline;
    font-family: LGSmHaSB;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.18px;
    text-align: left;
    padding-bottom: 17px
  }
  
  .border-section .border-section-header h3 strong {
    color: #d80546;
  }
  
  .border-section .border-section-header #border-select {
    position: absolute;
    top: 0;
    right: 0;
    width: 84px;
    height: 24px;
    border: solid 1px #c7c7c7;
    background-color: #ffffff;
  }
  
  .box-border table {
    border-top: 2px solid black;
    width: 1280px;
    margin: 0 auto;
  }
  
  .box-border table tr:first-child {
    background-color: #e4e4e4;
  }
  
  .box-border table tr th {
    border: 1px solid #c7c7c7;
    border-right: none;
    font-family: LGSmHaL;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #555555;
    padding: 10px 33px;
  }
  
  .box-border table tr th:nth-child(1) {
    border-left: none;
    padding: 8px 10px;
  }
  
  .page-move {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 82px;
  }
  
  .page-move a {
    text-decoration: none;
  }
  
  .page-move .border-sub {
    width: 1280px;
    margin: 0 auto;
    display: flex;
  }
  
  .page-move .border-button button {
    border: 1px solid black;
    height: 34px;
    width: 94px;
  }
  
  .page-move .border-button button:first-child {
    background-color: rgb(88, 88, 88);
    color: white;
  }
  
  .page-move .border-button button:last-child {
    color: rgb(88, 88, 88);
    background-color: white;
  }
  
  .page-move .border-sub .border-paging {
    flex: 1 1 auto;
    text-align: center;
  }
  
  .page-move .border-sub .border-paging a {
    width: 296px;
    height: 9px;
    font-family: LGSmHaR;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
    letter-spacing: 0.33px;
    text-align: center;
    color: #323232;
    padding: 0px 20px;
  }
  
  .page-move .border-sub .border-paging a:first-child {
    width: 34px;
    height: 34px;
    border: solid 1px #c7c7c7;
  }
  
  .page-move .border-sub .border-paging a:last-child {
    width: 34px;
    height: 34px;
    border: solid 1px #c7c7c7;
  }
  
  .page-move .excel-btn {
    float: right;
  }
  
  .page-move .excel-btn a {
    width: 94px;
    height: 34px;
    border: solid 1px #171818;
    background-color: #2b2e30;
    color: white;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
    letter-spacing: 0.33px;
    text-align: left;
    color: #ffffff;
    padding: 5px 20px;
    border-radius: 2px;
  }
  
  .border-footer {
    width: 100%;
    padding-top: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    min-width: 1280px;
    display: flex;
  }
  
  .border-footer .footer-text {
    width: 1280px;
    display: inline-block;
    height: 101;
    text-align: center;
    margin: auto;
    padding-top: 39px;
    padding-bottom: 49px;
  }
  
  .border-footer .footer-text p {
    padding-left: 55px;
    font-family: LGSmHaR;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  /* 선호끝 */
  /* 민주 */
  
  .top .main-nav .main {
    width: 1280px;
    font-weight: 700;
    height: 65px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .top .main-nav .main .nav-size {
    vertical-align: middle;
    font-size: 14px;
    width: 1280px;
  }
  
  .top .main-nav .main .img-size {
    background-color: rgb(224, 43, 101);
    width: 65px;
    height: 65px;
    text-align: center;
    vertical-align: middle;
    margin-right: 10px;
  }
  
  .top .main-nav .main .nav-size img {
    width: 24px;
    height: 21px;
    margin-top: 20px;
  }
  
  .top .main-nav li {
    display: inline-block;
  }
  
  .top .main-nav .main li {
    text-align: center;
  }
  
  .top .main-nav .main li a {
    text-decoration: none;
    color: black;
    font-weight: 700px;
  }
  
  .top .main-nav .main .li-border {
    border-right: 1px solid black;
    padding-right: 15px;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .top .main-nav .main .individual {
    font-size: 13px;
    font-weight: 700;
    display: inline-block;
    margin-left: 100px;
  }
  
  .top .main-nav .main .individual li {
    border: 1px solid #323232;
    border-radius: 15px;
    width: 80px;
    height: 20px;
    vertical-align: middle;
    padding-top: 7px;
    padding-bottom: 3px;
  }
  
  .top .main-nav .sub-nav {
    border-top: 2px solid #df2f65;
    background-color: black;
    color: white;
    height: 55px;
    min-width: 1400px;
  }
  
  .top .main-nav .sub-nav ul {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .top .main-nav .sub-nav .border-left {
    border-left: 1px solid white;
    padding-left: 15px;
  }
  
  .top .main-nav .sub-nav li {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 13px;
  }
  
  .top .main-nav .sub-nav .text-point {
    font-size: 23px;
    margin-top: 14px;
  }
  
  .all-section {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .all-section li {
    display: inline-block;
  }
  
  .all-section ul {
    display: inline-block;
  }
  
  .all-section .section-top {
    width: 1280px;
  }
  
  .all-section .section-top h3 {
    margin-top: 21px;
    float: left;
    font-size: 20px;
    font-weight: 700;
  }
  
  .all-section .section-top h3 strong {
    color: #df2f65;
  }
  
  .all-section .section-top .number {
    width: 84px;
    float: right;
  }
  
  .all-section .section-top .number select {
    width: 84px;
    height: 24px;
    margin-top: 21px;
    margin-bottom: 17px;
  }
  
  .all-section .option-nav {
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
    height: 203px;
    background-color: #e4e4e4;
  }
  
  .all-section .option-nav .text-weight {
    font-weight: 700;
    margin-right: 15px;
  }
  
  .all-section .option-nav div {
    display: inline-block;
  }
  
  .all-section .option-nav .option-right .rank {
    margin-right: 31px;
  }
  
  .all-section .option-nav .option-left {
    width: 645px;
    height: 160px;
    margin-top: 20px;
  }
  
  .all-section .option-nav .option-left input {
    height: 34px;
    width: 165px;
  }
  
  .all-section .option-nav .option-left button {
    background-color: white;
    border: 1px solid gray;
    height: 34px;
    width: 94px;
  }
  
  .all-section .option-nav .option-left .button-color button {
    background-color: white;
    border: 1px solid #df2f65;
    color: #df2f65;
  }
  
  .all-section .option-nav .option-right .button-color button {
    background-color: white;
    border: 1px solid #df2f65;
    color: #df2f65;
  }
  
  .all-section .option-nav .option-left ul {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
  }
  
  .all-section .option-nav .option-right {
    width: 600px;
    height: 160px;
    margin-top: 22px;
    vertical-align: top;
    margin-left: 25px;
  }
  
  .all-section .option-nav .option-right .search-color button {
    background-color: #df2f65;
    border: 1px solid #df2f65;
    color: white;
  }
  
  .all-section .option-nav .option-right button {
    height: 34px;
    width: 94px;
    background-color: white;
    border: 1px solid gray;
  }
  
  .all-section .option-nav .option-right ul {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .all-section .option-nav .option-right .select-size select {
    height: 34px;
    width: 94px;
  }
  
  .all-section .option-nav .option-right .txt {
    height: 34px;
    width: 194px;
  }
  
  .all-section .option-nav .table-start .table-num .number {
    float: right;
  }
  
  .all-section table {
    width: 1280px;
    text-align: center;
    height: 496px;
    font-size: 13px;
  }
  
  .all-section table .table-nav {
    background-color: #e4e4e4;
    border-top: 2px solid #a8a8a8;
  }
  
  .all-section table thead {
    border-bottom: 1px solid #a8a8a8;
  }
  
  .all-section table .checkbox-size {
    border-right: 1px solid #a8a8a8;
    width: 31px;
  }
  
  .all-section table .sns-size {
    border-right: 1px solid #a8a8a8;
    width: 140px;
  }
  
  .all-section table .division-size {
    border-right: 1px solid #a8a8a8;
    width: 100px;
  }
  
  .all-section table .ranking-size {
    border-right: 1px solid #a8a8a8;
    width: 140px;
  }
  
  .all-section table .name-size {
    border-right: 1px solid #a8a8a8;
    width: 140px;
  }
  
  .all-section table .email-size {
    border-right: 1px solid #a8a8a8;
    width: 230px;
  }
  
  .all-section table .Post-size {
    border-right: 1px solid #a8a8a8;
    width: 100px;
  }
  
  .all-section table .comment-size {
    border-right: 1px solid #a8a8a8;
    width: 100px;
  }
  
  .all-section table .like-size {
    border-right: 1px solid #a8a8a8;
    width: 100px;
  }
  
  .all-section table .join-size {
    width: 199px;
  }
  
  .all-section table thead td {
    vertical-align: middle;
    height: 31px;
  }
  
  .all-section .section-foot {
    width: 1280px;
    margin-top: 25px;
    margin-bottom: 82px;
  }
  
  .all-section .section-foot div {
    display: inline-block;
  }
  
  .all-section .section-foot .rank {
    width: 200px;
    margin-top: 20px;
  }
  
  .all-section .section-foot .rank button {
    border: 1px solid black;
    height: 34px;
    width: 94px;
  }
  
  .all-section .section-foot .rank .rank-change {
    background-color: rgb(88, 88, 88);
    color: white;
  }
  
  .all-section .section-foot .rank .secession {
    color: rgb(88, 88, 88);
    background-color: white;
  }
  
  .all-section .section-foot .excel button {
    background-color: black;
    color: white;
    height: 34px;
    width: 94px;
    border: 1px solid black;
  }
  
  .all-section .section-foot .paging {
    width: 432px;
    margin-left: 226px;
    margin-right: 316px;
    font-size: 16px;
  }
  
  .all-section .section-foot .paging>ul li button {
    width: 34px;
    height: 34px;
    background-color: white;
    color: #323232;
    border: 1px solid gray;
    font-size: 18px;
  }
  
  .all-section .section-foot .paging li {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .all-section .section-foot .paging li a {
    text-decoration: none;
    color: black;
  }
  
  .foot {
    background-color: rgb(88, 88, 88);
    height: 101px;
    text-align: center;
    font-size: 13px;
    min-width: 1400px;
  }
  
  .foot div {
    width: 1280px;
    color: white;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  /* 민주끝