@charset "utf-8";

/*****************************************************/


/* * * Import
/*****************************************************/


/* @import url(//cdn.jsdelivr.net/nanumsquare/1.0/nanumsquare.css); */


/*****************************************************/


/* * * Reset
/*****************************************************/

@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Noto Sans KR', sans-serif;
}

dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
tbody,
tfoot,
thead,
th,
td {
  margin: 0;
  padding: 0
}

td,
th {
  color: #333;
  vertical-align: middle
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%
}

table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
}

ol,
ul,
li {
  list-style: none
}

hr {
  position: absolute;
  left: -5000px;
  top: 0;
  visibility: hidden;
  overflow: hidden;
  line-height: 0.1%;
  font-size: 0.1%;
  width: 0.1%;
  height: 0.1%
}

img {
  max-width: 100%;
}

img,
fieldset {
  border: 0
}

img {
  vertical-align: top
}

table img {
  vertical-align: middle
}

button {
  overflow: visible;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 0;
  line-height: 0;
  font-size: 0px;
  letter-spacing: 0px;
  word-spacing: 0px;
  cursor: pointer;
  background: none;
  vertical-align: top;
  text-align: left;
  font: 14px/22px 'NanumSquare', sans-serif;
  outline: none;
}

input,
textarea,
select,
label {
  font: 13px/25px 'NanumSquare', sans-serif;
  color: #333;
  vertical-align: middle
}

address {
  font-style: normal
}

a {
  text-decoration: none;
  color: #333;
}

a:hover,
a:focus {
  text-decoration: none;
}

legend,
caption {
  visibility: hidden;
  overflow: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  padding: 0;
  margin: 0;
}

.header {
  width: 100%;
  background-color: white;
  background-image: url(../img/text-logo.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
}

.nav {
  font-size: 0.875rem;
  width: 100%;
  margin: auto;
}

.nav ul {
  display: flex;
}

.nav ul li {
  flex: 1 1 auto;
  text-align: center;
}