* {
  margin: 0 auto;
  padding: 0;
}


/*선호*/

.owl-dots {
  position: absolute;
  left: 45%;
  bottom: 3%;
}

.dulm-header {
  width: 100%;
  height: 43%;
  background-color: rgb(96, 0, 32);
  position: relative;
}

.dulm-header .header-log {
  width: 73px;
  height: 23px;
  padding-top: 10px;
  padding-left: 15px;
}

.dulm-header button {
  float: right;
  padding-top: 10px;
  padding-right: 20px;
  background-color: rgb(96, 0, 32);
  border: none;
}

.dulm-header button img {
  width: 18px;
  height: 18px;
}

.dulm-section {
  background-image: url(../img/backgroundimg.png);
  background-size: cover;
  width: 100%;
  height: 377px;
  position: relative;
}

.dulm-section .section-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 212px;
  height: 154px;
  box-sizing: border-box;
  padding: 19px 0;
}

.dulm-section .section-box ul {
  list-style: none;
  color: white;
}

.dulm-section .section-box ul li {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.dulm-section .section-box ul li:first-child {
  font-size: 10px;
  padding-bottom: 18px;
  padding-top: 31px;
}

.dulm-section .section-box ul li:nth-child(2) {
  font-size: 23px;
  padding-bottom: 18px;
  line-height: 85%;
}

.dulm-section .section-box ul li:last-child {
  font-size: 7px;
  font-weight: 100;
  padding-bottom: 32px;
}

.link-box {
  margin-top: 5px;
  display: flex;
  width: 100%;
  position: relative;
}

.link-box a {
  text-decoration: none;
}

.link-box .frist-box {
  padding-top: 17px;
  position: relative;
  width: 100%;
  height: 88px;
  background-image: url(..//img/Shortcut.png);
  background-size: cover;
}

.link-box .frist-box .box-text {
  margin: 8px 21px;
  background-color: rgba(84, 60, 39, 0.5);
  color: white;
  font-size: 10px;
  padding: 13px 15px;
  text-align: center;
}

.link-box .frist-box .box-text p {
  color: white;
  font-size: 10px;
}

.link-box .frist-box .box-text img {
  position: absolute;
  width: 9px;
  height: 25px;
  float: right;
  top: 42px;
  right: 29px;
}

.link-box .scend-box {
  padding-top: 17px;
  width: 100%;
  height: 88px;
  background-image: url(..//img/Shortcut2.png);
  background-size: cover;
}

.link-box .scend-box .box-text2 {
  font-size: 10px;
  text-align: center;
  color: white;
  margin: 10px 10px;
  padding: 6px 20px;
  background-color: rgba(57, 72, 80, 0.5);
}

.link-box .scend-box .box-text2 p {
  font-size: 10px;
  color: white;
}

.link-box .scend-box .box-text2 img {
  position: absolute;
  width: 9px;
  height: 25px;
  float: right;
  top: 44px;
  right: 25px;
}

.dulm-btn {
  display: flex;
  padding-bottom: 5px;
}

.dulm-btn .best-btn {
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
  width: 100%;
}

.dulm-btn .best-btn:hover {
  border-bottom: 3px solid black;
  color: black;
}

.dulm-btn .best-btn button {
  height: 38px;
  border: none;
  width: 100%;
  cursor: pointer;
  background-color: white;
  color: rgba(0, 0, 0, 0.5);
}

.dulm-btn .best-btn button:hover {
  color: black;
}

.dulm-btn .new-btn button {
  height: 38px;
  border: none;
  width: 100%;
  cursor: pointer;
  background-color: white;
  color: rgba(0, 0, 0, 0.5);
}

.dulm-btn .new-btn button:hover {
  color: black;
}

.dulm-btn .new-btn {
  width: 100%;
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
}

.dulm-btn .new-btn:hover {
  border-bottom: 3px solid black;
}

.dulm-list {
  width: 100%;
  padding-top: 5px;
  display: inline-block;
}

.dulm-list .goods-list {
  list-style: none;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.dulm-list .goods-list ul {
  list-style: none;
  padding-right: 5px;
  display: inline-block;
}

.dulm-list .goods-list li {
  display: inline-block;
  text-align: left;
  padding-bottom: 25px;
  width: calc(50% - 10px);
}

.dulm-list ul .img-list img {
  width: 100%;
}

.dulm-list ul li .list-item {
  font-size: 12px;
  padding-bottom: 5px;
  width: 100%;
  word-spacing: 2px;
}

.dulm-list ul li .per {
  font-size: 10px;
}

.dulm-list .per span {
  color: rgb(102, 102, 102);
  text-decoration: line-through;
  padding-left: 5px;
}

.dulm-list ul .won {
  font-size: 15px;
  font-weight: bold;
}

.dulm-list ul .won img {
  width: 15px;
  height: 15px;
  text-align: right;
  float: right;
}

.dulm-list ul li a {
  text-decoration: none;
  color: black;
}

.event-banner .slide-banner {
  background-image: url(../img/event-banner.png);
  background-size: cover;
  width: 100%;
  height: 280px;
  position: relative;
  margin-bottom: 5px;
}

.event-banner .slide-banner p {
  position: absolute;
  color: white;
  font-size: 20px;
  top: 81px;
  right: 51px;
}

.event-banner a {
  text-decoration: none;
}

.event-banner .story-banner {
  text-align: center;
  width: 100%;
  height: 175px;
  margin-bottom: 5px;
  background-color: rgb(181, 151, 141);
}

.event-banner .story-banner img {
  float: right;
  width: 50%;
  height: 175px;
}

.event-banner .story-banner .stbanner-text {
  color: white;
  text-align: center;
}

.event-banner .story-banner .stbanner-text .Lumber {
  padding-top: 52px;
  font-size: 15px;
}

.event-banner .story-banner .stbanner-text .content {
  padding-top: 10px;
  font-size: 9px;
}

.event-banner .interior-banner {
  text-align: center;
  width: 100%;
  height: 175px;
  margin-bottom: 5px;
  background-color: rgb(130, 126, 128);
  font-family: NanumSquareR;
}

.event-banner .interior-banner .banner-text {
  color: white;
  text-align: center;
}

.event-banner .interior-banner img {
  float: left;
  width: 50%;
  height: 175px;
}

.event-banner .interior-banner .banner-text .Lumber {
  padding-top: 52px;
  font-size: 15px;
}

.event-banner .interior-banner .banner-text .content {
  font-size: 9px;
  padding-top: 10px;
}

.event-banner .story-banner .stbanner-text .content {
  padding-top: 10px;
  font-size: 9px;
}

.event-banner .interior-banner {
  text-align: center;
  width: 100%;
  height: 175px;
  margin-bottom: 5px;
  background-color: rgb(130, 126, 128);
  font-family: NanumSquareR;
}

.event-banner .interior-banner span {
  color: white;
  text-align: center;
}

.event-banner .interior-banner img {
  float: left;
  width: 50% height: 175px;
}

.event-banner .interior-banner span .Lumber {
  padding-top: 52px;
  font-size: 15px;
}

.event-banner .interior-banner span .content {
  padding-top: 10px;
  font-size: 9px;
}

.wrapper {
  text-align: center;
  margin-top: 32px;
}

.wrapper .links {
  padding: 10px 0;
}

.wrapper .links li {
  display: inline-block;
  font-size: 9px;
}

.wrapper .links li a {
  text-decoration: none;
  border-right: 1px solid grey;
  padding-right: 10px;
  font-family: NanumSquareR;
  color: #888888;
}

.wrapper .links li:last-child a {
  border-right: 0;
}

.infos {
  border-top: 1px solid rgb(204, 204, 204);
  border-bottom: 1px solid rgb(204, 204, 204);
  font-size: 9%;
  color: rgb(102, 102, 102);
  padding: 10px 0px;
  display: inline-block;
  width: 100%;
}

.infos ul {
  list-style: none;
  width: calc(100% - 4%);
}

.infos ul li {
  padding-top: 4px;
}

.infos ul li span {
  border-right: 1px solid rgb(102, 102, 102);
  padding-right: 4px;
}

.infos ul li a {
  text-decoration: none;
  color: white;
  border: 1px solid rgb(102, 102, 102);
  background-color: rgb(102, 102, 102);
  border-radius: 2px;
  padding: 2px 2px;
}

.infos ul li img {
  width: 4px;
  height: 8px;
}

.sns-link {
  width: 100%;
  padding-top: 13px;
  display: inline-block;
  padding-bottom: 8px;
}

.sns-link .sns {
  padding-left: 13px;
  float: left;
}

.sns-link .sns,
.sns-link .sns li {
  display: inline-block;
}

.sns-link .sns li img {
  width: 25px;
  height: 25px;
}

.sns-link .footer_link {
  float: right;
}

.sns-link .sns a {
  text-decoration: none;
  color: black;
  font-size: 9px;
}

.sns-link .footer_link ul {
  list-style: none;
  line-height: 85%;
  padding-right: 12px;
}

.sns-link .footer_link ul li a {
  text-decoration: none;
  color: black;
}

.sns-link .footer_link ul li:first-child {
  font-size: 9px;
}

#owl-themes .owl-dots .owl-dot.active span,
#owl-themes .owl-dots .owl-dot:hover span {
  background-color: rgb(98, 0, 32);
  cursor: pointer;
}

#owl-theme .owl-dots .owl-dot.active span,
#owl-theme .owl-dots .owl-dot:hover span {
  background-color: rgb(98, 0, 32);
  cursor: pointer;
}


/*선호 끝*/


/*선호 끝*/


/*민주*/

.header {
  background-color: rgb(98, 0, 32);
  position: relative;
}

.header .header-logo {
  width: 73px;
  height: 23px;
}

.header .header-logo {
  padding-top: 4%;
  padding-left: 3%;
  padding-bottom: 3%;
}

.header button {
  position: absolute;
  right: 12px;
  top: 14px;
  background-color: rgb(98, 0, 32);
  border: none;
}

.header button img {
  width: 18px;
  height: 18px;
}

.nav {
  font-size: 0;
  text-align: center;
  width: 100%;
  margin-top: 2%;
}

.nav div {
  display: inline-block;
}

.nav .nav-background {
  vertical-align: top;
  background-image: url(../img/Shortcut.png);
  background-size: contain;
  width: 50%;
  height: 13%;
  font-size: 10px;
  position: relative;
}

.nav .nav-background2 {
  background-size: contain;
  background-image: url(../img/Shortcut2.png);
  width: 50%;
  height: 13%;
  font-size: 10px;
  position: relative;
}

.nav .VR-showroom {
  background-color: rgba(129, 79, 18, 0.664);
  width: 65%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav .VR-showroom img {
  width: 7.5px;
  height: 14.5px;
}

.nav .VR-showroom p {
  color: white;
  font-size: 9px;
  margin-left: 0;
  display: inline-block;
  padding: 11%;
}

.nav .smart {
  background-color: rgba(64, 79, 88, 0.664);
  width: 65%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav .smart p {
  color: white;
  font-size: 9px;
  margin-left: 0;
  display: inline-block;
  padding: 11%;
}

.nav .smart img {
  width: 7.5px;
  height: 14.5px;
  margin-bottom: 5%;
}


/*쇼핑*/

section .shopping .tab {
  width: 100%;
  font-size: 0;
}

section .shopping .tab button {
  /* height: 15%; */
  background-color: white;
  border: none;
  font-weight: 600;
  color: #585858b6;
  padding-top: 2%;
  padding-bottom: 2%;
  border-bottom: 2px solid #bbbbbbb6;
}

section .shopping .tab button:focus {
  border-bottom: 2px solid rgb(98, 0, 32);
  color: rgb(98, 0, 32);
}

section .shopping .tabcontent,
section .shopping .tablinks {
  font-size: 0;
  width: 50%;
}

section .shopping .tabcontent ul,
section .shopping .tablinks ul {
  margin: 5px;
  margin-bottom: 6%;
}

section .shopping .tabcontent li,
section .shopping .tablinks li {
  width: calc(50% - 10px);
  display: inline-block;
  margin: 5px;
}

section .shopping .tabcontent .product,
section .shopping .tablinks .product {
  margin-bottom: 5%;
}

section .shopping .tabcontent .sale,
section .shopping .tablinks .sale {
  margin-bottom: 2%;
}

section .shopping .tabcontent .sale .cost,
section .shopping .tablinks .sale .cost {
  text-decoration: line-through;
  font-weight: 500;
  color: #888888;
}

section .shopping .tabcontent .sale .persent,
section .shopping .tablinks .sale .persent {
  color: rgb(98, 0, 32);
  margin-right: 5px;
}

section .shopping .tabcontent li img,
section .shopping .tablinks li img {
  width: 100%;
}

section .shopping .tabcontent li p,
section .shopping .tablinks li p {
  font-size: 12.5px;
}

section .shopping .tabcontent button,
section .shopping .tablinks button {
  border: none;
  background-color: white;
  width: 16px;
  height: 15px;
  position: absolute;
  bottom: 15%;
  right: 0;
}

section .shopping .tabcontent .price,
section .shopping .tablinks .price {
  font-size: 18px;
  font-weight: 600;
  position: relative;
}


/*세모 만들기*/

.shopping-table .menu li .triangle_up {
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid white;
  padding-bottom: 0px;
}

.shopping-table .menu li .triangle_up:hover {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid rgb(98, 0, 32);
}

.shopping a {
  text-decoration: none;
  color: black;
}

.banner2 {
  font-size: 0;
  width: 100%;
  height: 25%;
  margin-top: 1%;
  position: relative;
  background-color: rgb(181, 151, 141);
}

.banner2 div {
  /* display: inline-block; */
  width: 50%;
}

.banner2 .text {
  text-align: center;
  color: white;
  font-size: 10px;
  font-weight: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-100%, -50%);
  margin-bottom: 20px;
}

.banner2 img {
  float: right;
  width: 50%;
  height: 100%;
  /* width: 178.5px;
  height: 177.5px; */
}

.banner2 .text .font-adjustment {
  font-size: 17px;
  margin: 5px;
}


/*banner3*/

.banner3 {
  font-size: 0;
  width: 100%;
  height: 25%;
  margin-top: 2.1%;
  background-color: rgb(130, 126, 128);
  position: relative;
}

.banner3 div {
  display: inline-block;
  width: 50%;
}

.banner3 .text {
  text-align: center;
  color: white;
  font-size: 10px;
  font-weight: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(0%, -50%);
  margin-bottom: 20px;
}

.banner3 img {
  float: left;
  width: 50%;
  height: 100%;
}

.banner3 .text .font-adjustment {
  font-size: 17px;
  margin: 5px;
}

.footer .footer-nav,
.footer .footer-section {
  margin: auto;
  border-bottom: 1px solid rgb(155, 155, 155);
}

.footer .footer-nav .ul1 {
  display: table;
  margin-right: auto;
  margin-left: auto;
  margin-top: 9%;
  margin-bottom: 3%;
  font-size: 10px;
}

.footer .footer-nav,
.footer .footer-section {
  margin: auto;
  border-bottom: 1px solid rgb(155, 155, 155);
}

.footer .footer-section button {
  font-size: 10px;
  width: 24%;
  height: 2%;
  color: white;
  background-color: rgba(107, 107, 107, 0.87);
  border: 1px solid rgba(107, 107, 107, 0.87);
}

.footer .footer-nav .ul1 {
  display: table;
  margin-right: auto;
  margin-left: auto;
  margin-top: 9%;
  margin-bottom: 3%;
  font-size: 10px;
}

.footer .footer-nav .ul1 li {
  display: inline-block;
  color: rgb(155, 155, 155);
}

.footer .li-border {
  border-right: 1px solid rgb(155, 155, 155);
  padding-right: 5px;
  padding-left: 5px;
}

.footer .li-margin {
  padding-left: 5px;
}

.footer .footer-section .ul2 {
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 4%;
  font-weight: 600;
  font-size: 8.5px;
}

.footer .footer-section .ul2 li {
  color: rgb(155, 155, 155);
}

.footer .footer-foot {
  font-size: 10px;
  vertical-align: middle;
  margin-bottom: 3%;
}

.footer .footer-foot ul {
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;
}

.footer .footer-section .ul2 {
  list-style: none;
}

.footer .footer-section .ul2 li {
  margin-top: 4px;
  margin-bottom: 4px;
}

.footer .footer-foot li {
  display: inline-block;
}

.footer .footer-foot img {
  width: 24px;
  height: 24px;
}

.footer .footer-foot .number {
  float: right;
  font-size: 11px;
}

.footer .footer-foot .number p {
  font-size: 8px;
}

.footer a {
  text-decoration: none;
  color: rgb(155, 155, 155);
}

.demos .row .columns .owl-theme .owl-dots {
  position: absolute;
  bottom: 10px;
  right: 20%;
  left: 20%;
}


/*슬라이드*/

.demos .row .columns .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: rgb(98, 0, 32);
}

.demos .row .columns .owl-theme .item img {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  height: 55%;
}

.demos .row .columns .owl-theme {
  max-width: 100%;
}

.demos .row .columns .owl-theme .item .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.541);
  color: white;
  padding: 3%;
  width: 212px;
  height: 154px;
}

.demos .row .columns .owl-theme .item .text .sub-title {
  font-size: 11px;
  margin-top: 10%;
}

.demos .row .columns .owl-theme .item .text .main {
  font-size: 25px;
}

.demos .row .columns .owl-theme .item .text .conten {
  font-size: 7px;
  margin-top: 7%;
}


/*배너 슬라이드*/

#demom .row .columns .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: rgb(98, 0, 32);
}

#demom .row .columns .owl-theme .item img {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  height: 37%;
}

#demom .row .columns .owl-theme {
  max-width: 100%;
}

#demom .row .columns .owl-theme .item .text {
  position: absolute;
  top: 26%;
  bottom: 26%;
  right: 16.5%;
  left: 16.5%;
  font-size: 14px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.541);
  color: white;
  padding: 3%;
}

#demom .row .columns .owl-theme .item .text p {
  margin: 3%;
}

#demom .row .columns .owl-theme .item .text .sub-title {
  font-size: 11px;
  margin-top: 10%;
}

#demom .row .columns .owl-theme .item .text .main {
  font-size: 25px;
}

#demom .row .columns .owl-theme .item .text .conten {
  font-size: 7px;
  margin-top: 7%;
}


/*민주 끝*/