  /*css 리셋*/
  
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0 auto;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: sans-serif;
  }
  /* HTML5 display-role reset for older browsers */
  
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  
  body {
    line-height: 1;
  }
  
  ol,
  ul {
    list-style: none;
  }
  
  blockquote,
  q {
    quotes: none;
  }
  
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  /*header*/
  
  header {
    width: 100%;
    max-width: 100%
  }
  
  header .center-alignment {
    width: 1200px;
    height: 105px;
    margin: auto;
    position: relative;
  }
  
  header .center-alignment .cent a {
    display: inline-block;
  }
  
  header .event-nav {
    display: inline-block;
    font-size: 13px;
    position: absolute;
    left: 0;
    top: 37%;
    bottom: 37%;
  }
  
  header .event-nav a {
    display: inline-block;
  }
  
  header .event-nav ul a {
    text-decoration: none;
    color: #555555;
  }
  
  header .event-nav .product,
  header .event-nav .technology {
    text-decoration: none;
    padding: 4.5 15 4.5 15;
    font-weight: 600;
  }
  
  header .event-nav .product {
    color: rgb(75, 77, 81);
    border: 1px solid rgb(75, 77, 81);
    border-radius: 15px;
  }
  
  header .event-nav .technology {
    background-color: rgb(75, 77, 81);
    color: white;
    border-radius: 15px;
  }
  
  header .event-nav li {
    display: inline-block;
    color: rgba(75, 77, 81, 0.863);
    font-size: 13px;
  }
  
  header .event-nav ul .eve-button a {
    width: 85px;
    text-align: center;
    height: 30px;
    padding-top: 5px;
  }
  
  header .center-alignment .event-nav .left {
    margin-left: 10px;
  }
  
  header .event-nav .border-right {
    padding-right: 15px;
    border-right: 1px solid rgba(75, 77, 81, 0.747);
    margin-right: 0px;
  }
  
  header .cent {
    text-align: center;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  
  header .cent .main {
    font-size: 28px;
    font-weight: 700;
  }
  
  header .cent .sub {
    font-size: 11px;
    font-weight: 600;
    color: rgba(75, 77, 81, 0.733);
  }
  
  header .sub-nav {
    display: inline-block;
    position: absolute;
    right: 0;
    font-size: 13px;
    top: 37%;
    bottom: 37%;
  }
  
  header .sub-nav a {
    display: inline-block;
    text-decoration: none;
    color: black;
  }
  
  header .sub-nav li {
    display: inline-block;
  }
  
  header .sub-nav img {
    margin: 0 5 5 5;
    vertical-align: middle;
  }
  /*nav*/
  
  .main-nav {
    font-size: 0;
    background-color: rgb(246, 246, 246);
    max-width: 100%;
    width: 100%;
    min-width: 1200px;
  }
  
  .main-nav a {
    text-decoration: none;
    color: black;
    font-weight: 550;
  }
  
  .main-nav .nav-ul {
    width: 1200px;
    margin: auto;
    height: 55px;
    position: relative;
  }
  
  .main-nav .nav-ul button {
    border: none;
  }
  
  .main-nav .line,
  .main-nav .search {
    width: 55px;
    height: 55px;
    display: inline-block;
  }
  
  .main-nav .line {
    background-color: rgb(40, 54, 89);
  }
  
  .main-nav .nav-ul>li:first-child {
    display: inline-block;
  }
  
  .main-nav .nav-list {
    font-size: 15px;
    padding-left: 45px;
    vertical-align: top;
    display: inline-block;
  }
  
  .main-nav .border-right2 {
    padding-right: 45px;
    border-right: 1px solid rgba(75, 77, 81, 0.733);
  }
  
  .main-nav .nav-ul .sear {
    vertical-align: top;
  }
  
  .main-nav .sear {
    display: inline-block;
  }
  
  .main-nav .search {
    background-color: rgb(75, 77, 81);
  }
  
  .main-nav .search img {
    margin-right: 3px;
    margin-bottom: 3px;
  }
  /*section banner*/
  
  section .banner-slide {
    height: 480px;
  }
  
  section .banner-slide .banner-backimg {
    background-image: url("img/background_img.png");
    height: 480px;
    width: 1903px;
    min-width: 1200px;
    max-width: 100%;
  }
  
  section .banner-slide .banner-width {
    margin: auto;
    width: 1200px;
    height: 480px;
    position: relative;
  }
  
  section .banner-slide .item a {
    display: block;
  }
  
  section .banner-slide .item img {
    position: absolute;
    z-index: -1;
    width: 1903px;
    height: 480px;
  }
  
  section .banner-slide .item .text {
    font-size: 13px;
    color: rgba(150, 150, 150, 0.733);
    font-weight: 700;
    display: inline-block;
    position: absolute;
    top: 119px;
    padding-left: 35px;
    border: 1px solid rgba(77, 77, 77, 0.719);
    padding-top: 33px;
    padding-bottom: 40px;
    width: 400px;
    height: 245px;
  }
  
  section .banner-slide .item .text strong {
    color: rgb(72, 88, 217);
    font-weight: 700;
    margin-top: 33px;
  }
  
  section .banner-slide .item h4 {
    font-size: 19.5px;
    margin-top: 17px;
    color: white;
  }
  
  section .banner-slide .item .text p {
    color: #848484;
    display: block;
    margin-top: 20px;
  }
  
  section .banner-slide .item .hr {
    border: 0.5px solid #848484;
    width: 320px;
    margin: 0;
    margin-right: 45px;
  }
  /* 
  
  section .banner-slide .item .location {
    margin-top: 20px;
  }
  
  section .banner-slide .item .day {
    margin-bottom: 40px;
  } */
  /*section list*/
  
  section .list {
    width: 100%;
    background-color: rgb(246, 246, 246);
    max-width: 100%;
    min-width: 1200px;
  }
  
  section .list .list-width {
    width: 1200px;
    margin: auto;
  }
  
  section .list .list-width .list-title {
    text-align: center;
    padding-top: 90px;
    margin-bottom: 40px;
  }
  
  section .list .list-width .list-title .information {
    font-size: 25px;
    font-weight: 700;
    display: inline-block;
    position: relative;
  }
  
  section .list .list-width .list-title .information span {
    position: absolute;
    font-weight: 300;
    color: #888888;
    font-size: 16px;
    border: 1px solid #888888;
    border-radius: 20px;
    width: 13px;
    height: 13px;
    background-color: white;
    line-height: 10px;
    margin: 13px 5px 5px 5px;
  }
  
  section .list .list-width .list-title p:last-child {
    font-size: 14px;
    font-weight: 600;
  }
  
  section .list .list-width .technology-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 5rem;
  }
  
  section .list .list-width .technology-list li {
    background-color: white;
    display: inline-block;
    margin: 0;
  }
  
  section .list .list-width .technology-list>li {
    display: inline-block;
    border: 1px solid #888888;
    width: 370px;
    height: 465px;
    position: relative;
    margin-bottom: 3rem;
  }
  
  section .list .list-width .technology-list>li .img-div {
    position: relative;
    overflow: hidden;
  }
  
  section .list .list-width .technology-list>li img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  section .list .list-width .technology-list .kinds {
    font-weight: 700;
    border-bottom: 2px solid black;
    display: inline-block;
    color: rgb(40, 54, 89);
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  section .list .list-width .technology-list .main-title {
    font-weight: 700;
    margin-bottom: 5px;
  }
  
  section .list .list-width .technology-list .writer {
    display: inline-block;
    border-right: 1px solid #888888;
    padding-right: 15px;
    font-weight: 600;
    font-size: 11px;
    color: #777777;
    height: 14px;
  }
  
  section .list .list-width .technology-list .date {
    display: inline-block;
    margin-left: 10px;
    font-weight: 600;
    font-size: 11px;
    color: #777777;
  }
  
  section .list .list-width .technology-list .img-div {
    border-bottom: 1px solid #aaaaaa;
    width: 370px;
    height: 266px;
  }
  
  section .list .list-width .technology-list .text {
    height: 134px;
    position: relative;
    margin: 25px 0px 0px 30px;
  }
  
  section .list .list-width .technology-list .text .info {
    position: absolute;
    bottom: 25px;
  }
  
  section .list .list-width .technology-list .text .mar-bottom {
    margin-bottom: 10px;
  }
  
  section .list .list-width .technology-list .text a {
    display: block;
    text-decoration: none;
    color: black;
  }
  
  section .list .list-width .technology-list ul {
    background-color: rgb(246, 246, 246);
    height: 35px;
    width: 100%;
    position: absolute;
    bottom: 0px;
  }
  
  section .list .list-width .technology-list ul a {
    text-decoration: none;
    color: #757575;
  }
  
  section .list .list-width .technology-list ul li {
    font-weight: 700;
    font-size: 14px;
    color: #777777;
    background-color: rgb(246, 246, 246);
    vertical-align: top;
    margin-top: 6px;
  }
  
  section .list .list-width .technology-list ul>li:first-child {
    width: 90px;
    text-align: right;
    padding-right: 5px;
  }
  
  section .list .list-width .technology-list ul>li:last-child {
    width: 215px;
    margin-left: 24px;
  }
  
  section .list .list-width .technology-list li ul .bracket {
    border: solid rgb(173, 173, 173);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 12px;
    margin-top: 5px;
  }
  
  section .list .list-width .technology-list li ul .bracket {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  /* section .list .list-width .technology-list li ul .bracket {
    width: 2px;
    height: 35px;
    position: relative;
    background: #757575;
    display: inline-block;
  }
  
  section .list .list-width .technology-list li ul .bracket:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid rgb(246, 246, 246);
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
  
  section .list .list-width .technology-list li ul .bracket:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid #757575;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  } */
  /*section 시장동향*/
  
  section .research {
    width: 100%;
    margin-bottom: 120px;
  }
  
  section .research .research-width {
    width: 1200px;
    margin-top: 125px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  section .research .robot-width {
    width: 1200px;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  section .research .research-width ul,
  section .research .robot-width ul {
    display: inline-block;
    vertical-align: top;
    border-top: 2px solid black;
  }
  
  section .research .research-width .research-nav,
  section .research .robot-width .robot-nav {
    width: 28.35%;
    height: 365px;
    margin-right: 100px;
  }
  
  section .research .research-width .research-nav li,
  section .research .robot-width .robot-nav li {
    display: block;
    text-align: right;
  }
  
  section .research .research-width .research-nav li a,
  section .research .robot-width .robot-nav li a {
    text-decoration: none;
    color: rgb(40, 54, 89);
  }
  
  section .research .research-width .research-nav .market-name a,
  section .research .robot-width .robot-nav .market-name a {
    text-decoration: none;
    color: black;
  }
  
  section .research .research-width .research-nav p,
  section .research .robot-width .robot-nav p {
    /* margin: 5 0 5 5; */
  }
  
  section .research .research-width .research-nav .market-name,
  section .research .robot-width .robot-nav .market-name {
    font-size: 23px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  section .research .research-width .research-nav .explanation,
  section .research .robot-width .robot-nav .explanation {
    font-size: 13px;
    color: #888888;
    margin-bottom: 20px;
  }
  
  section .research .research-width .research-nav li:last-child,
  section .research .robot-width .robot-nav li:last-child {
    color: rgb(40, 54, 89);
    font-size: 14px;
    font-weight: 600;
    /* margin-top: 25px; */
  }
  
  section .research .research-width .research-nav img,
  section .research .robot-width .robot-nav img {
    vertical-align: middle;
  }
  
  section .research .research-width .research-nav-list,
  section .research .robot-width .robot-nav-list {
    width: 62.87%;
  }
  
  section .research .research-width .research-nav-list div,
  section .research .robot-width .robot-nav-list div {
    display: inline-block;
    /* margin: 25px 20px 25px 25px; */
  }
  
  section .research .research-width .research-nav-list li,
  section .research .robot-width .robot-nav-list li {
    border-bottom: 1px solid #888888ce;
    position: relative;
    /* padding-top: 27px;
    padding-bottom: 24px;
    padding-left: 45px; */
    padding: 27px 0px 24px 45px;
  }
  
  section .research .research-width .research-nav-list li span,
  section .research .robot-width .robot-nav-list li span {
    border: solid rgb(173, 173, 173);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 8px;
    position: absolute;
    right: 5px;
    top: 40px;
  }
  /*꺽쇠 버튼*/
  
  section .research .research-width .research-nav-list li .bracket,
  section .research .robot-width .robot-nav-list li .bracket {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  /**/
  
  section .research .research-width .research-nav-list .date,
  section .research .robot-width .robot-nav-list .date {
    text-align: center;
    margin-right: 45px;
  }
  
  section .research .research-width .research-nav-list .date .month,
  section .research .robot-width .robot-nav-list .date .month {
    font-size: 22px;
    font-weight: 700;
    color: rgb(40, 54, 89);
  }
  
  section .research .research-width .research-nav-list .date .day,
  section .research .robot-width .robot-nav-list .date .day {
    font-size: 10px;
  }
  
  section .research .research-width .research-nav-list p,
  section .research .robot-width .robot-nav-list p {
    color: #555555;
    font-size: 13px;
    font-weight: 600;
  }
  
  section .research .research-width .research-nav-list .business-name,
  section .research .robot-width .robot-nav-list .business-name {
    font-size: 17px;
    font-weight: 600;
    color: black;
    margin-bottom: 5px;
  }
  
  section .research .research-width .research-nav-list .business-name a,
  section .research .robot-width .robot-nav-list .business-name a {
    text-decoration: none;
    color: black;
  }
  /*section foot*/
  
  section .section-foot {
    background-image: url(img/background_img2.png);
    width: 100%;
    height: 340px;
    min-width: 1200px;
    max-width: 100%;
  }
  
  section .section-foot .section-foot-width {
    width: 1200px;
    margin: auto;
    padding-top: 50px;
  }
  
  section .section-foot .section-foot-width .support {
    width: 59.4%;
  }
  
  section .section-foot .section-foot-width .notice {
    width: 39%;
    float: right;
  }
  
  section .section-foot .section-foot-width .support ul .float div {
    display: inline-block;
  }
  
  section .section-foot .section-foot-width .support ul .float {
    float: right;
  }
  
  section .section-foot .section-foot-width .support ul:last-child,
  section .section-foot .section-foot-width .notice ul:last-child {
    padding-bottom: 17.9px;
  }
  
  section .section-foot .section-foot-width .support div a,
  section .section-foot .section-foot-width .notice div a {
    text-decoration: none;
    color: rgb(40, 54, 89);
  }
  
  section .section-foot .section-foot-width .support,
  section .section-foot .section-foot-width .notice {
    background-color: rgba(255, 255, 255, 0.856);
    display: inline-block;
    padding: 35px 35px 0px 35px;
  }
  
  section .section-foot .section-foot-width .support div,
  section .section-foot .section-foot-width .notice div {
    margin-bottom: 5px;
  }
  
  section .section-foot .section-foot-width .support ul,
  section .section-foot .section-foot-width .notice ul {
    margin-top: 10px;
  }
  
  section .section-foot .section-foot-width .support li,
  section .section-foot .section-foot-width .notice li {
    display: inline-block;
  }
  
  section .section-foot .section-foot-width .support div p,
  section .section-foot .section-foot-width .notice div p {
    display: inline-block;
  }
  
  section .section-foot .section-foot-width .support .sup-title {
    font-weight: 600;
    font-size: 13px;
  }
  
  section .section-foot .section-foot-width .support .sup-title a,
  section .section-foot .section-foot-width .notice .sup-title a {
    text-decoration: none;
    color: black;
  }
  
  section .section-foot .section-foot-width .notice .sup-title {
    font-weight: 600;
    font-size: 13px;
  }
  
  section .section-foot .section-foot-width .support .source {
    color: #888888;
    margin-right: 8px;
    font-size: 12px;
  }
  
  section .section-foot .section-foot-width .support .date {
    color: #888888;
    border-left: 1px solid #888888;
    padding-left: 12px;
    font-size: 12px;
    height: 15px;
  }
  
  section .section-foot .section-foot-width .notice .date {
    color: #888888;
    font-size: 12px;
    float: right;
  }
  
  section .section-foot .section-foot-width .support div p,
  section .section-foot .section-foot-width .notice div p {
    font-size: 13px;
    color: rgb(40, 54, 89);
    font-weight: 600;
  }
  
  section .section-foot .section-foot-width .support div p img,
  section .section-foot .section-foot-width .notice div p img {
    vertical-align: middle;
    margin: 0 0 0 5;
  }
  
  section .section-foot .section-foot-width .support .name,
  section .section-foot .section-foot-width .notice .name {
    font-size: 19px;
    font-weight: 700;
    color: black;
  }
  
  section .section-foot .section-foot-width .support .more,
  section .section-foot .section-foot-width .notice .more {
    float: right;
  }
  /*footer*/
  
  footer {
    background-color: rgb(75, 77, 81);
    color: rgba(255, 255, 255, 0.836);
    font-size: 13px;
    width: 100%;
    min-width: 1200px;
    max-width: 100%;
    padding-bottom: 40px;
  }
  
  footer .footer-width {
    padding-top: 30px;
    width: 1200px;
    margin: auto;
    position: relative;
  }
  
  footer .footer-width ul:last-child li {
    padding-bottom: 5px;
  }
  
  footer .footer-width ul:last-child li {
    padding: 5 0 5 0;
  }
  
  footer .footer-width .terms {
    margin: 0 0 20 0;
  }
  
  footer .footer-width .terms a {
    text-decoration: none;
    color: white;
  }
  
  footer .footer-width span {
    background-color: rgba(0, 0, 0, 0.699);
    position: absolute;
    right: 0;
    top: 0;
    width: 42px;
    height: 42px;
    text-align: center;
    padding-top: 8px;
  }
  
  footer .footer-width .terms li {
    display: inline-block;
    font-weight: 600;
    margin-left: 12px;
  }
  
  footer .footer-width .terms>li {
    margin-left: 5px;
  }
  
  footer .footer-width .terms .border-right {
    border-right: 1px solid rgba(255, 255, 255, 0.836);
    padding-right: 10px;
  }
  
  footer .footer-width .terms .no-left-magin {
    margin-left: 0;
  }
  
  footer a {
    display: block;
  }
  
  footer .footer-width ul:last-child {
    margin-top: 25px;
  }