ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: 'Dosis', sans-serif;
  background: #333
}

#menu-wrapper {
  overflow: hidden;
  max-width: 55px;
  cursor: pointer;
  background-color: rgb(45, 54, 89);
}

#menu-wrapper #hamburger-menu {
  position: relative;
  width: 25px;
  height: 55px;
  height: 20px;
  margin: 17.5px 15px 17.5px 15px;
}

#menu-wrapper #hamburger-menu span {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  left: 0%;
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  color: black;
  background-color: white;
  position: absolute;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

#menu-wrapper #hamburger-menu span:nth-child(1) {
  top: 0;
}

#menu-wrapper #hamburger-menu span:nth-child(2) {
  top: 9px;
}

#menu-wrapper #hamburger-menu span:nth-child(3) {
  top: 18px;
}

#menu-wrapper #hamburger-menu.open span:nth-child(1) {
  top: 9px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

#menu-wrapper #hamburger-menu.open span:nth-child(2) {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  left: -60px;
}

#menu-wrapper #hamburger-menu.open span:nth-child(3) {
  top: 9px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

#menu-container .menu-list {
  position: absolute;
}

#menu-container .menu-list .menu-submenu {
  padding: 0;
  display: none;
}

#menu-container .menu-list .menu-submenu li:first-child {
  text-align: center;
}

#menu-container .menu-list .menu-submenu li a {
  display: block;
  padding: 10px 10px 10px 10px;
}

#menu-container .menu-list .menu-submenu li a:hover {
  background: #eee;
}

#menu-container .menu-list {
  padding-left: 0;
  display: block;
  position: absolute;
  background: white;
  box-shadow: rgba(100, 100, 100, 0.2) 6px 2px 10px;
  z-index: 999;
  overflow-y: auto;
  overflow-x: hidden;
  left: -100%;
}

#menu-container .menu-list .menu-link {
  display: inline-block;
  vertical-align: top;
}

#menu-container .menu-list li.accordion-toggle .menu-link {
  font-size: 16px;
  padding: 20px;
  text-transform: uppercase;
  border-top: 1px solid #dbdcd2;
}


/* #menu-container .menu-list li.accordion-toggle .menu-link {
  vertical-align: top;
} */

#menu-container .menu-list li.accordion-toggle .menu-link:hover {
  vertical-align: top;
  display: inline-block;
}

#menu-container .menu-list li:first-of-type {
  border-top: 0;
}

.accordion-toggle,
.accordion-content {
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 1px;
}

.accordion-toggle .menu-link::after,
.accordion-toggle .menu-link::before {
  content: '';
  /* display: inline-block; */
  position: absolute;
  top: 50%;
  right: 30px;
  width: 15px;
  height: 2px;
  margin-top: -1px;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s ease-out;
}

.accordion-toggle .menu-link:before {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  opacity: 1;
  z-index: 2;
  display: none;
}

.accordion-toggle.active-tab {
  background: yellowgreen;
  transition: all 0.3s ease;
}

.accordion-toggle .menu-link.active:before {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  background: #fff !important;
}

.accordion-toggle .menu-link.active:after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  background: #fff !important;
  opacity: 0;
}


/*
*/