/* * {
  margin: 0;
  padding: 0;
} */

.nav-list2 a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 18px;
}

.nav-list2 {
  position: relative;
  border: 1px solid thistle;
  /* height: 50vh; */
  width: 470px;
}

.nav-list2 .nav-button .hover a {
  display: inline-block;
  padding: 10px 0px 10px 20px;
  text-align: center;
}

.nav-list2 .nav-button .hover {
  border: 1px solid steelblue;
  height: 380px;
  width: 300px
}

.nav-list2 .nav-button li {
  text-align: center;
}

.nav-list2 .nav-button ul {
  display: none;
  list-style: none;
  position: absolute;
  left: 170px;
  top: 0;
}


/* .nav-list .nav-button ul:first-child {
  display: inline-block;
} */

.nav-button .list {
  width: 170px;
  border: 1px solid yellowgreen;
  display: inline-block;
  padding: 20px 30px 20px 30px;
  font-size: 15px;
  color: #2E2E2E;
}

.nav-button .list:hover {
  vertical-align: top;
  background-color: wheat;
}

.nav-button:hover ul {
  display: block;
  color: black;
  font-size: 18px;
}

.nav-list2 .nav-button .hover li {
  text-align: left;
  margin: 0px 23px 0px 40px;
}

.nav-list2 .nav-button .hover li a {
  color: dimgray;
  font-size: 15px;
  font-weight: 600;
}

.nav-list2 .nav-button .hover .list-name {
  padding: 20px 0px 20px 0px;
  margin: 5px 30px 5px 30px;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 2px solid black;
  text-align: center;
}