/* 공통 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* 공통끝 */


/* 선호 */
.hrd{
	width: 100%;
  border-bottom: 1px solid grey;
  padding: 10px 0;
}
.hrd .inner a {
  text-decoration: none;
}
.hrd nav{
  width:1080px;
  margin: 0 auto;
  position: relative;
}
.hrd .inner{
  display: inline-block;
  position: absolute;
  top:20px;
  width: 1080px;
}
.hrd .inner ul{
  display: flex
}
.hrd .inner ul li{
  padding-left: 85px;
}
.hrd .inner ul li:nth-child(1){
  margin-left:50px; 
}
.hrd .first-logo{
  display: inline-block;
  width: 105px;
  height: 63px;
  margin-top: 15px; 
}
.main{
  width: 1080px;
  margin: 0 auto;
  text-align:center;
}
.main h1{
  font-weight:bold; 
  margin-top: 15px;
  font-size: 45px;
  margin-bottom: 15px;
}
.main p{
  margin-bottom: 55px;
}
.main hr{
  width: 50px;
}
.images{
  background-color: antiquewhite; 
  padding-bottom: 55px;
}
.images .random-image h2{
  font-weight:bold; 
  padding-top: 55px;
}
.images .random-image{
  width: 1080px;
  margin: 0 auto;
}
.images .random-image ul{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.images .random-image ul li{
  flex-basis: calc( 100% / 4 - 10px);
  margin: 5px;
}
.images .random-image ul li img{
  width: 100%;
}
.footer-info{
  position: relative;
  width: 1080px;
  margin: 0 auto;
  font-size: 12px;
}
.footer-nav{
  padding: 15px 0;
  
}
.footer-nav li{
  display: inline-block;
  padding-right: 7px;
  
}
.footer-nav li a{
  text-decoration: none;
  border-right: 1px solid grey;
  padding-right: 7px;
}
.footer-nav li:last-child a{
  border-right: 0;
}
.footer-textinfo {
  display: inline-block;
}
.footer-textinfo li{
  display: inline-block;
  border-right: 1px solid grey;
  padding-right: 7px;
  margin-bottom: 5px;
}
.footer-info p{
  margin-top:15px;
  padding-bottom: 15px; 
}
.footer-img{
  position: absolute;
  width: 78px;
  height: 72px;
  right: 15px;
  top: 30px;
}
.front-text{
  font-weight:bold; 
}

/* 선호끝 */


/* 민주 */
.menu {
	position: relative;
	width: 100%;
	width: 1080px;
	margin: auto;
	margin-bottom: 10px;
	margin-top: 10px;
}

.menu li{
	display: inline-block;
	vertical-align: middle;
	text-align: right;
	margin: 0;
	margin-right: 0px;
}
.menu a{
	text-decoration: none;
	color: black;
	margin-left: 76px;
	
}
.first{
	text-align: center;
}
.first h1{
	font-size: 35px;
	margin: 15px;
	font-weight: bold;
}
.first hr{
	width: 100px;
	margin-top: 50px;
}
.first img{
	padding-top: 30px;
	width: 1080px;
	padding-bottom: 30px;
	margin-bottom: 50px;
}
.second{
	background-color: #EFF2FB;
	padding-top: 60px;
	height: 1050px;
}
.second ul{
	margin: auto;
	width: 1080px;
	display: flex;
	flex-wrap: wrap;
	
}
.second li{
	display: inline-block;
	flex-basis: calc( 100% / 4 - 10px);
	margin: 5px;
}
.second h4{
	font-size: 25px;
	width: 1080px;
	margin: auto;
	font-weight: bold;
}
.second img{
	width: 100%;
}
.foot{
	font-size: 12px;
	font-weight: 5px;
	margin: auto;
	width: 1080px;
	position: relative;
}
.foot .one{
	margin-bottom: 20px;
	margin-top: 10px;
}
.foot li{
	display: inline-block;
	vertical-align: middle;
}
.foot .two .spc{
	margin-bottom: 10px;
	width: 950px;
}
.foot a{
	text-decoration: none;
	color: black;
}
.foot span{
	position: absolute;
	right: 0px;
	top:30px;
}
.foot strong{
	font-weight: 600;
	font-size: 14px;
}
.foot .two li{
	list-style: none;
}
.foot .two .copy{
	margin-top: 20px;
}
.foot .two .spc .spa{
	margin: 2px;
}
/* 민주끝 */

/* 호근 */
header.gnb{ 
  width: 100%;
  border-bottom: 1px solid grey;
  padding: 10px 0;
}
header.gnb a{
  text-decoration: none;
}
header.gnb nav {
  position: relative;
  width: 1080px;
  margin: 0 auto;
}
header.gnb .nav-list-wrap {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 20px;
  width: calc( 100% - 100px );
}
header.gnb .nav-list-wrap ul{
  display: flex;
}
header.gnb .nav-list-wrap ul li{
  flex: 1 1 auto;
  text-align: right;
}
header.gnb nav .spc-logo{
  display: inline-block;
  width: 75px;
  height: 63px;
  vertical-align: middle;
}
section.topper{
  padding: 50px 0;
}
section.topper .wrapper{
  width: 1080px;
  margin: 0 auto;
  text-align: center;
}
section.topper .wrapper h2{
  font-size: 35px;
  font-weight: 600;
}
section.topper .wrapper .sub-txt{
  font-size: 16px;
  margin-top: 20px;
}
section.topper .wrapper .banner{
  margin-top: 50px;
}

section.gallery-list{
  padding: 50px 0;
  background-color: beige;
}
section.gallery-list .wrapper{
  width: 1080px;
  margin: 0 auto;
}
section.gallery-list .wrapper h3{
  font-size: 22px;
  font-weight: 600;
  color: grey;
}
section.gallery-list .wrapper ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}
section.gallery-list .wrapper ul li{
  flex: 0 0 auto;
  flex-basis: calc( 100% / 4 - 10px);
  margin-bottom: 8px;
}
section.gallery-list .wrapper ul li:nth-of-type(4n){
  margin-right: 0;
}
section.gallery-list .wrapper ul li img{
  width: 100%;
}
section.spc-footer{
  padding: 20px 0;
}
section.spc-footer .wrapper{
  position: relative;
  width: 1080px;
  margin: 0 auto;
  font-size: 12px;
  color: grey;
}
section.spc-footer .wrapper .links{
  padding: 15px 0;
}
section.spc-footer .wrapper .links li{
  display: inline-block;
  margin-right: 10px;
}
section.spc-footer .wrapper .links li a{
  text-decoration: none;
  border-right: 1px solid grey;
  padding-right: 15px;
}
section.spc-footer .wrapper .links li:last-child a{
  border-right: 0;
}
section.spc-footer .wrapper .another-academy .title{
  margin-right: 5px;
  font-size: 14px;
  font-weight: 600;
}
section.spc-footer .wrapper .another-academy > li{
  margin-bottom: 5px;
  margin-right: 3px;
}
section.spc-footer .wrapper .another-academy .info-txt{
  display: inline-block;
}
section.spc-footer .wrapper .another-academy .info-txt li {
  display: inline-block;
  border-right: 1px solid grey;
  padding-right: 7px;
  
}
section.spc-footer .wrapper .another-academy .info-txt li:last-child{
  border-right: 0;
}
section.spc-footer .wrapper .footer-spc-logo {
  position: absolute;
  width: 78px;
  height: 72px;
  right: 0;
  top: 30px;
}

.copyrights {
  margin: 30px 0;
  font-size: 12px;
}


.strong-txt{
  font-weight: 600;
}
.icon-bar{
  display: inline-block;
  height: 2px;
  width: 100px;
  margin-bottom: 20px;
  background-color: grey;
}